[2019-05-19 20:19] Nothing4You opened #1 "company submission form claims successful submission even when it wasn't successful"
Hi,
if the request to submit a new company fails in the background the site is still claiming it was submitted successfully:

This can easily be reproduced by installing uMatrix, which in default configuration doesn't allow requests to third party domains.

[2019-05-19 22:09] baltpeter commented on #1
Hi,

thank you very much for the report!

We do indeed seem to display the success modal even in case of an error (https://github.com/datenanfragen/website/blob/master/src/suggest-edit.js#L123) for some reason. That really shouldn't be the case.

Unfortunately, we won't be able to POST the data to the same origin as the website is designed as a static page but we should at least give the user some

[2019-05-26 17:46] baltpeter commented on #1
This should be fixed in 3aa3f81, waiting for review by @zner0L.

[2019-06-23 17:30] baltpeter commented on #1
The fix is now (finally) live.

[2019-06-23 17:30] #1 closed

[2019-07-14 16:58] greenkeeper[bot] opened #3 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on Greenkeeper branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because it uses your CI build statuses to figure out when to notify you about breaking changes.

Since we didn’t receive a CI stat

[2019-07-14 17:08] #3 closed

[2019-09-10 11:15] Ramblurr opened #65 "Right to object"
I think it would be a valuable addition to the site to generate "Right to object" letters.

Often we interact with companies that for various reasons we want to have and process our data, however by default these companies also process our data for the purpose of things like direct marketing etc.

According to the GDPR we are able to object to the processing of this data, but how to do so isn't al

[2019-09-11 19:07] baltpeter commented on #65
Thanks for the suggestion! You are right, currently objection is only handled through our erasure template. We didn't really consider cases where you *do* want to use a service but only allow them to process some data.

I'll discuss this with @zner0L.

[2019-09-12 06:57] Ramblurr commented on #65
Given that companies provide all types of services, it would be difficult to make a template suitable for all of them.

However in most cases I think we object to the processing of our data for direct marketing and third-party processing purposes. At least of the handful of objection letters I've sent out the past month have all been against direct marketing.

I used the great existing feature to

[2019-09-12 07:11] baltpeter commented on #65
I agree, direct marketing is probably the most relevant. We would probably would design the template similarly to our erasure template where the generator asks you what data you want deleted. I could imagine something similar working for objections.

[2019-10-03 14:52] baltpeter commented on #65
As a first step, I have now created a PR (datenanfragen/data#228) with a first draft of this template. After it is reviewed and merged by @zner0L, we can look at creating a blog post with sample letters and including the template in the generator.

[2019-10-03 16:27] baltpeter opened #81 "noindex the Netlify builds"
The branch builds are also indexed by Google. Probably not a good idea.

[2019-10-03 16:33] baltpeter opened #82 "Generator: More logical order for the request parameters"
The transport medium should really come before the recipient address input.

In addition, the address input should be changed to an email address input if 'email' is selected. We might also want to consider still showing the address in the company widget.

[2019-10-03 16:35] baltpeter opened #83 "Make dropdown into a component"
Also add `aria-expanded` to the content `<div>`.

[2019-10-03 16:36] baltpeter opened #84 "Honor request_language for warnings"
When generating warnings with the generator, all messages are in the user's language, regardless of the `request_language` set in the company record. This needs to be corrected.

[2019-10-03 16:37] baltpeter opened #85 "Restructure content dir"
We could structure our content more sensibly.

Suggestions:

* Use folders for i18n instead of filenames.
* Include images for a blog post in the corresponding content folder instead of in the `static` dir.

[2019-10-03 16:39] baltpeter opened #86 "Highlight non-default fields"
When working with the wizard, one easily starts sending one request after another without really checking anything. That *usually* works well thanks to the ID data saving. It is an issue though when there is a non-default field. Those can be easily missed and just left blank. We should therefore highlight these somehow.

[2019-10-03 16:40] baltpeter opened #87 "Don't add empty fields to the letter"
If a user leaves an input empty, that field should not be added to the generated letter.

[2019-10-03 16:41] baltpeter opened #88 "Only prompt for removal confirmation when a dynamic input actually contains user-entered data"

[2019-10-03 16:43] baltpeter opened #89 "Blog post: Essential browser extensions for more privacy"
This should include extensions like HTTPS Everywhere, Privacy Badger etc.

We should also strongly recommend using Firefox.

The post can be in English or German.

[2019-10-03 16:45] baltpeter opened #90 "Blog post(s): Automatic data export features"
Many services now offer automatic data download features. We should have blogs posts describing how to use them. These posts could maybe also include screencasts or at least screenshots of the process.

A list of services I can think of (although there are more of them):

* Twitter
* Facebook
* Apple
* Google
* Duolingo
* Spotify

These posts can be in English or German.

[2019-10-03 16:46] baltpeter opened #91 "Automatically crop the signature"
It would be great if we could crop the signature.

Whenever I tested the signature input, I found it quite hard to judge how much space was needed for my signature and often ended up with quite large margins (especially at the top and bottom) which look fairly ugly in the PDF.

[2019-10-03 16:47] baltpeter opened #92 "Indicate when we consider a request done"
When working with the wizard, it is sometimes easy to forget if you have sent the request that is currently open already (especially when pausing for a while).

Since we already have a point at which we consider a request 'done', we should simply indicate that to the user (by changing the color of the button or something similar).

[2019-10-03 16:55] abhisheknaiidu commented on #90
I would like to work on it! but could u explain a little bit more regarding this?

[2019-10-03 17:00] abhisheknaiidu commented on #89
I would like to work on it!

[2019-10-03 17:13] baltpeter commented on #89
Sure, thank you! If you need any help, let me know.

[2019-10-03 17:18] baltpeter commented on #90
Not sure if you've taken a look at the [website](https://www.datarequests.org) yet but our goal is to make it as easy as possible for users to exercise their GDPR rights. For some services, like [Google](https://support.google.com/accounts/answer/3024190?hl=en) and [Facebook](https://www.facebook.com/help/1701730696756992?helpref=hc_global_nav) for example, you don't even need to send an access re

[2019-10-03 17:26] hendaoui commented on #87
I'm working on it ;)

[2019-10-03 18:34] baltpeter opened #93 "Translate GDPR cheat sheet blog post from German to English"
We have a [GDPR cheat sheet blog post](https://www.datenanfragen.de/blog/dsgvo-glossar/) ([this file](https://github.com/datenanfragen/website/blob/master/content/blog/gdpr-cheat-sheet.de.md)) that is essentially just a short explanation of important GDPR terms and topics.

That blog post is currently only available in German. We should translate it to English.

[2019-10-03 18:37] abhisheknaiidu commented on #89
So should i write and post an article related to it here only ?

[2019-10-03 18:45] baltpeter commented on #89
Not quite sure if I understand your question, to be honest. Our blog posts are saved as Markdown files in [this directory](https://github.com/datenanfragen/website/tree/master/content/blog). Feel free to have a look at the existing ones to get an idea what they look like.

[2019-10-03 18:50] drd-2rcl commented on #93
Hi, i would like to get this issue

[2019-10-03 18:50] baltpeter commented on #93
Sure, thank you!

[2019-10-03 20:44] ggangix commented on #87
I would like to work on it.

[2019-10-03 20:45] baltpeter commented on #87
Sure, thank you! Let me know if you have any questions.

[2019-10-03 21:26] ggangix commented on #87
Hi, looks like I need some orientation to start the development version, after run yarn dev, I can't find in witch port the server is? I thought that was something like 8080. Or have I to do something more?

Sorry for the question and thanks.

[2019-10-03 21:30] baltpeter commented on #87
No worries, we absolutely do need to work on our docs for that.

In addition to `yarn dev`, you also need to run `hugo server --disableFastRender` to actually build the site and serve it. Also make sure you've executed [`deploy.sh`](https://github.com/datenanfragen/website#development) before to make sure you have a local copy of the company database.

[2019-10-04 13:24] tstrohmeier commented on #65
I think this template could be used also in a more generic way.

Take the sentence "ich lege hiermit Widerspruch gegen die Verarbeitung meiner personenbezogenen Daten für Direktwerbung gemäß Art. 21 Abs. 2 DSGVO ein." for example: The word `Direktwerbung` could be replaced with a list of unwanted services.

[2019-10-04 14:24] baltpeter commented on #65
Could you expand on what you mean by "a list of unwanted services"? Art. 21(2) GDPR is (unfortunately) very specific in that it only talks about using the data for direct marketing purposes.

Or would you want to narrow that down, i.e. only object to certain types of marketing?

[2019-10-04 16:05] baltpeter commented on #87
Hi! Just a quick note: We are now officially participating in the Hacktoberfest. Anyone who submits a PR to one of our repositories can get a free sticker set from us in addition to the regular swag by DigitalOcean.

Here's our blog post on the subject: https://www.datarequests.org/blog/hacktoberfest-2019/

[2019-10-04 16:05] baltpeter commented on #93
Hi! Just a quick note: We are now officially participating in the Hacktoberfest. Anyone who submits a PR to one of our repositories can get a free sticker set from us in addition to the regular swag by DigitalOcean.

Here's our blog post on the subject: https://www.datarequests.org/blog/hacktoberfest-2019/

[2019-10-04 16:06] baltpeter commented on #90
Hi everyone! Just a quick note: We are now officially participating in the Hacktoberfest. Anyone who submits a PR to one of our repositories can get a free sticker set from us in addition to the regular swag by DigitalOcean.

Here's our blog post on the subject: https://www.datarequests.org/blog/hacktoberfest-2019/

[2019-10-04 16:25] ggangix commented on #87
Hey @baltpeter thanks for your help to run the server, now I am working in the issue and I would like to know witch should be the expected result, currently I remove all the empty fields from the letter, but we still have this line:

"Zur Identifikation einer Person habe ich folgende Daten beigefügt:"

Should we remove this line if the user doesn't fill any field?

Thanks again.

[2019-10-04 16:31] baltpeter commented on #87
That's a great point, I hadn't even considered that!

Removing that line would probably be the best course of action, yes. I think the easiest way would be adding a flag to the template like we are already doing for data portability. You would then only have to set a new flag attribute in the `Request` object and make sure it gets passed along [here](https://github.com/datenanfragen/website/blob/m

[2019-10-04 17:58] sibis commented on #87
@baltpeter Debugging this code locally on my dev machine. Can you please elaborate on this issue. Please throw some more lights on the areas like `steps to reproduce` which will help us to test the current scenario. Thanks

[2019-10-04 18:01] baltpeter commented on #87
Hi @sibis, this issue is already being worked on by @ggangix. I'll gladly provide more details for any other issues you want to work on.

[2019-10-04 18:02] baltpeter commented on #87
Have a look at #88 for example. That one is quite similar. I can post more details on that if you want.

[2019-10-04 18:06] sibis commented on #88
@baltpeter Sure. please elaborate more on this issue. I would like to work on this :)

[2019-10-04 18:07] baltpeter commented on #88
**Steps to reproduce:**

![website-gh-88](https://user-images.githubusercontent.com/4048809/66229524-8971ca00-e6d1-11e9-8235-8530370cd401.gif)

1. Open the generator.
2. Enter some value into one of the "My data" inputs.
3. Try to delete the input with the data entered. You are asked for confirmation. This is intentional and wanted behavior.
3. Try to delete an input *without* data in it. You are

[2019-10-04 18:09] sibis commented on #88
Great. :) Got it @baltpeter.

[2019-10-04 18:50] baltpeter opened #95 "Investigate (and fix) Netlify build errors"
Recently, our branch builds on Netlify have started failing sometimes with Hugo complaining about parser errors.

Example of the errors:

[code]

I have not been able to reproduce this issue locally and it also doesn't seem to affect the production builds (yet?).

From looking at the error messages, this might be related to commits cefbce6 and aa60b4d. Not sure though.

Examples of failing build l

[2019-10-04 19:22] baltpeter opened #96 "Make the privacy controls use our custom checkbox styles"
The checkboxes for the privacy controls (`/privacy-controls`) are currently using the default checkbox styles. We have our own checkbox styles, though. These should also be used here.

Essentially, this should boil down to adding the `form-element` class and maybe some minor layout tweaking to make sure things align nicely.

---

This is what they currently look like:

![image](https://user-images

[2019-10-04 19:30] baltpeter opened #97 "Clicking the description of a privacy control should toggle the checkbox"
On the privacy controls page (`/privacy-controls`), clicking the description of a control should also the checkbox.

The relevant code is [here](https://github.com/datenanfragen/website/blob/master/src/privacy-controls.js#L70).

[2019-10-04 19:36] baltpeter opened #98 "Allow deleting individual saved requests"
On the "My requests" page (`/my-requests`), there is currently only the option of deleting all saved requests.

There should be a delete button next to each request (in a new column), allowing the user to delete individual requests.
We already have a delete button design (in the wizard, for example). This should be used here, as well.

![image](https://user-images.githubusercontent.com/4048809/662

[2019-10-04 19:46] Snaked06 commented on #97
I will like to this issue

[2019-10-04 19:46] baltpeter commented on #97
Sure. Have fun and thanks!

[2019-10-04 19:49] Snaked06 commented on #97
Done

[2019-10-04 19:51] baltpeter opened #100 "Format the dates in the "My requests" table"
On the "My requests" page, the dates are currently formatted as an ISO 8601 string. While I personally absolutely prefer that date format, many users probably won't be used to it. Instead, we should format the date.

The way to go here is probably the [`toLocaleDateString`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date/toLocaleDateString) function.

Some not

[2019-10-04 19:54] baltpeter commented on #97
Fixed in #99. Thanks!

[2019-10-04 19:54] #97 closed

[2019-10-04 21:28] zner0L commented on #95
If it had anything to do with the commits it should happen in all builds, not just branch builds, right?

[2019-10-04 22:06] MeisterRed commented on #98
Hi, I would like to work on this.

[2019-10-04 22:06] baltpeter commented on #98
Great, thank you!

[2019-10-05 14:05] ggangix commented on #100
I would like to take this issue.

[2019-10-05 14:06] baltpeter commented on #100
Please do, thank you!

[2019-10-05 14:08] baltpeter commented on #88
Done in #101.

[2019-10-05 14:08] #88 closed

[2019-10-05 14:08] #87 closed

[2019-10-05 14:50] #100 closed

[2019-10-05 14:58] ggangix commented on #96
I will try to solve this issue.

[2019-10-05 15:13] baltpeter commented on #95
Fixed in #104.

[2019-10-05 15:13] #95 closed

[2019-10-05 18:40] zner0L opened #107 "Rename the IdData class"
Currently, a lot of things in our code are called "id data". As this is confusing we would like to have the name of the `src/Utilities/IdData` class refactored to `SavedIdData`. Please look thoroughly through the code and test it to check if the old name is still used anywhere.

[2019-10-05 19:00] MeisterRed commented on #98
Hey. I'm having some trouble with completing the issue due to it be a bit harder than expected. I'm not super experienced with react so I think its best someone else take the issue from here. My apologies

[2019-10-05 19:01] baltpeter commented on #98
No worries, thanks for trying!

[2019-10-05 19:11] robflop commented on #107
I'll look into this.

[2019-10-05 19:16] thebhushanmhatre commented on #83
I will work on this

[2019-10-05 19:18] baltpeter commented on #83
Thank you!

[2019-10-05 19:23] zner0L opened #108 "Move the request storing to UserRequests"
Currently, requests are just stored by calling `Request::store()` which directly accesses the storage. I would like only one class to make direct access to the storage: `UserRequests`, which acts like a wrapper for all request storing related stuff – apparently except the storing itself. So todos from this issue include:

 - [ ]  Create a method to store requests in `UserRequests`, e.g. `UserReque

[2019-10-05 19:24] zner0L commented on #107
Cool, thank you! Let me know when you have any questions :)

[2019-10-05 19:35] robflop commented on #107
I've got a question then:

Should _every_ instance of IdData (including ``id-data`` and its variations) be renamed to ``SavedIdData`` (and ``saved-id-data`` etc, respectively) or should only direct references to the mentioned class be changed?

Specific example:

[src/id-data-controls Line 130](https://github.com/datenanfragen/website/blob/master/src/id-data-controls.js#L130), which uses a ``custo

[2019-10-05 19:44] zner0L commented on #107
No, there are cases when "id data" makes sense as a name from context. The class is just adding to the confusion (as you can see it also got you :D), so please only rename all mentions of the class.

[2019-10-05 19:44] robflop commented on #107
Will do, thank you for explaining.

[2019-10-05 19:56] thebhushanmhatre commented on #83
Hi @baltpeter, Can you provide with some more information on the task, I mistook this as a simple html dropdown addition for my first PR. And also can you also mention which files need to be changed.
Thanks.

[2019-10-05 21:33] baltpeter commented on #83
Hi @thebhushanmhatre, we already have dropdowns in several places (like [here](https://github.com/datenanfragen/website/blob/master/layouts/_default/baseof.html#L56)). We want to make them more reusable by making them into a React component.

Let me know if you need any more details.

[2019-10-06 08:27] haridevelops commented on #108
can i have a look in to it ?

[2019-10-06 11:11] thebhushanmhatre commented on #83
I am not familiar with technological stack and there were many things I didn't understand.
So instead of further spending time on this, Its better if somebody else continues on this.
Thanks.

[2019-10-06 19:18] prajwalMR commented on #108
I would like to give this a shot

[2019-10-06 20:44] prajwalMR commented on #108
#112

[2019-10-06 20:54] robflop commented on #107
Reminder to close this issue as the PR is merged.

[2019-10-06 23:08] zner0L commented on #107
Thanks for the reminder and making the PR :)

[2019-10-06 23:08] #107 closed

[2019-10-07 19:46] tstrohmeier opened #113 "Add filter to company page"
I suggest to add more filter to the company page (https://www.datenanfragen.de/company/)

**Current**
* Search for company name
* Jump to letter

**Future**
* filter by category
* filter by country

[2019-10-07 19:57] Snaked06 commented on #91
We can use Imagemagick To succesfully do this for example https://stackoverflow.com/questions/50187924/auto-crop-textsignature-from-image-and-change-background-color-using-imagemagi

[2019-10-07 21:04] baltpeter commented on #91
Thanks for the suggestion, I don't think ImageMagick works on the client-side, though. Besides, I would like to try and avoid pulling in that big of a dependency, the generator is already quite heavy.

This should be possible in plain JS using the canvas APIs.

[2019-10-07 23:26] sibis commented on #113
@tstrohmeier @baltpeter I am interested in working on this issue.

[2019-10-07 23:30] zner0L commented on #113
You can have a try, I didn't ask to be assigned anyway :D

[2019-10-08 18:48] sibis commented on #113
Hey @zner0L, it looks like we are already passing the `categories` and I've added `relevant-countries` too as the query params. but I guess we need to extend this functionality on the server-side(https://search.datenanfragen.de/) also to respond to the data for the search term including categories and countries. Please correct me here if I am wrong.

[2019-10-08 22:18] merelj commented on #91
that sounds like a cool feature, I'd like to try :)

[2019-10-09 10:52] baltpeter commented on #91
Sure, thank you!

[2019-10-09 13:31] baltpeter commented on #81
We want to block *all* pages for the staging environment and *no* pages for the production environment.

[2019-10-09 13:34] #83 closed

[2019-10-09 13:42] sakkshm commented on #81
Can you please make a list of all of the URLs and directories! It would really help.

[2019-10-09 13:44] baltpeter commented on #81
Such a list doesn't exist and it cannot exist because we constantly add new URLs. It is also not necessary for this issue.

All that needs to be done is to add the noindex meta tag depending on whether we are in the staging environment to the Hugo `baseof.html` template.

[2019-10-11 09:43] xeluna commented on #98
Hello, I'd like to work on this. May I ask if there's a deletion message text that should be shown?

[2019-10-11 09:56] baltpeter commented on #98
@xeluna Thank you!

What do you mean by that? The specific text you use is not that important, we'll have to translate it anyway, so we can make changes then if necessary.

[2019-10-11 10:03] xeluna commented on #98
Okay, I can put a placeholder in the meantime.

[2019-10-11 18:26] zner0L commented on #113
If I understand correctly, this is not about the search (for that we already have specific filter policies in place), but rather sorting on the website itself. Currently, entries are grouped by initial, but issue suggests also grouping by category or country. For getting this to work you should probably take a look at the `company/list.html` layout (mostly hugo-specific Go is required to do this).

[2019-10-12 09:56] #96 closed

[2019-10-12 13:09] xeluna commented on #82
I'd like to work on this.

To clarify, what needs to be done is:
- Change the order so that transport medium comes before recipient address
- If transport medium is email, the textarea should be replaced with an input, filled with the recipient's email address (if there is one)
- Add the physical address to the company widget, which currently doesn't have this information?

[2019-10-12 13:21] baltpeter commented on #82
Great, thank you!

Looks good to me.

Just one note: The physical address in the company widget should probably be comma-separated instead of new-line-separated as it usually is.

[2019-10-12 15:09] xeluna commented on #82
Thank you for clarifying. I noticed that the `data-portability` checkbox would now be below the address if the 2 elements (transport medium & address input) are swapped.

Should the checkbox also be moved such that it is directly below the transport medium and above the address input?

I'm checking because changing the transport medium also has an effect on the checkbox, and it so happens that on

[2019-10-12 22:51] baltpeter commented on #82
I agree that unintentionally hiding the checkbox like that isn't great. However, I also think this option isn't that important (most companies ignore it anyway…). As it is more of an 'advanced user option', personally I would keep it where it is.

What do you think, @zner0L?

[2019-10-13 08:59] xeluna commented on #82
Sounds good. :) I've opened the PR as it is for now.

[2019-10-13 10:32] #81 closed

[2019-10-13 18:16] #108 closed

[2019-10-13 19:08] MIP2000 commented on #93
Hello, i translated the post! Check if everything is alright. Thanks a lot.

[2019-10-15 09:11] peterjgrainger commented on #92
can I take this one?

[2019-10-15 09:38] baltpeter commented on #92
Sure, thanks!

[2019-10-15 09:47] peterjgrainger commented on #92
<img width="279" alt="image" src="https://user-images.githubusercontent.com/1332395/66820739-28e85580-ef39-11e9-846c-144fd6a0048b.png">

Does that look OK?

[2019-10-15 09:50] baltpeter commented on #92
Also tagging @zner0L for feedback.

Not sure from the screenshot but are you using a color from our [palette](https://www.datarequests.org/design)?

[2019-10-15 09:53] peterjgrainger commented on #92
Before

<img width="1511" alt="image" src="https://user-images.githubusercontent.com/1332395/66821220-fc810900-ef39-11e9-8d1b-e2853bb147f2.png">

After

<img width="1485" alt="image" src="https://user-images.githubusercontent.com/1332395/66821187-ea9f6600-ef39-11e9-91b1-fa30ee9dd5d9.png">

[2019-10-15 09:54] peterjgrainger commented on #92
@baltpeter I didn't know about your palette! I'll have to choose something from there. I was also wondering if this is a good way to indicate the request has been completed?

[2019-10-15 09:59] peterjgrainger commented on #92
I used the `css`

[code]

Which looks like the correct value from the palette

<img width="618" alt="image" src="https://user-images.githubusercontent.com/1332395/66821712-c8f2ae80-ef3a-11e9-9b54-c283e81390cb.png">

[2019-10-15 10:00] baltpeter commented on #92
No worries, the colors are available through the `color` SCSS function (e.g, `color('gray', 800)`). One of the teals would probably work best.

I am not sure whether this is a good indicator. It might not be clear to the user. Some other options I could imagine working:

* a checkmark (either replacing the current icon or in addition to that)
* maybe also simply removing the primary button treatme

[2019-10-15 10:11] peterjgrainger commented on #92
This is what it looks like

<img width="1558" alt="image" src="https://user-images.githubusercontent.com/1332395/66822560-613d6300-ef3c-11e9-898e-5a2e38ec0780.png">

Not sure about the checkmark though. Let me know which one your like https://iconmonstr.com/?s=check

[2019-10-15 10:15] baltpeter commented on #92
Good point.

What about changing it to 'Send email again' though? That should make it clear that the request has been sent already while also making it easy to actually send it again if the user wants to.

[2019-10-15 10:58] peterjgrainger commented on #92
Maybe we can have a different icon per type of request e.g. for email we could have ![paper plane](https://cdns.iconmonstr.com/wp-content/assets/preview/2013/240/iconmonstr-paper-plane-7.png)

[2019-10-15 21:49] merelj commented on #91
@baltpeter
opened [this pr](https://github.com/datenanfragen/website/pull/135), but still need some help with it :(

[2019-10-15 23:01] marcelosantos89 opened #136 "Tutorial at generator page step 1/4"
At the generator page when it's showing the tutorial

![image](https://user-images.githubusercontent.com/5165063/66875886-afd41700-efa7-11e9-8839-105e7a379e87.png)

It says on the right but the box is on the left.
I found the file to facilitate the fix. (good first issue for someone)

**website/src/i18n/en.json**
Line 319: `"request-parameters": "<p>Alright, let’s start generating your requests. W

[2019-10-15 23:11] zner0L commented on #92
I'd like the wording to also be changed. I think the symbol alone is not strong enough of an indicator and it is also not accessible. It would be great if you could incorporate that into you PR, @peterjgrainger.

And just another thought: What about the PDFs? I think we should do the same thing there. What do you think @baltpeter?

[2019-10-15 23:11] zner0L commented on #92
Whoops. Didn't mean to close this.

[2019-10-15 23:32] baltpeter commented on #136
Good catch, thank you! I have added the appropriate labels. If anyone wants to pick this up, feel free. :)

[2019-10-15 23:36] baltpeter commented on #92
Yep, the same treatment should also be applied to the PDFs.

If we change the text, I am also not opposed to changing the icon to a transport medium-specific "sent" version (like the paper plane @peterjgrainger suggested and maybe a mailbox for letters?). Most users will probably not notice that but I think it makes for a nice easteregg.

[2019-10-16 10:15] luko0610 commented on #136
I'll take that if it's still available.

[2019-10-16 10:17] baltpeter commented on #136
It is, thanks.

[2019-10-16 10:37] luko0610 commented on #136
Maybe you can help me on how to get the request generator to show the tutorial.

[2019-10-16 10:54] luko0610 commented on #136
Need some help. hugo server --disableFastRender only displays a blank page for me.

[2019-10-16 11:03] luko0610 commented on #136
Okay, I found it out.

[2019-10-16 11:20] baltpeter commented on #136
As future reference to everyone else: The tutorial is only shown when the generator is accessed from the wizard on the homepage.

[2019-10-16 11:30] luko0610 commented on #136
Yes, I have found that out. Can you tell me where the text inside the wizard is actually defined?

[2019-10-16 11:56] baltpeter commented on #136
The actual translations for the tutorial are here ([German](https://github.com/datenanfragen/website/blob/master/src/i18n/de.json#L311) and [English](https://github.com/datenanfragen/website/blob/master/src/i18n/en.json#L312)) as @marcelosantos89 pointed out.

The tutorial code is defined [here](https://github.com/datenanfragen/website/blob/master/src/wizard-tutorial.js). It is initialized [here](

[2019-10-16 12:07] luko0610 commented on #136
Thanks for the help, I think I can complete this today.

[2019-10-16 13:36] luko0610 commented on #136
I fixed it and made a pull request. #139

[2019-10-16 15:34] xeluna commented on #93
I think this issue can be closed since the PR has been merged. :)

[2019-10-16 15:37] baltpeter commented on #93
It certainly can. I am too used to that happening automatically from the commit messages. :D Unfortunately, we can't do that right now as we are running GitHub and a private GitLab instance in parallel with different issue numbering systems… Oh well.

[2019-10-16 15:37] #93 closed

[2019-10-16 15:37] #98 closed

[2019-10-16 17:54] #136 closed

[2019-10-16 17:56] baltpeter commented on #136
Feel free to signup to our Hacktoberfest event to get some stickers from us, if you want: https://www.datarequests.org/blog/hacktoberfest-2019/

[2019-10-16 19:40] luko0610 commented on #136
Great! I'll do that.

[2019-10-17 10:27] peterjgrainger commented on #92
So in summary:
- Change the wording
  - Send email -> send email again
  - Download PDF -> Download PDF again
- Change button style to be a secondary button
- Change icon
 - email -> paper plane
 - PDF -> slightly different icon? (see below)

PDF before download

![image](https://user-images.githubusercontent.com/1332395/67001224-2456a500-f0d1-11e9-9f2c-9ca2ea0f1f6a.png)

PDF after download 👇

![i

[2019-10-17 10:31] zner0L commented on #92
That sounds correct. I like @baltpeter's idea of a mailbox icon for the PDF more, though.

[2019-10-17 13:07] peterjgrainger commented on #92
There isn't anything on https://iconmonstr.com where all the other icons are from

What about 👇 ?

![letter](https://cdns.iconmonstr.com/wp-content/assets/preview/2017/240/iconmonstr-email-15.png)

[2019-10-17 15:04] zner0L opened #142 "Create an act page for the Ada Health app"
According to this article, an act page to delete your data from the Ada could prove useful to a lot of people: https://www.datenschutz-notizen.de/wer-diese-app-nutzt-hat-die-datenschutzbestimmungen-wohl-nicht-gelesen-1323636/

[2019-10-17 15:25] zner0L opened #144 "Remove the .txt replacer"
Before datenanfragen/data#244 was fixed, we had `.txt` file extensions for custom templates in the database that we removed in the generator again. All occurrences of this can now be removed. They are all marked with `TODO` comments and should look something like this: `.replace(/\.txt$/, '')`

[2019-10-17 16:26] themayurkumbhar commented on #144
Hi @zner0L
i would like to take this one.
is it just removing existing `.txt` from files under companies json files?

[2019-10-17 19:24] zner0L opened #146 "SavedIdData::mergeFields() does not merge fields with the same description"

[2019-10-17 21:42] #144 closed

[2019-10-17 21:55] zner0L commented on #92
We actually like the idea of this icon to be a little unusual. Maybe this delivery truck? https://iconmonstr.com/delivery-5-svg/

[2019-10-17 23:47] zner0L commented on #146
This is actually not a bug, but rather a misinterpreted feature. Only *fixed* fields aren't merged if the descriptions differ because they should only merge into fields of the same type. For all other fields, the function behaves as expected.

[2019-10-17 23:47] #146 closed

[2019-10-18 07:25] peterjgrainger commented on #92
All the changes are in https://github.com/datenanfragen/website/pull/133

Have a look and tell me what you think?

[2019-10-18 08:58] peterjgrainger commented on #92
I'm having some issues with the new icon `svg` images. It might be breaking the build I'm not sure. Have you seen this error before?

[code]

[2019-10-18 13:27] zner0L commented on #92
Oh, yes. You are right, the problem seems to be the `imagemin-lint-staged` package. I am investigating further.

[2019-10-18 15:11] #92 closed

[2019-10-19 10:38] NathanBnm opened #148 "French translation"
Hi! I recently translated the whole website into French on Weblate, but I haven't the rights to validate my own translation. Could you check please?

I left a few comments too. Can you please have a look on it?

Otherwise I'm glad to contribute to this project. I think it can be a very useful tool. If there is anything I can do to help more let me know. You may be interested in adding data for Fra

[2019-10-19 10:48] baltpeter commented on #148
Wow, thank you very much for the translations! I have just answered the questions a moment ago but hadn't seen the suggestions yet—I'll definitely need to look into Weblate some more.

If you want, I can also add you to the Weblate project. I have some basic understanding of French from school but having an actual native speaker to look over other users' suggestions would of course be ideal.

We h

[2019-10-19 11:29] NathanBnm commented on #148
@baltpeter you're welcome 😄

Sure it would be great if you do this! I often check on Weblate.

I saw that the translation files were new on Weblate. That's  part of why I wanted to contribute too (many projects aren't maintained anymore). I will look into this once you'll have added me to the project if you still want to.

I have just read your blog post. That would be nice, thank you. How do you

[2019-10-19 11:49] baltpeter commented on #148
Awesome, just added you.

It would be best if you just also registered through our [hacktoberfest@datenanfragen.de](mailto:hacktoberfest@datenanfragen.de?subject=Registration%20for%20Hacktoberfest%202019&body=I%20want%20to%20participate%20in%20the%20Hacktoberfest%202019%20event%20by%20Datenanfragen.de%20e.%20V.%0A%0AGitHub%20user%20name%3A%20%5Bplease%20fill-in%5D%0A%0AI%20have%20read%20the%20cond

[2019-10-19 13:02] NathanBnm commented on #148
Thank you :smile:

I'll do that!

I didn't know this intention, because there is no difference in english. I think it is more common to use "vous" in French. It is more respectful to users. For my part, "vous" is more appropriate in French because the use of "tu" makes things less reliable in my opinion.

I can be wrong, but I think that for a website, using "tu" hasn't the real same effect than i

[2019-10-19 13:21] NathanBnm commented on #148
Finally I changed my mind 😅

It could be great if the french domain was `demandetesdonnees.fr`.
Or maybe `demande-tes-donnees.fr` for more readabilty?

With this domain it's better to use `tu` instead of `vous`. And either with one or another, it wil be consistent if adopted on all the site so there is no real problem here.

[2019-10-19 14:00] baltpeter commented on #148
Yeah, that is a (lack of a) feature that I certainly envy the English language for. :D Makes things much easier.

I'll defer to your expertise here. Whatever you think sounds better.

I've discussed this with @zner0L and we both like the suggestion. We've registered both domains now. I'm also not quite sure which one we should use as the primary one. I am leaning towards `demande-tes-donnees.fr`,

[2019-10-19 15:13] NathanBnm commented on #148
Sorry I haven't a Matrix account 😅

[2019-10-19 17:47] NathanBnm commented on #148
@baltpeter I updated French translation on Weblate. Now everything is using `tu`. I just need to ask you to answer to the comments I left. There are a few strings I don't know how to translate because of a lack of context. Thank you in advance 😄

[2019-10-19 18:01] baltpeter commented on #148
Huge thanks once again!

And sorry, I hope I caught all comments this time—I think I replied to the comments in the wrong language the last time. Let me know if there are still any responses missing.

Yes, the domain should indeed be replaced with the one specific to the language.

[2019-10-19 18:20] NathanBnm commented on #148
Everything is fine know 👍

[2019-10-21 07:12] nishantwrp commented on #89
@baltpeter I would like to work on it

[2019-10-21 21:25] nishantwrp commented on #89
@baltpeter I've made a pull request adding this blog.

[2019-10-22 04:02] deveshp opened #153 "On selecting an alphabet from the list of companies, the previous alphabet is highlighted"
I've attached a screenshot of this behaviour, on clicking an an alphabet, say R, I am taken to the position with companies starting with R but Q is highlighted.
![image](https://user-images.githubusercontent.com/13286381/67258552-e251a880-f4ae-11e9-9379-02d2a74ab464.png)

[2019-10-22 04:04] deveshp commented on #153
Added a PR for this https://github.com/datenanfragen/website/pull/152

[2019-10-22 08:13] nishantwrp opened #154 "Bug: Changing the language"
The confirmation box appears two times when user tries to switch the language

[2019-10-22 09:36] baltpeter commented on #154
Thanks for the report.

[2019-10-22 10:38] baltpeter opened #155 "'Send email' button is disabled when trying to send new request after PDF request"
![website-bug](https://user-images.githubusercontent.com/4048809/67278146-ee8e3380-f4b7-11e9-8eb0-d1a369779aa4.gif)

**Steps to reproduce:**

* Open generator and select 'Fax' as transport medium
* Download PDF
* Click 'New request'
* Try to send email

The 'Send email' button is disabled but should be enabled.

[2019-10-22 10:57] davenewham opened #156 "id-data heading padding"
The formatting on the Rectification request input field on the right handside for "My data" heading seems a little off. Seems like the correct padding is needed after the input field?

It is more prevelant in non-mobile resolutions.

![grafik](https://user-images.githubusercontent.com/15076177/67279336-14710380-f4cb-11e9-8983-0d792ff28087.png)

[2019-10-22 17:36] davenewham opened #163 ""Your GDPR Rights" link broken on German site"
Clicking "Weiterlesen..." button on front page of German site redirects to 404 as it links to "https://www.datenanfragen.de/blog/your-gdpr-rights" instead of "https://www.datenanfragen.de/blog/deine-dsgvo-rechte/"

[2019-10-23 11:17] baltpeter commented on #156
Thanks for the report!

Should be easy enough to fix, so I'll leave that for someone else.

[2019-10-23 11:20] baltpeter commented on #163
Thanks for the report.

Interestingly enough, `blog/your-gdpr-rights` is set as an alias for the post but that doesn't seem to work.

[2019-10-23 12:44] #163 closed

[2019-10-23 13:42] nSedrickm commented on #85
Hi. How can I help?

[2019-10-23 16:45] baltpeter commented on #85
We want to restructure our content folders for Hugo. See these two help pages for more details:

* https://gohugo.io/content-management/organization/
* https://gohugo.io/content-management/multilingual/#translation-by-content-directory

[2019-10-23 22:24] nSedrickm commented on #85
Ok.I will.

[2019-10-26 05:21] parammittal16 commented on #156
@baltpeter can I do this ?

[2019-10-26 13:53] nSedrickm commented on #85
Hi. I have read through both pages. How do you want the content restructured? How do I achieve this?

[2019-10-26 18:36] anusha5695 commented on #84
Hi can i work on this?

[2019-10-27 12:27] baltpeter commented on #85
We are looking to implement the two suggestions mentioned in the first post of this issue. The pages I linked explain how to do this.

[2019-10-27 12:30] baltpeter commented on #84
Feel free to give it a go! Fair warning though: This might require quite an extensive understanding of our internal data structures…

[2019-10-28 08:32] m-rey opened #173 "Fix RSS support for Datenanfragen.de blog"
Currently, https://www.datenanfragen.de/blog/ has no RSS support (afaik).
A rss/atom feed is an easy way to stay updated using a feed reader.

[2019-10-28 11:14] baltpeter commented on #173
I'm definitely a proponent of RSS as well. We do have an RSS feed at: https://www.datenanfragen.de/index.xml

While not exposed in the UI anywhere, it is specified in the meta tags:

[code]

I believe most feed readers should recognize that if you just enter the URL of the blog (or even the homepage for that matter).

[2019-10-28 11:15] baltpeter commented on #173
Actually, on further inspection: That feed is empty.

However https://www.datenanfragen.de/blog/index.xml does seem to have the blog posts.

So, there's definitely a bug here that we'll have to investigate. Thanks for reporting!

[2019-10-28 23:13] #142 closed

[2019-10-29 00:36] zner0L commented on #82
Closed by #126

[2019-10-29 00:36] #82 closed

[2019-10-29 02:32] deveshp commented on #153
Code merged

[2019-10-29 02:32] #153 closed

[2019-10-31 22:08] HoffmannP commented on #173
So there are two possible solutions. The one will link to the index.xml of each folder as `.RSSLink` might have done. Might, b/c `.RssLink` is [deprecated](https://gohugo.io/variables/page/) now.

But I think you'd rather want to link to the one RSS-feed for blog articles. That's what I've changed the current version to.

I post the alternative for completeness:

    <link href="{{ with .OutputFor

[2019-11-01 13:01] baltpeter commented on #173
@HoffmannP Yeah, always linking to the feed for the blog definitely sounds like the way to go. Thanks!

[2019-11-01 21:09] #65 closed

[2019-11-04 18:53] zner0L opened #182 "Bug: Saved signature is overridden on reset"
In the generator, if the signature for the request is reset the blank signature is also save as the saved signature. This behavior is counter intuitive IMO. The expected behavior would be for the current request to have a blank signature field and the saved signature should be kept, if the reset button is clicked in the generator, but the saved signature is overridden, if the reset button is click

[2019-11-06 20:59] #173 closed

[2019-11-07 09:02] merelj commented on #182
I'll try to take a look at it on the weekend, must have set `isEmpty` wrong somewhere :(

[2019-11-07 16:52] m-rey opened #187 "Match format of generated JSON on suggestion page and company-json-generator"
This is a nice-to-have proposal. Feel free to put it deep down the backlog.

When a user adds a suggestion on https://www.datenanfragen.de/suggest, the generated JSON differs from the generated JSON of https://github.com/datenanfragen/company-json-generator.
Specifically, on the former, the slug is at the end, while on the latter it's at the beginning.

I would suggest to move the slug of the gene

[2019-11-08 13:58] baltpeter commented on #187
To explain why this happens: The JSON on the suggest page is also generated through the json-forms library, just like in the company JSON generator.

However, on the suggest page, we don't expose the `slug` field to the user. Instead, we guess a slug *after* the JSON has been generated:

https://github.com/datenanfragen/website/blob/f857edf8ce73fe62ec13e4635060e9eb712fac87/src/suggest-edit.js#L138

[2019-11-12 20:16] baltpeter opened #188 "Translate Hugo menus through the translation files"
Is there a way to still add the necessary translations to the files nevertheless? I mean, for French it might be possible to do it ourselves but for any other language we need those strings translated as well.

_Originally posted by @zner0L in https://github.com/datenanfragen/website/pull/161_

[2019-11-12 20:51] #148 closed

[2019-11-13 20:43] m-rey opened #189 ""Direct Marketing Objection" generator generates "null" as subject"
In the "Direct Marketing Objection" generator, when trying to generate an objection, the subject is set to `null`.
(In the case of email, the `mailto:` link begins with `mailto:?subject=null (My reference: 2019-xxxxxx)&body=xxxxxxxxxxxxxxxxxx`, where x is a placeholder.)

It apparently doesn't matter if English or German is used to generate the objection.
It apparently also doesn't matter what com

[2019-11-14 17:17] zner0L opened #190 "More inutitive use of the language chooser"
This is, however, a little counter intuitive because now you have to select the language and then click anywhere to blur the select. Still better than two popups, though. Smarter solutions are very welcome!

_Originally posted by @zner0L in https://github.com/datenanfragen/website/pull/162#issuecomment-553987351_

For this to work I guess we have to reimplement `onChange` and do something smart to

[2019-11-14 17:33] #155 closed

[2019-11-14 17:50] zner0L commented on #189
Hm. While reviewing I also realized we don't have a way to disable features that do not work in other languages. We need a procedure to work around that.

[2019-11-14 18:28] #189 closed

[2019-11-14 20:01] #190 closed

[2019-11-14 20:10] #154 closed

[2019-11-14 20:10] #91 closed

[2019-11-14 20:10] #89 closed

[2019-11-14 20:55] pyfisch opened #193 "Kann Land nicht festlegen"
Im Auswahlfenster wird mir kein Land angezeigt und unten auf der Seite kann ich das Land auch nicht ändern.
![grafik](https://user-images.githubusercontent.com/2781017/68895276-3efc5800-0729-11ea-8eba-db71e25a1aa1.png)
![grafik](https://user-images.githubusercontent.com/2781017/68895299-491e5680-0729-11ea-9335-b1e808e1283e.png)

[2019-11-14 20:58] pyfisch opened #194 "Suche funktioniert nicht"
Unternehmen werden nicht gefunden (z.B. Amazon), obwohl sie offensichtlich in der Datenbank enthalten sind.

![grafik](https://user-images.githubusercontent.com/2781017/68895536-c5189e80-0729-11ea-8268-d8ca0878c003.png)

[2019-11-15 10:48] baltpeter commented on #193
Das ist merkwürdig. Unter dem "Wir sind der…"-Text im Footer sollte eigentlich ein Auswahlwidget angezeigt werden.

Das Problem kann ich bei mir so nicht reproduzieren. Hast Du vllt. einen Ad Blocker oder Ähnliches, der die entsprechenden Elemente wegblockiert?
Werden in der browser console Fehler angezeigt?

[2019-11-15 10:50] baltpeter commented on #194
Ich vermute, dass das mit #193 zusammenhängt: Die Suche ist länderabhängig, und wird wahrscheinlich fehlschlagen, wenn kein Land gesetzt ist.

Das könnten wir u. U. ein bisschen more gracefully handlen, indem wir in so einem Fall einfach auf `all` zurückfallen. Thoughts, @zner0L?

[2019-11-15 11:10] pyfisch commented on #193
Habe ich zum Testen ausgestellt. Es funktioniert aber auch nicht im Privaten Modus, wo alle Addons deaktiviert sind.

Ja, es wird ein Fehler angezeigt.

[code]

[2019-11-15 11:13] pyfisch commented on #193
Außerdem versucht die Seite beim Start https://www.datenanfragen.de/db/suggested-companies/undefined_wizard.json abzurufen, was mit einem 404 Fehler scheitert.

[2019-11-15 11:18] zner0L commented on #193
Welche Sprache ist in Deinem Browser eingestellt?

[2019-11-15 11:19] zner0L commented on #194
Ja, Fallback auf `all` ergibt Sinn würde ich sagen.

[2019-11-15 11:20] pyfisch commented on #193
Das `Accept-Language` header hat den Wert `de,en-US;q=0.8,en;q=0.5,fr;q=0.3`

[2019-11-15 11:21] pyfisch commented on #193
:laughing: Wenn ich de-de hinzufüge (Deutsch in Deutschland) funktioniert es.

[2019-11-15 11:22] zner0L commented on #193
Ja, ich vermute unser Land-Guessing-Algorithmus funktioniert nicht gut genug… @baltpeter hast du eine Idee?

[2019-11-15 11:25] baltpeter commented on #193
Das ist ja in der Tat spannend. Ich hätte eig. behauptet, dass unser parser regex das hätte verstehen müssen.

Relevant ist aber tatsächlich auch nicht der header (auf den haben wir aus JS keinen Zugriff), sondern der Wert von `navigator.languages` – konkret der erste im Array.
Magst Du nochmal ausprobieren, was der ist?

[2019-11-15 11:28] baltpeter commented on #193
Hab den Fehler glaube ich gefunden:

https://github.com/datenanfragen/website/blob/373cead6cb0a181484edcf51266c16eb1df1d804/src/general.js#L80-L84

Wenn die lang nur `de` (ohne Land) ist, findet der regex natürlich auch nur die Sprache. Dementsprechend ist Element `5` dann `undefined` und `undefined` hat keine `.toLowerCase()`-Methode. Klassischer Fehler.

Da bringt dann auch der check ob wir ein

[2019-11-15 11:28] pyfisch commented on #193
[code]

Die Werte sind die gleichen wie im HTTP Header, wenn ich also de-de in den Einstellungen hinzufüge erscheint er auch dort.

[2019-11-15 11:28] baltpeter commented on #193
Dann wird es daran liegen. Ich bereite mal eben schnell einen Fix vor.

[2019-11-15 11:28] baltpeter commented on #193
Opps.-

[2019-11-15 11:33] baltpeter commented on #193
So, #197 sollte das Problem beheben. Wäre super, wenn Du da mal die deploy preview von Netlify ausprobieren würdest, sobald die fertig ist.

[2019-11-15 11:43] baltpeter commented on #194
Wenn #197 funktioniert, sollte das dann doch nicht mehr nötig sein. Dann müssten wir nämlich eh in jedem Fall ein Land gesetzt haben.

[2019-11-16 19:00] NathanBnm opened #199 "French translation (demandetesdonnees.fr)"
Now that the French version is online I made a few translation adjustments via Weblate. Please update the French translation.

I had a few comments to make.

First there are some pages that seem not to be fully translatable:
- https://www.demandetesdonnees.fr/suggest
- https://www.demandetesdonnees.fr/contact

The "Blog" page redirects to a 404 error in the French version (https://www.demandetesdo

[2019-11-16 20:19] baltpeter commented on #199
Thanks, will be done once #200 is merged which I will do once the tests have run.

These pages are translatable, not through Weblate though. They are simply Markdown files in [the content directory](https://github.com/datenanfragen/website/tree/master/content).
As far as I understand, Weblate is intended for short strings rather than whole pages. If you have a better suggestion, I am very open to

[2019-11-17 18:10] NathanBnm commented on #199
Maybe I should translate the markdown files too?

[2019-11-17 18:11] baltpeter commented on #199
If you're up for that, that would of course be great!

[2019-11-17 18:38] NathanBnm commented on #199
@baltpeter if you want to creat a Frencg version of this image:

![image](https://user-images.githubusercontent.com/45366162/69012069-b91f1d80-0971-11ea-83ff-3dfbf75bcfd1.png)

You can use "Tu as le droit à la confidentialité."

[2019-11-17 18:39] NathanBnm commented on #199
I'll replace `"featured_image": "/img/card/home-en.png"` by `"featured_image": "/img/card/home-fr.png"` in the `_index.fr.md` file.

[2019-11-17 18:40] baltpeter commented on #199
Sounds good. There's also this one for the generator:

![](https://www.datarequests.org/img/card/generator-en.png)

[2019-11-17 18:41] NathanBnm commented on #199
This would be "Génère facilement des demandes RGPD"

[2019-11-17 21:22] #193 closed

[2019-11-18 11:00] #194 closed

[2019-11-18 19:44] NathanBnm opened #204 "Add possibility to add several phone numbers to a company"
It would be great to have the possibility to add several numbers for a company depending of the country. Sometimes some companies have a different number to call depending of the user country.

[2019-11-22 14:49] baltpeter commented on #204
I think there is some previous discussion in the datenanfragen/data repo. Couldn't find the issue I was looking for but [here](https://github.com/datenanfragen/data/pull/16#discussion_r223870752) are some comments in a PR.

We did consider 'i18n-ing' the schema to essentially look something like this:

[code]

However, we ultimately decided (for now anyway) that this would require a lot of work an

[2019-11-23 10:41] NathanBnm commented on #204
Good idea! I don't really see any other solution.

I'm just wondering, why don't you use a database?

[2019-11-23 11:03] baltpeter commented on #204
That was a very early decision mostly based on us wanting to keep the website entirely static (the HTML is generated by the static site generator Hugo, all functionality is implemented in JS and the database is a collection of JSON flatfiles – so no server is required).
Over time, we did however implement certain features that *do* need to be backed by a server (like the comments and suggestion in

[2019-11-23 11:08] NathanBnm commented on #204
Okay well I understand your choices. Using JSON is a good alternative. We all know that building an efficient database is not something easy, specifically when it often has to be modified. I suppose changing the JSON struture is easier than doing it with a database and keep its integrity.

[2019-11-28 20:05] NathanBnm opened #207 "Footer is missing on 404 page"
I think it would be nice to keep it for more consistency and to guide the user if he is lost on the site.

[2019-11-28 20:11] NathanBnm commented on #199
So the only left issue here seems to be that, but like you said:

Will this translations often change? I don't think so, maybe it's better to user the whole string as a key than not translating anything. What do you think?

[2019-11-29 10:29] baltpeter commented on #207
I absolutely agree that it would be much better to have a footer on the 404 page. Unfortunately, not having it there wasn't a decision on our part rather than a necessary compromise to have a customized 404 page at all.

Basically, the problem is that we couldn't find a way to have Hugo generate the 404 page. Instead we can only have a single HTML file for all languages. See [this issue](https://g

[2019-11-29 10:30] baltpeter commented on #207
I'll leave this issue open in case anyone has an idea on how to solve this problem.

[2019-11-29 10:54] baltpeter commented on #199
To be honest, I'm really not a fan of that idea. But let's patch in @zner0L, I guess.

[2019-12-10 13:41] zner0L opened #210 "Write short introduction into the constitution"
Since it is now not completely clear what the constitution is for for every user, I think we need some kind of introduction here.

_Originally posted by @zner0L in https://github.com/datenanfragen/website/pull/209_

[2019-12-10 14:16] zner0L opened #211 "Broken redirection after credit card donation"
After donating via credit card the JS redirects to the wrong `thanks` page.

[2019-12-10 14:18] baltpeter commented on #211
Could you clarify what you mean by the 'wrong' thanks page? Is there more than one?

[2019-12-10 14:19] baltpeter commented on #211
Ah, the URL is wrong.

[2019-12-10 14:20] zner0L commented on #211
It redirects to `datarequests.org/thanks?donation_reference[donation_reference]` which takes you to a 404 page.

[2019-12-10 15:24] #211 closed

[2019-12-22 12:01] #188 closed

[2020-02-24 13:44] NathanBnm opened #221 "Add "blog" link in French version"
The blog entry is missing in the top menu

[2020-02-25 08:50] NathanBnm opened #231 "Create "Contributors" page"
Would be great to have somewhere to credits contributors on the website and maybe in this repo too.
It could be separated between "Developers", "Translators" etc.

[2020-02-25 09:42] baltpeter commented on #231
I absolutely agree.

We _do_ currently have the [AUTHORS](https://github.com/datenanfragen/website/blob/master/AUTHORS) file and I think we should build on that.
This file is currently only a list of names of contributors without any more details (like your grouping into developers, translators, etc.). I wouldn't mind keeping it that way as it saves us from having to translate the descriptions. Ho

[2020-02-27 12:40] NathanBnm opened #238 "Edit Transparency page"
The following sentence should modified after #209

`website` should be replaced by `page` (already done in French translation)

[2020-02-27 14:09] baltpeter opened #239 "Make Hugo footnotes more accessible"
See: https://danielpost.com/articles/making-hugos-footnotes-accessible/

[2020-02-27 17:02] NathanBnm commented on #221
Fixed via cca83ce8c1c4646fc52dc477ed450a3731fd9fd6

[2020-02-27 17:02] #221 closed

[2020-02-27 17:12] NathanBnm opened #242 "Include colon in translations"
Translations always have to include the colon because it has to be localizable. For example in French a space is needed before and after the colon. It has been done on the company's details page but not on the generator details card as this screenshot shows:

![image](https://user-images.githubusercontent.com/45366162/75467771-6ef40200-598c-11ea-868b-42b6868f54da.png)

[2020-02-27 17:26] NathanBnm opened #244 "Content overlaps the footer on company database page"
When scrolling down the page:

![image](https://user-images.githubusercontent.com/45366162/75469070-a1066380-598e-11ea-991e-7e87a8166ec6.png)

[2020-02-27 17:46] NathanBnm opened #245 "Bring accentued letters together on company database page"
I noticed that there were some companies starting with Ö but they are displayed after Z.

I guess it could happen with other accentued letters. I think each accentued letter should be interpreted as the normal one. You could use the following correspondance table (non exhaustive).

[code]

[2020-02-27 17:59] NathanBnm opened #247 "Translate "Privacy" page into French"

[2020-02-27 18:19] NathanBnm opened #250 "Broken link for "Read more" on French homepage"
The "Read more" button is redirecting to the following page : https://www.demandetesdonnees.fr/blog/your-gdpr-rights instead of https://www.demandetesdonnees.fr/blog/tes-droits-rgpd

[2020-02-28 11:07] baltpeter commented on #244
Phew, luckily that's @zner0L's responsibility. :D

[2020-02-28 11:12] baltpeter commented on #250
That URL is currently hardcoded [here](https://github.com/datenanfragen/website/blob/master/layouts/index.html#L103). I see two options:

* Either make that URL a translatable string as we've done in some of the other cases.
* Or simply add `your-gdpr-rights` as an alias to the French page.

[2020-02-28 11:14] baltpeter commented on #238
Is 'this website' actually wrong here? I am using 'this' to refer to the website you are currently on and `verein/constitution` is part of *this* website, isn't it? :D

[2020-02-28 17:47] NathanBnm commented on #250
Maybe it's better to make it a translatable string for more consistency (as you said it has already been done in other cases).

[2020-02-28 17:50] NathanBnm commented on #238
I think that refering to "this website" implies to open a new tab with a new website. That's why I think it should be replaced by "this page".

It was all right when the association's website was separate, wasn't it?

[2020-02-29 22:38] baltpeter commented on #238
To be honest, I don't understand how this was different then. :D When we still had `verein.datenanfragen.de`, both the transparency and constitution page on that website, too.

But I mean, "this page" also isn't wrong. If you think that is clearer, we can change it. \*shrug*

[2020-03-02 08:57] NathanBnm commented on #238
Maybe it's a difference between languages too. I mean, in French I think it's clearer to use this. It's up to you!

[2020-03-04 14:06] zner0L opened #252 ""Send email first" button does not do anything"
Since the `ActionButton` has been move to its own Component, the "Send email first"-button in the modal is useless.
<img width="525" alt="Screen Shot 2020-03-04 at 15 06 08" src="https://user-images.githubusercontent.com/4049135/75887198-51f27f80-5e21-11ea-9be5-787326b6601b.png">

[2020-03-04 14:08] zner0L opened #253 "Wizard regressions"
In wizard mode, the request is cleared, even though some companies are still in the loop.

[2020-03-04 22:31] baltpeter opened #256 "Implement test for #253"
Apparently, our wizard test didn't catch #253. So, we need a better test.

[2020-03-05 07:03] baltpeter commented on #253
This isn't fully fixed yet:

* The first company is skipped.
* Request that are done aren't removed from the list.

[2020-03-05 07:55] #253 closed

[2020-03-07 10:38] #250 closed

[2020-03-07 10:45] baltpeter commented on #238
After rereading the sentence again after a couple of days, I have to say I think that 'this website' is clearer in terms of establishing that we are talking about the website the user is currently on versus a different one.

Let's ask @zner0L for his opinion. If he thinks differently, he can reopen the issue.

[2020-03-07 10:45] #238 closed

[2020-03-07 10:46] baltpeter commented on #231
Oh sorry, I don't get any notifications about those emoji reactions to comments. I'll go ahead and view them as approvals. :D

[2020-03-07 10:46] NathanBnm opened #266 "SEO: Description in search engines results"
It seems that the homepage does not have any description meta tag, so the description displayed in search engines like Google is not very relevant. See these screenshots for [datarequests.org](https://www.datarequests.org/) and [demandetesdonnees.fr](https://www.demandetesdonnees.fr/):

![image](https://user-images.githubusercontent.com/45366162/76141973-32e62e80-6069-11ea-96e2-e2f4861ef374.png)

[2020-03-07 10:49] NathanBnm commented on #238
Well after reflexion I think you're right x)

[2020-03-07 10:51] baltpeter commented on #266
Actually, we *do* have meta description tags for the homepage (and any other page that specifies a `description` in the Hugo front matter):

![image](https://user-images.githubusercontent.com/4048809/76142012-5e651b00-6061-11ea-8ea3-108184132d30.png)

If I remember correctly, most search engines just ignore that though and generate their own blurb based on what they think is more relevant to the u

[2020-03-07 10:53] #242 closed

[2020-03-07 11:02] NathanBnm commented on #266
Well I didn't see it. But this is strange, Google seems to have changed their rules. Just a few weeks ago it was still using the description meta tag (I just checked on my personnal portfolio). I guess they've been doing that since they changed the presentation of search results. Apparently the displayed description is an excerpt of the first text content on the page.

Maybe we can add a css-hidde

[2020-03-07 11:03] baltpeter opened #268 "Cross-browser support in Cypress"
Cypress recently shipped [beta cross-browser support](https://docs.cypress.io/guides/guides/cross-browser-testing.html). I see no need to test the different Chromium flavors but also testing Firefox would definitely be nice.
We should probably switch to Firefox as the default browser for testing run for every push and then do periodic tests with Chrome/Electron as explained in the linked documenta

[2020-03-07 12:19] zner0L commented on #238
I don't really care, but if you want my opinion: I think "this page" is better than "this website". That being said, I don't think any of the options are unclear, so I'll leave this issue closed.

[2020-03-07 12:43] zner0L commented on #266
Google doesn't like repeating descriptions ([see here](https://support.google.com/webmasters/answer/35624?hl=en)). Since most of the content on our website are the company database entries, which do not have a description, I guess Google penalizes the whole website for that. I do not like adding a css-hidden description on top of the page, that is especially bad for screen readers and search engin

[2020-03-07 15:27] NathanBnm opened #270 "Follow ISO language codes recommandations"
Languages code for German, English and French are currently formatted like this: "de-de", "en-us" and "fr-fr". I think it should be respectively "de-DE", "en-US" and "fr-FR" as the first two letters refers to the language code and the two others to the country code. Generally the country code should be in uppercase.

I don't think the country code is necessary for countries where the language come

[2020-03-07 15:29] #199 closed

[2020-03-08 11:00] baltpeter commented on #270
I have to admit I am not sure where that is the case. Could you clarify that?

In JS, the structure is currently as follows:

* We have a variable `globals.country` holding the country as either the two-letter lowercase ISO country code or `all`.
* And we have the variable `LOCALE` holding the two-letter ISO language code. Now, admittedly that name is far from ideal as the *locale* is actually sup

[2020-03-08 11:07] baltpeter commented on #266
It might be worth trying to generate descriptions for the company database entries. From the page you linked:

Illustrated by V. Gogh, Price: $17.99,
Length: 784 pages">`

The company database exposes most of its content through schema.org data anyway but adding that shouldn't be too hard.

[2020-03-08 11:42] NathanBnm commented on #270
Here is the config file where I noticed that: https://github.com/datenanfragen/website/blob/master/config/_default/languages.toml.

I assume we will have some trouble if we have to differ some languages with their respective spoken country if we do not respect these recommendations. I'm thinking about `pt` and `pr-BR` which I saww the most.

Is that clear enough? Don't really know what to explain

[2020-03-08 11:46] baltpeter commented on #270
Ah ok. Those `languageCode`s are only used to set the language in the HTML ([here](https://github.com/datenanfragen/website/blob/master/layouts/_default/baseof.html#L2) and [here](https://github.com/datenanfragen/website/blob/master/layouts/partials/head/meta.html#L48). We don't actually rely on them internally.

I guess we can change the format here but it shouldn't make much of a difference.

[2020-03-10 12:00] baltpeter commented on #231
I have created a draft in #274, let me know what you think.

Also, anyone who contributed: Feel free to start adding your name to the list, if you want!

[2020-03-10 12:17] #256 closed

[2020-03-10 12:35] #252 closed

[2020-03-31 11:20] baltpeter opened #280 "Indicate somewhere on the site whether we are running a dev or prod build"

[2020-03-31 15:06] #187 closed

[2020-04-04 13:09] baltpeter opened #287 "Style external links differently"
To make it more clear to users when a link leads to a website not controlled by us, we should style external links differently. This is commonly done using a trailing icon, like [here](https://www.kuketz-blog.de/datenschutzhinweis-kuketz-meet-de/):

![image](https://user-images.githubusercontent.com/4048809/78451397-e9dbc700-7674-11ea-9435-3e9377a45896.png)

To be clear, "internal" and "external"

[2020-04-06 19:17] baltpeter opened #289 "MailtoDropdown: Offer copying the text manually"
In addition to the regular `mailto` link and the webmailers, it should be possible to get a modal displaying the subject, recipient and body that the user can copy manually.

[2020-04-10 18:15] baltpeter opened #290 "Allow limited formatting in comments"
We often link to other posts in our comments. Currently, those links are plain text that the user has to copy. That is not ideal, both from the user's perspective and from an SEO standpoint.
We should find some way to allow actual links. While we're at it, we might as well also allow some other basic formatting like bold and italic.

I think the nicest implementation would be some Markdown-like sy

[2020-04-13 12:56] baltpeter opened #293 "Responsive image support in the `img` shortcode"
Given that we are now using Hugo page resources for our images in blog posts (#292) through the [ `img` shortcode](https://github.com/datenanfragen/website/blob/master/layouts/shortcodes/img.html), it shouldn't be too hard to implement responsive images using [`srcset` and `sizes`](https://developer.mozilla.org/en-US/docs/Learn/HTML/Multimedia_and_embedding/Responsive_images).

If Hugo [implements

[2020-04-13 13:04] baltpeter commented on #293
Haven't actually used it but this may be helpful to test the implementation: https://github.com/ausi/respimagelint

[2020-04-13 14:00] #85 closed

[2020-04-13 14:51] baltpeter commented on #239
I would also really like to be able to see the footnote text without having to scroll to the bottom.

[2020-04-13 15:30] baltpeter commented on #266
Interestingly enough, Google *does* sometimes seem to actually use our structured data:

![image](https://user-images.githubusercontent.com/4048809/79133532-b3e8c200-7d9b-11ea-846c-3610cdff3b72.png)

[2020-04-16 13:27] baltpeter opened #298 "Delete/trash buttons shouldn't be primary"
Currently, all our delete/trash buttons have the primary button styling:

![image](https://user-images.githubusercontent.com/4048809/79461529-cf470d80-7fe5-11ea-839e-9e450598216b.png)

These really aren't primary actions, though. They should at most be secondary buttons, maybe we should even invent a tertiary style.

[2020-04-25 19:18] baltpeter opened #299 "Use :lang() pseudo selector for 404 page"
Internationalisation on our 404 page is currently implemented using CSS classes:

https://github.com/datenanfragen/website/blob/b8ef42017170ebf07ee94db058cffef8697bbfbc/static/404.html#L18-L22

Instead, we could use the [`:lang()` pseudo selector](https://developer.mozilla.org/en-US/docs/Web/CSS/:lang) and the `lang=""` attribute, which seems to be more semantically correct.

[2020-05-01 10:48] mal-tee opened #300 "Empty donation amount is NaN, causing invalid responses from the payment gateways"
If you donate NaN with crypto you get this error message.

**Debug information:**

[code]

[2020-05-01 13:39] baltpeter commented on #300
Thanks for the report! Should be fixed by #301, once that is merged.

[2020-05-10 22:48] #280 closed

[2020-05-11 21:07] #266 closed

[2020-05-12 02:47] #300 closed

[2020-05-12 21:18] #289 closed

[2020-05-13 00:00] #231 closed

[2020-05-13 16:29] #290 closed

[2020-05-27 17:05] baltpeter opened #321 "More rating and feedback options in the company comments, also aggregate ratings"
In the comments on the company detail pages, users can currently leave a text and a rating. We've wanted to extend this, asking additional (optional) questions for quite some time. These questions haven't been decided on yet but an example might be "How long did the company take to answer your request?". The idea is to collect some more statistics on how well companies are handling GDPR requests f

[2020-05-31 14:25] baltpeter opened #324 "Also display license information for events"
This is a [follow-up](https://github.com/datenanfragen/website/pull/312#discussion_r424526239) from #312.

Just like our regular blog posts, the [events](https://github.com/datenanfragen/website/blob/2130c1bdcdd3a4f994b2c0c0add3da93a73237d1/content/en/verein/event/okl-berlin-05-2020.md) also have a `license` field in the frontmatter. This information needs to be displayed on the actual page.

This

[2020-06-15 12:58] mal-tee opened #326 "Donation via bank transfer allows negative values"
If you copy-paste a negative number into the donate form at https://www.datarequests.org/donate/  you can still procceed with *bank transfer*. The other payment methods raise an error.

[2020-06-15 13:02] baltpeter commented on #326
Thanks for letting us know!

This is a fairly non-critical issue that seems like a great first issue, so I'll leave it for someone else to work on. We've also recently done something similar in  #301, so that can serve as a guide.

[2020-06-15 14:08] medeasyJsr commented on #326
hey @baltpeter, I would like to help with this issue

[2020-06-15 14:10] baltpeter commented on #326
Sure, thank you!

Let me know if you have any questions.

[2020-06-16 12:51] kumar80 commented on #326
Hey @baltpeter , I am working on this issue wanted to know if there should be any flash messages if yes what would be it

[2020-06-16 13:48] baltpeter commented on #326
Yes, a flash message would be good, @kumar80. You can use the same one as in #301 (see [here](https://github.com/datenanfragen/website/pull/301/files#diff-17b99fa8e6c12a09b25fbadc543db4f9R296)).

[2020-06-18 11:06] mal-tee opened #329 "Broken image on act-page"
https://www.datenanfragen.de/act/drk-brandenburg-datenleck/

The image https://www.datenanfragen.de/act/img/drk-brandenburg-datenleck.jpg doesn't load on my machine.

[2020-06-18 11:14] mal-tee opened #330 "Make the generator lighter by loading heavy parts on demand"
The PDF-part of the generator makes up a significant part of the generator-script, but is only used for non-email requests. I propose that we load the PDF-code on demand, e.g. if the user switches to another mode than email or interacts with the generator in another way.
This will reduce the size of the core-script and therefore improve loading times and performance.

[2020-06-18 11:16] mal-tee opened #331 "Add "mini" request generators to company pages"
We could add mini-generators to the company pages like the ones on the /act pages.
With these users could immediately make a request to the preconfigured company.

Implementing #330 first would make sense, otherwise the company pages might be too large.

[2020-06-18 12:08] m-rey commented on #329
Thanks for the report.
The image path is wrong, I'll submit a PR.

[2020-06-18 12:26] m-rey commented on #329
Some blog posts also have this issue, btw.

[2020-06-18 17:15] #329 closed

[2020-06-18 21:03] #326 closed

[2020-06-22 10:25] baltpeter commented on #247
Just a heads-up: I have a couple of changes planned for the privacy policy, so it would probably make sense to hold off until then. I'll let you know once they are implemented.

[2020-06-22 20:15] baltpeter opened #337 "Throw error in suggest page when POST fails"
Our suggest Lambda recently had an error that I only detected by accident. On error, the suggest page currently only shows a flash. If it threw an error instead, the user would see our error handler and could report the problem.

[2020-07-24 21:10] mal-tee opened #340 "Blurry thumbnails on tablet viewport"
The thumbnails on https://www.datenanfragen.de/blog are blurry when viewed in a tablet like mode, e.g. half-screen on 1080p.

[2020-07-28 12:35] baltpeter opened #342 "Search only works for `runs` list in some cases if country is set to `all`"
Company: https://www.datarequests.org/company/match-group

![Peek-2020-07-28-14-33](https://user-images.githubusercontent.com/4048809/88665856-cc70b400-d0ce-11ea-832d-828d95d33b8d.gif)

[2020-07-28 12:41] baltpeter commented on #342
Upon closer inspection: This is weird. Searching the `runs` list works for some but not all companies?!

**Examples of companies where it doesn't work**:

* https://www.datarequests.org/company/wolterskluwer/
* https://www.datarequests.org/company/kbmg/
* https://www.datarequests.org/company/t3n/

**Examples of companies where it does work**:

* https://www.datarequests.org/company/faceapp/
* http

[2020-07-29 07:07] baltpeter commented on #342
Narrowing it down further: The problem only occurs if the user's country is set to "all".

[2020-07-31 12:23] baltpeter commented on #340
This should probably be fixed together with #293.

[2020-08-04 19:35] baltpeter commented on #342
This is fixed by a Typesense update (#344).

[2020-08-04 20:22] #298 closed

[2020-08-06 23:10] baltpeter opened #348 "Clarify Germany in SvaFinder"
Currently the flow is:

1. "Where do you live?" -> Germany
2. "Which of the following areas does your request concern?" -> "Private entity"
3. "In which state is the entity your request concerns based?"

There needs to be a step between 2. and 3. that asks "Is the company also based in Germany?".

[2020-08-07 20:50] mal-tee opened #352 "Search falsely returns empty categories for "schokol""
![grafik](https://user-images.githubusercontent.com/45886910/89687205-0a0be300-d900-11ea-99ef-3577554ad922.png)
![grafik](https://user-images.githubusercontent.com/45886910/89687234-1b54ef80-d900-11ea-8e44-e57152a89523.png)

* Also works for "schokola" 🍫
* Is not fixed by #344, seems to be a parsing error on our side

[2020-08-08 16:09] baltpeter opened #354 "Different styling for the search result highlights?"
Typesense helpfully surrounds the words that are actually matched with `<mark>word</mark>`, allowing us to highlight them. Currently, we are using the default browser style, making them italic:

![image](https://user-images.githubusercontent.com/4048809/89714922-7f73c400-d991-11ea-98d2-3b21bb9c4242.png)

This may not be obvious enough. We should consider using a different style. May change the col

[2020-08-08 17:22] mal-tee commented on #354
I would prefer the highlights to be bold(er), but of course that is not easily possible if we want to highlight the already bold title. Do our fonts support fine-grained font-weights? Otherwise, we might be able to emulate bolder text with other styling options.

Changing the text-color is a good idea as well, but we have to be cautious to strike the right balance between visibility and good-looki

[2020-08-08 17:40] baltpeter commented on #354
Our font has tons of weights but we are currently not loading them and—to be honest—I would prefer to keep it that way. Not sure how mixing different weights like that would look, either.

[2020-08-09 17:54] #337 closed

[2020-08-09 19:47] zner0L opened #355 "Remove localhost from the external link selector in production"
Why include `localhost` and why only http? For testing? When the changes are live, localhost would be external IMO.

_Originally posted by @zner0L in https://github.com/datenanfragen/website/pull/341_

[2020-08-09 20:42] #287 closed

[2020-08-09 22:53] #330 closed

[2020-08-10 00:17] zner0L commented on #354
How about underlines?

[2020-08-10 08:11] baltpeter commented on #354
![image](https://user-images.githubusercontent.com/4048809/89762982-156a3480-dae1-11ea-9669-38a399cbad54.png)

Not sure…

[2020-08-10 14:02] #352 closed

[2020-08-12 08:52] mal-tee opened #357 "Scrolling on the company database is broken for mobile"
If you search for a term on the database, you might not be able to see all results, because you can not scroll. Instead of moving the view, the list of all companies in the background is moved.

In this example you can only see the first three results, instead of all five.

![grafik](https://user-images.githubusercontent.com/45886910/89995419-b85db280-dc89-11ea-9e8d-87349338bc92.png)

[2020-08-12 13:51] mal-tee opened #358 "Do not serve all language strings in `general.js`"
* `general.gen.js` contains the strings for all languages, but we only need them for one.
* I would personally prefer if the strings are not in the .js at all, but in a seperate file, what do you think about that?

[2020-08-12 16:31] zner0L commented on #354
<img width="1006" alt="Screen Shot 2020-08-12 at 18 30 53" src="https://user-images.githubusercontent.com/4049135/90041786-1316fe80-dcca-11ea-89b5-5c176c777070.png">
 How about dis?

[2020-08-12 16:35] baltpeter commented on #354
I don't mind that, that's actually quite nice.

But we need to make sure that it still works when hovering over a result.

[2020-08-13 20:37] baltpeter opened #360 "External links cleanup"
In #341, we added different styling for external links. Some artifacts of this that need to be cleaned up:

* Pure anchors without an href (as seen [here](https://www.datarequests.org/supervisory-authorities/)):

![image](https://user-images.githubusercontent.com/4048809/90184078-17174f00-dda4-11ea-80de-5772a685504e.png)

* mailto URLs (as seen [here](https://www.datarequests.org/contact)):

![ima

[2020-08-18 21:50] baltpeter commented on #360
* Another case, reported by @brnt-toast in #364: Manually added anchors (as seen [here](https://www.datarequests.org/supervisory-authorities)):

![image](https://user-images.githubusercontent.com/4048809/90569120-cb4a1880-e19c-11ea-85db-b5fccd42d357.png)

[2020-08-20 09:51] #360 closed

[2020-08-20 09:53] baltpeter opened #366 "'Fancy' link styling doesn't apply to all links"
The link selector @zner0L implemented a while back isn't sufficient to catch all links.

@mal-tee mentioned two cases in #365:

* The links to GitHub in https://www.datarequests.org/privacy#error-reports
* The links in the author box, e.g. to creativecommons.org in https://www.datarequests.org/blog/gdpr-territorial-scope#page-meta

[2020-08-23 20:12] mal-tee commented on #331
While tinkering with the `act-widget` the following questions came to my mind:

#### Idea
How much do we want to strip away from the big generator to create this mini-generator?
One goal of the mini-generator is to get users to quickly make a request, if they land on a companies page from e.g. a search machine. --> It shouldn't feel intimidating imo.

* Should we even highlight that we do not save

[2020-08-23 20:23] mal-tee opened #367 "Placeholder for related companies in the dev build"
Atm the company pages do not contain related companies in dev build. I think we should add placeholders.

[2020-08-24 18:54] baltpeter commented on #331
That is a great idea! I do however think that transferring the entered details from the widget to the actual generator needs to be supported right from the start. Otherwise, users will be frustrated when the data they entered is lost.

Yeah, that seems fair. I would vote for supporting the suggested transport medium. I see no reason to only support email.

Definitely.

Personally, I don't think th

[2020-08-24 18:56] baltpeter commented on #342
We have actually deployed that update a while ago and this issue is fixed.

[2020-08-24 18:56] #342 closed

[2020-08-24 18:57] baltpeter commented on #207
Good news: We will soon be switching from Netlify to our own static site hosting solution (dattel, see #363). We should then be able to implement this.

[2020-08-24 18:58] baltpeter commented on #156
This was fixed in #316.

[2020-08-24 18:58] #156 closed

[2020-08-24 20:35] baltpeter opened #373 "Use modern image formats with Hugo"
Google PageSpeed (rightfully) complains that we are not making use of [modern image formats](https://web.dev/uses-webp-images/):

![image](https://user-images.githubusercontent.com/4048809/91093425-f1faca00-e648-11ea-9b19-88a9a3f8af98.png)

While we could manually convert and use them, that would be very time consuming and easy to forget, especially since Hugo already [supports converting images a

[2020-08-24 20:37] baltpeter commented on #293
The main problem (serving images in different sizes depending on the viewport) will be solved by #372. As Hugo doesn't support WebP yet, we unfortunately cannot implement that at the moment.

I have created a separate issue (#373) to track that.

[2020-08-24 21:02] baltpeter opened #374 "Better blog thumbnails"
Currently, we support two types of thumbnails in the content list pages: Actual Hugo page resources (specified via `featured_image`) and images from any random URL (specified via `featured_image_url`). While we can do useful things like automatic resizing (#293) or format conversion (#373) with the page resources, that is not possible with the images loaded via URL.

I propose we deprecate loading

[2020-08-25 10:49] #293 closed

[2020-08-25 10:49] #340 closed

[2020-08-30 08:38] baltpeter opened #386 "DonationWidget: Show the amount that we will receive after fees"
We offer multiple payment methods in our donation widget that have different fees. Users may want to choose the payment method with the smallest fees for a more effective use of their money.

For reference, this is how [FragDenStaat](https://fragdenstaat.de/spenden/) does this:

![image](https://user-images.githubusercontent.com/4048809/91654877-15d06c80-ea9c-11ea-867a-1f685fa3536c.png)

[2020-08-30 08:39] baltpeter opened #387 "DonationWidget: Allow users to leave a comment when donating"
I actually proposed this pretty much in the first iteration of the donation widget:

https://github.com/datenanfragen/website/blob/cfba6f9c04feae71b6154e4af2a77b7bac798dab/src/Components/DonationWidget.js#L137

[2020-09-01 18:45] baltpeter opened #388 "Generator doesn't work if "Remember identification data" is disabled: t.signature is null"
A user reported that they used the wizard and were greeted with the below error upon clicking "Done adding companies" and being redirected to the generator.

[code]

[2020-09-01 18:59] baltpeter commented on #388
If we just try to follow these steps (go to the wizard, add some companies, click "Done" to be redirected to the generator, we are not able to reproduce the error. Luckily, the debug information is quite helpful in this case. It allows us to deduce two important facts:

* The error occurred in this line:

  https://github.com/datenanfragen/website/blob/d97ed79e7082db0cad9b2229f886c3e24d5638bf/src/

[2020-09-01 19:16] baltpeter opened #389 "Implement tests that check if the site also works with modified privacy controls"
In #388, a bug was reported that always happened when a user disabled a privacy control and then visited the generator. This should have really been caught by our tests.

[2020-09-01 19:16] baltpeter commented on #388
Further, we can see that the generator doesn't work at all if "Remember identification data" is disabled, making this a pretty serious issue.

This highlights a problem with our current tests: We didn't think to test if things still work with modified privacy controls. Quite an oversight! I have opened #389 to change that.

[2020-09-01 19:16] baltpeter commented on #388
So, let's follow the money:

* `RequestLetter.propsFromRequest()` is only called in one place:

  https://github.com/datenanfragen/website/blob/d97ed79e7082db0cad9b2229f886c3e24d5638bf/src/Components/RequestGeneratorBuilder.js#L431

  This is in the `renderLetter()` function of the `RequestGeneratorBuilder` which is in fact called when we enter the generator, so we seem to be on the right track he

[2020-09-02 10:57] #388 closed

[2020-09-09 18:25] baltpeter opened #393 "Don't duplicate browserslist config in postcss.config.js"
This is duplicated from the `package.json`:

https://github.com/datenanfragen/website/blob/9195f52c9366844e6fe8c08fe88952776eb29c05/package.json#L114-L117

Since this is a JS file, can't we just import that here? Or, if the p.json entry isn't needed anymore, we should remove that.

But this is not a blocking problem, I'll create an issue.

_Originally posted by @baltpeter in https://github.com/dat

[2020-09-09 19:04] #358 closed

[2020-09-13 09:13] baltpeter opened #396 "Explain why the suggested companies are suggested"
In the wizard, the user is presented with a long list of companies. They probably have never heard of most of them. So, there should really be some kind of (short) explanation for each companies that allows the user to decide whether they want to send an access request to that company (and also force us to justify the inclusion).

I am thinking of a little question mark icon next to each company t

[2020-09-13 20:35] baltpeter commented on #299
With #398, this won't be necessary anymore.

[2020-09-15 08:47] baltpeter opened #399 "Allow webmanifest in CSP"
When loading the site in Chrome, the following error is logged to the console:

[2020-09-18 19:47] rugk opened #401 "Web forms support"
In your talk at the [OKL Berlin](https://www.datenanfragen.de/verein/event/okl-berlin-05-2020/) (at the end around 35min) you have mentioned you would like to support web forms of companies…

Is there an issue tracking this idea yet? Is this idea still on your plan?
If not, then this shall be the issue… :stuck_out_tongue_winking_eye:

---

So, technically, I think this is very hard, because usuall

[2020-09-19 07:59] baltpeter commented on #401
I could have sworn we had an issue for web form support already but you're right, there isn't one. Thanks for fixing that. :D

I also agree with your assessment. I don't see a way to implement actually submitting the forms from our site. We would also have to implement a mapping between the form fields and the stuff we generate in our schema somehow which seems prohibitively hard. Also, there will

[2020-09-19 08:04] baltpeter opened #402 "MailtoDropdown: Support for more webmailers"
Our MailtoDropdown doesn't just support the regular `mailto:` 'protocol' but also various webmailers (currently Gmail and Yahoo):

![Peek 2020-09-19 10-02](https://user-images.githubusercontent.com/4048809/93662287-90aef680-fa4e-11ea-85ec-679bd465f0cb.gif)

We would like to extend this with support for more webmailers, especially local ones like GMX and Web.de in Germany.

The handlers are impleme

[2020-09-19 15:23] raj5036 commented on #402
# wjhewuqeuhwqjhkqwje

[2020-09-22 10:04] #207 closed

[2020-09-27 13:05] mal-tee commented on #366
https://github.com/datenanfragen/website/blob/62db845331fd935682ec4f2fb979463fe8f1e11c/assets/styles/framework.scss#L197-L200

This is the selector in question 😄

[2020-09-27 13:45] mal-tee opened #407 "Update the open-source page"
Our [open-source overview](https://www.datarequests.org/open-source/) has become quite outdated, we should update it!

* We no longer use `yace` but [backend](https://github.com/datenanfragen/) which atm handles comments, suggestions, donations, and hacktoberfest registrations
* There are other (new) repos, such as media, letter-generator, and locate-contacts-addon, should we include these as well

[2020-09-27 13:52] baltpeter commented on #407
`media` and `letter-generator` should definitely be included. I wouldn't include locate-contacts-addon as it is pretty much abandoned unless someone else picks it up.

As for `backend`: I would only list comments, suggestions and donations as examples. The Hacktoberfest stuff seems fairly inconsequential and I don't want to have to update the page whenever we add a new feature. :D

[2020-10-01 16:42] haardikdharma10 commented on #402
Hi @baltpeter, I'd like to trigger this and add GMX and Web.de. Can I go ahead?

[2020-10-01 16:46] haardikdharma10 commented on #324
Hey @baltpeter, i'd like to trigger this as well. Can you assign me this?

[2020-10-01 17:09] baltpeter commented on #402
@haardikdharma10 Sure, go ahead!

[2020-10-01 17:31] michizhou commented on #407
Hi, @baltpeter @mal-tee. I can definitely take on this issue. Can I go ahead?

[2020-10-01 17:48] mal-tee commented on #407
Sure 👍

[2020-10-01 19:01] khanna98 opened #412 "Content Security Policy directive Violation Error in Chrome"
The following error appears in the Chrome dev console when loading the website:

<img width="731" alt="Screenshot 2020-10-02 at 12 30 21 AM" src="https://user-images.githubusercontent.com/29047276/94851779-87f2f300-0446-11eb-990e-20f37559cf01.png">

[2020-10-01 19:05] khanna98 commented on #412
This issue is resolved. 😊
Please review and merge #413 for this issue. 👍🏻

[2020-10-01 22:34] rahulsunil2 commented on #373
I've fixed this, [Pull Request](https://github.com/datenanfragen/website/pull/415)

[2020-10-02 00:32] galanggg commented on #402
hello @baltpeter can i send a PR for link of Outlook ?

[2020-10-02 01:37] swapniljha001 commented on #402
@galanggg  The Outlook wasn't working previously, but the reference material is 4 years old, so you might need to research some more before adding the Outlook link.

[code]

[2020-10-02 01:39] swapniljha001 commented on #402
What other web mailers are needed here? I think the most common ones like Google, Yahoo, Yandex have already been added to this.

[2020-10-02 01:46] galanggg commented on #402
@swapniljha001 heres my PR #416

[2020-10-02 03:27] maskmanlucifer commented on #357
Scrolling company names not even working on Desktop/Laptop.
I will like to work on this issue.should I go for it ???

[2020-10-02 08:45] baltpeter commented on #412
Thanks for raising this issue!

Unfortunately, #413 doesn't actually fix it. I'll open this issue for everyone but feel free to give it another go. :)

[2020-10-02 08:59] baltpeter commented on #373
A quick note for everyone: As I said, we are **not** looking for manual conversions, only automatic ones as part of our Hugo build.

This issue cannot be resolved until support for that is added in Hugo.

[2020-10-02 09:08] baltpeter commented on #402
I agree that we now support the most common ones. The purpose behind this issue is explicitly to catch those that we have missed, so I cannot tell you which ones to add. :) I think the most potential is in adding local webmailers that are specific to one EU country. As I am from Germany, I only know the German ones (GMX and Web.de for example, as I mentioned) and no the ones for other countries.

[2020-10-02 09:33] haardikdharma10 commented on #402
Hi @baltpeter, I tried searching for the correct url for GMX, but as I am from India I am unable to sign up for GMX. Also, the discussion about the correct compose url for GMX is here: https://github.com/Noitidart/MailtoWebmails/issues/12
Let me know what do you think? 🤔

[2020-10-02 09:42] haardikdharma10 commented on #393
Should we consider removing it?

[2020-10-02 10:14] zner0L commented on #393
We definitely still need the `browserslist` entry in the `package.json`, since `babel` appears to be using it as well. If you like, you could look into importing the array from the `package.json` into `postcss.config.js`, @haardikdharma10.

[2020-10-02 10:17] haardikdharma10 commented on #393
Oh yes, got your point. Can do the importing part for sure:)

[2020-10-02 10:22] baltpeter commented on #402
@haardikdharma10 Seems like they didn't find a working link in the issue you linked. :/

[2020-10-02 10:23] zner0L commented on #393
Nice! Then go for it :) You can assign yourself to the issue if you want.

[2020-10-02 10:38] haardikdharma10 commented on #402
Yeah that's what :(

[2020-10-02 10:54] hadron43 commented on #357
Hello. Can I take this? Please add more info, the page on which the issue exists.

[2020-10-02 10:57] zner0L commented on #357
Sure, have at it! You can find the issue here: https://www.datarequests.org/company

Files you might want to look at are [`layouts/company/list.html`](https://github.com/datenanfragen/website/blob/master/layouts/company/list.html) and [`src/company-list.js`](https://github.com/datenanfragen/website/blob/master/src/company-list.js)

[2020-10-02 10:58] hadron43 commented on #357
Please assign me.

[2020-10-02 11:05] zner0L commented on #412
Isn't this a duplicate of #399?

[2020-10-02 11:07] baltpeter commented on #412
Good point. Forgot about that one. :D

[2020-10-02 11:07] #412 closed

[2020-10-02 11:27] botex98 commented on #366
@mal-tee Hello, may I resolve this issue?
To be clear: what's the preferred outcome? That the links in the two cases are also caught by the selector?

[2020-10-02 12:06] hadron43 commented on #357
While building, I'm facing the following error. Any suggestions?
Start building sites …
ERROR 2020/10/02 17:35:56 TOCSS: failed to transform "styles/loader.scss" (text/x-scss): resource "scss/styles/loader.scss_16daf05a51a1b3e21f08cb57cd3d16ce" not found in file cache
Built in 4354 ms
Error: Error building site: TOCSS: failed to transform "styles/main.scss" (text/x-scss): resource "scss/styles/mai

[2020-10-02 12:07] baltpeter commented on #357
Make sure you're using the Extended version of Hugo. That should fix the error.

[2020-10-02 12:10] zner0L commented on #366
Hey, @botex98. We want the selector to catch all links that are in articles or general text, but not in the footer for example.
The idea is for these links to mostly appear in long texts, where it is harder to spot them as links immediately. That's why the selector focuses on `p`, `span` and `.box`.

If you just want to start working on this, try implementing the mentioned cases first and then loo

[2020-10-02 12:12] baltpeter commented on #366
Considering the links in the "box" are also styled, I think it's best to also style the ones on the company page.

[2020-10-02 12:13] Techievena commented on #399
@baltpeter I want to work on this

[2020-10-02 12:14] baltpeter commented on #399
Sure, I'll assign you.

[2020-10-02 15:40] mal-tee opened #422 "Nicer event titles in the ics export"
The .ics export is a very handy feature, but I like to have an overview over my calendar without clicking on events.
In this case the title could be more precise:

![grafik](https://user-images.githubusercontent.com/45886910/94941503-3f364b00-04d5-11eb-99f3-d7b1f1dd6753.png)
![grafik](https://user-images.githubusercontent.com/45886910/94941547-4eb59400-04d5-11eb-97c5-391d8b22306b.png)

As you can

[2020-10-02 17:06] #407 closed

[2020-10-02 17:08] #399 closed

[2020-10-02 17:14] hadron43 commented on #357
What kind of behavior is expected? Shall I remove the "Our company database holds the contract..." line when the div becomes sticky?

[2020-10-02 18:21] chrysillala commented on #374
Hi, I would love to work on this issue. Could you please assign and guide me? Thank you

[2020-10-02 19:11] #324 closed

[2020-10-02 19:28] zner0L commented on #357
I think there are two things you can do: hide the text and button when scrolling and implement proper overflow handling for the search results. You can also try and limit the amount of search results based on the screen size, but I feel like this could end up being pretty error prone.

[2020-10-02 20:50] baltpeter opened #424 "Chrome complains about CSP error when trying to submit Hacktoberfest 2020 registration"
**Steps to reproduce:**

1. Fill out form on <https://www.datenanfragen.de/blog/hacktoberfest-2020>.
2. Notice error in console: `Refused to send form data to 'https://www.datenanfragen.de/blog/hacktoberfest-2020#!success=1' because it violates the following Content Security Policy directive: "form-action https://www.paypal.com https://backend.datenanfragen.de".`
3. Notice the form was actually po

[2020-10-02 20:50] baltpeter commented on #424
This only happens in Chrome, Firefox works without issues.

Not sure what the problem is but I guess we could try allowing `form-action self` to hopefully appease Chrome.

[2020-10-02 21:07] baltpeter commented on #424
This has done the trick for some reason.

[2020-10-02 21:07] #424 closed

[2020-10-03 05:17] hadron43 commented on #357
I hope this fixes it. Please review.

[2020-10-03 08:35] king-11 commented on #422
Hey @mal-tee can I start working on this?

[2020-10-03 08:52] mal-tee commented on #422
Sure, go ahead!

[2020-10-03 15:04] baltpeter commented on #374
Hi @chrysillala, unfortunately, this particular issue isn't really suited for Hacktoberfest. We would love to guide you on one of the other issues (tagged with `hacktoberfest` or `help wanted`), though. :)

[2020-10-03 20:08] haardikdharma10 commented on #86
Hi @baltpeter, any starting steps you would like to suggest?

[2020-10-04 05:32] chrysillala commented on #374
Hi @baltpeter, thank you for the confirmation. I will look for another issues :)

[2020-10-04 05:34] chrysillala commented on #373
Hi, can I try to fix this issue? Thanks

[2020-10-04 08:57] botex98 commented on #366
@baltpeter let me know what do you think about these modifications. :)

[2020-10-04 09:15] baltpeter commented on #373
Please see my above comment: https://github.com/datenanfragen/website/issues/373#issuecomment-702612156

[2020-10-04 09:31] baltpeter commented on #366
@botex98 Changes look good on first glance, I've assigned @zner0L for the review as he wrote the original selector.

By the way: Not sure if you have seen it yet, but we are offering some additional [Hacktoberfest rewards](https://www.datarequests.org/blog/hacktoberfest-2020). Feel free to signup for that if you want. :)

[2020-10-05 16:04] zner0L opened #427 "Wrap everything main in <main>"
We basically wrap everything in main already. I'd like to keep it that way, especially since this becomes meaningful with #426. I don't know where this is needed (so you'd need to do some research), but one page I found was https://datarequests.org/id-data-controls.

[2020-10-05 17:03] jadonwolffs commented on #427
Can I give this a go for Hacktoberfest?

[2020-10-05 17:43] GoGi2712 commented on #427
Can I work on this issue?

[2020-10-05 18:02] jonahcrowlinson commented on #427
@jadonwolffs @GoGi2712 - if you can fix this issue, then fix the issue. Unless it says different in the Code of Conduct or CONTRIBUTING.md there is no need to ask if you can fix it. Just make sure to link the issue in a pull request using #ISSUE_ID.

[2020-10-05 18:26] zner0L commented on #427
We'll, I hope you don't both started working on this. This is not a competition. I'll assign @jadonwolffs, as they were the first to ask. Also: asking is not needed, but appreciated @jonahcrowlinson.

[2020-10-06 00:19] #427 closed

[2020-10-06 08:49] baltpeter opened #429 "Fix intermittent test failures in old-bugs/country-change-updates-wizard test"
This is the test in question:

https://github.com/datenanfragen/website/blob/2669b17b66859ee4e20cfd3c145708d442f5daa7/cypress/integration/old-bugs/country-change-updates-wizard.spec.js#L30-L57

In particular, the test fails when verifying the cookie value:

https://github.com/datenanfragen/website/blob/2669b17b66859ee4e20cfd3c145708d442f5daa7/cypress/integration/old-bugs/country-change-updates-wiz

[2020-10-06 10:46] jadonwolffs commented on #429
I was going to try work on this but it appears to pass fine on master for me already when testing using Electron 80 but seems to fail with Firefox 81. The [README](https://github.com/datenanfragen/website/blob/master/cypress/README.md) mentions that it should be running in Electron on the CI env (and it says that it is running `Electron 80 (headless)` on [circleci](https://app.circleci.com/pipelin

[2020-10-06 10:55] baltpeter commented on #429
Thanks for looking into this!

We are indeed running the tests in Electron. Unfortunately the test failure is only intermittent and we haven't been able to determine conditions for reproducing it reliable. From experience, I would say the chance it failing is higher when running all tests instead of only this particular one but I have definitely also seen it fail when only running this test. Also,

[2020-10-06 11:18] jadonwolffs commented on #429
I have only actually been able to recreate this failed test once more on Firefox now and that was when running all the tests a few times (to clarify: it passed most of the times as you say) so it might be coincidence that it failed the first time I ran it in Firefox (however I am yet to get it to fail on Electron)

I'll keep fiddling later today and see if I can discover anything

[2020-10-06 18:31] KatFrog commented on #355
localhost is already excluded - look at assets/styles/variables.scss, line 30

[2020-10-06 18:38] KatFrog commented on #84
Is this still a problem?

[2020-10-06 20:08] davenewham commented on #402
Regarding this, from a quick test, URI's are limited to roughly 8200 chars from Gmail (in Firefox) for a GET combined with the fact that older browsers are even limited more to just 2048 chars... is there not a better solution than using the URI?

[2020-10-06 20:18] davenewham opened #430 "No Cookies Popup"
The cookie settings is hidden under a menu which I wasn't even aware of when I first visited the site.

https://gdpr.eu/cookies/
Via the gdpr directive it seems you must have explicit consent _before_ using any cookies except for "strictly necessary" cookies. This could be done with a popup on first visit.

[2020-10-07 13:21] king-11 commented on #422
@mal-tee sorry for the delay but am not able to test the website locally the docs aren't very clear can you help out a bit, please

[2020-10-07 13:31] king-11 commented on #422
thanks a lot @mal-tee I was really confused now I will start working on this issue you can hope for a pr soon will try my best

[2020-10-07 13:31] mal-tee commented on #422
Great, have fun coding 👍

[2020-10-07 15:07] baltpeter commented on #84
It is, feel free to give it a go if you want!

[2020-10-07 15:15] baltpeter commented on #402
@davenewham That's a good point! I didn't consider URL length limitations in browsers. According to [this very old post](https://technomanor.wordpress.com/2012/04/03/maximum-url-size/), this shouldn't be a problem in browsers other than IE. [This StackOverflow answer](https://stackoverflow.com/a/417184) lists some additional concerns but since we don't have to care about SEO and CDNs in this parti

[2020-10-07 16:28] baltpeter commented on #430
Thanks for bringing this up. We have very deliberately opted not to have a cookie popup. We are not fans of cookie popups (they are annoying and provide little actual use to the user). One of our core philosophies is to design our sites in the most privacy-friendly way possible, mostly through data minimization meaning that we don't actually process any personal data unless absolutely necessary. A

[2020-10-08 09:12] king-11 opened #431 "Runing without updating dependencies and sequential instruction local dev"
README.md tells to run
[code]
to install dependencies but that will as per yarn's default lead to an update of packages which can lead to breaking change update or lock file upgrade which can prevent proper merging of PRs . change it to
[code]
instead, also updating readme.md to ensure that the instruction for local deployment are written down in a sequential order which i myself encountered as of

[2020-10-10 08:53] baltpeter commented on #431
The [docs](https://classic.yarnpkg.com/en/docs/cli/install#toc-yarn-install) say the following:

Seems like this should be fine for us.

[2020-10-10 12:08] #90 closed

[2020-10-10 12:10] #299 closed

[2020-10-10 12:10] #355 closed

[2020-10-10 12:26] baltpeter opened #432 "Privacy controls: Only set cookie if preference != default"
We are saving the user preferences for our [privacy controls](https://www.datarequests.org/privacy-controls) as cookies. Currently, we always set the cookie if the user changes something. However, this isn't necessary.

If a preference is set back to the default value, we can just delete the cookie.

The relevant code is here:

https://github.com/datenanfragen/website/blob/05133ee1ee4d147c1cf643cd

[2020-10-10 12:33] baltpeter opened #433 "Only set changed_saved_companies cookie if the user actually changed something"
In the wizard on the homepage, we use the `changed_saved_companies` cookie to determine whether the user has changed the default suggested companies (to test, use Germany, Austria or the UK as the country; we only have suggested companies for them). However, this cookie is unnecessarily set whenever the user enters the homepage.

Instead, we should set the cookie only if the user actually changed

[2020-10-10 12:38] baltpeter opened #434 "Wizard: Can fetch 404 error be suppressed?"
The wizard on our homepage loads the suggested companies from a URL of the form: `https://<domain>/db/suggested-companies/<country_code>_wizard.json`

If we don't have suggested companies for a country (currently, we only have them for DE, AT and UK), this request fails with a 404 error. This behaviour is expected and handled in the code (in this case, we just don't show any suggested companies).

[2020-10-10 12:48] baltpeter opened #435 "Wizard: Re-focus search bar after selecting a company"
In the wizard on our homepage, users can add companies through the search bar:

![Peek 2020-10-10 14-47](https://user-images.githubusercontent.com/4048809/95655435-cb102e80-0af6-11eb-904e-43cb16002827.gif)

When adding many companies (which is what the wizard is for, after all), it would be a lot more convenient if the search bar was re-focused after selecting a company.

[2020-10-10 13:08] baltpeter opened #436 "Translate the changes from #411 into German and French (and the whole page into Portuguese)"
In #411, @michizhou kindly updated our open source page. These changes also need to be reflected in the German and French translations.

In addition, it would be great to have a Portuguese translation of the whole page

[2020-10-10 13:08] sumirart commented on #435
hey @baltpeter can I work on this? thanks

[2020-10-10 13:09] baltpeter commented on #435
@sumirart Sure, thanks!

[2020-10-10 13:18] baltpeter opened #437 "StarWidget for ratings in comments is not shown anymore"
On the company pages, users can leave comments and also, optionally, rate the company they are commenting on. The ratings should be shown as "stars" to the right of the user's name but for some reason, they aren't anymore.

Take [Humble Bundle](https://www.datarequests.org/company/humblebundle) for example. If we look at the [comments JSON](https://backend.datenanfragen.de/comments/get/en/company/

[2020-10-10 13:24] baltpeter opened #438 "Calculate and show aggregate ratings for companies"
The companies in our [company database](https://www.datarequests.org/company) can be rated by users.

Currently, we only display the ratings next to the comments. [Note that there is currently a bug (#437) with that.] In addition, we should also calculate and show aggregate ratings. These should also be exposed as [structured data](https://developers.google.com/search/docs/data-types/review-snippe

[2020-10-10 14:49] Devanshh commented on #436
Hi @baltpeter , Can I take this up!?

[2020-10-10 14:56] baltpeter commented on #436
@Devanshh If you speak one of the languages, sure. But please note that we cannot accept machine translations.

[2020-10-10 15:06] Devanshh commented on #436
Well, if that's the case, Can I add the translations for Hindi?(If required) Because Hindi is my native language. I studied basic German in high school.

[2020-10-10 15:07] baltpeter commented on #436
Sorry, we don't offer our website in Hindi, so there is no need for this translation.

[2020-10-10 16:20] debPhoenix commented on #436
I can translate in French. I'm a french native! :)

[2020-10-10 16:21] baltpeter commented on #436
@debPhoenix Perfect, thanks!

[2020-10-10 17:36] alejandrotoga02 commented on #433
Hi , I would like to take it

[2020-10-10 17:37] baltpeter commented on #433
@alejandrotoga02 Sure, thanks!

[2020-10-11 01:07] rezziemaven commented on #437
Hi @baltpeter! I don't mind taking a stab at this one if you don't mind assigning it to me! By the way, do you happen to have a screenshot showing what the rating looked like when it did appear? Or is it only just a matter of tweaking the code to see if it appears again?

[2020-10-11 06:54] king-11 commented on #431
@baltpeter ohh cool i will close the issue and sorry i didn't go through docs properly

[2020-10-11 07:01] king-11 commented on #422
@mal-tee so shall I pass in instead of 'ics-summary' as new variable whose value will be set as per the number of requests if I guess 2 companies is good so if we have two companies then there recipients else the count how does that sound .

https://github.com/datenanfragen/website/blob/1aed9ca5644e92e90d2a3bbf4f1593d16348f497/src/my-requests.js#L361

[2020-10-11 07:19] king-11 commented on #431
@baltpeter i recently tried but i guess there is some issue the dependencies get upgraded on running only yarn

[2020-10-11 08:20] mal-tee commented on #422
Sounds good

[2020-10-11 08:25] baltpeter commented on #437
Sure @rezziemaven, I have assigned you, thanks!

I unfortunately don't have a screenshot on hand, but the styling should all still be there.

[2020-10-11 08:55] baltpeter commented on #431
Thanks for following up.

I cannot reproduce this problem with this repo:

![image](https://user-images.githubusercontent.com/4048809/95674285-a2437400-0b9e-11eb-8d6b-b489ecfd2a27.png)

The docs say that upgrades can occur if "`yarn.lock` [is] not enough to satisfy all the dependencies listed in `package.json` (for example, if you manually add a dependency to `package.json`)". Maybe that's the cas

[2020-10-11 10:52] chrysillala commented on #367
Hi, I would like to work on this issue. Could you please assign and guide me? Thanks!

[2020-10-11 12:11] baltpeter commented on #367
Sure, @chrysillala!

The companies in our company database list related companies on their detail pages. Take a look at [this company](https://www.datarequests.org/company/adux/) for example:

![image](https://user-images.githubusercontent.com/4048809/95678149-53a3d300-0bba-11eb-839a-532e032a0ea3.png)

The code for that is defined here:

https://github.com/datenanfragen/website/blob/05133ee1ee4d14

[2020-10-11 13:51] chrysillala commented on #367
Hi @baltpeter, thank you so much for the detailed explanation.

Anyway, I'm having difficulties when running `hugo server` on my machine, even though there's no problem with `./deploy.sh` and `yarn dev`.

Below the error message screenshot:
![image](https://user-images.githubusercontent.com/4686015/95680281-aa34ff80-0c02-11eb-90b2-6317abc3a9c4.png)

Would really appreciate if you could help me :)

[2020-10-11 13:59] baltpeter commented on #367
To be honest, I have never seen that error before and don't really have any idea what might be causing it. Two ideas:

* Did you install the extended version of Hugo? Running `hugo version` should include `v0.xx.x/extended`.
* Which Hugo version are you on? It should be at least `v0.74.3` but later versions should also work (I'm on `v0.75.1`).
* Otherwise, you could try if the error also occurs in

[2020-10-11 14:51] chrysillala commented on #367
@baltpeter : This is my Hugo version `Hugo Static Site Generator v0.76.3/extended darwin/amd64 BuildDate: unknown`
and this is what I got after running `hugo`, I'm not sure if this is the expected result..
![image](https://user-images.githubusercontent.com/4686015/95681713-aeb1e600-0c0b-11eb-9e12-0b93e0cafd67.png)

I think I'll just try to reclone the repo for now

[2020-10-11 15:10] baltpeter commented on #367
The output from `hugo` is what we would expect. You should now have a full build of the site in the `public` folder. Worst case, you could work with that, I guess, but you would have to always build manually. :/

If recloning doesn't work, I am unfortunately out of ideas. You would have to ask on the Hugo forum.

[2020-10-11 16:33] rezziemaven commented on #437
Awesome, thank you! Will get to it :)

[2020-10-11 17:28] shinnlok commented on #438
@baltpeter Can I take a look?

[2020-10-11 17:30] baltpeter commented on #438
@shinnlok Sure, I'll assign you.

[2020-10-12 00:41] shinnlok commented on #437
Hi all,

While analyzing https://github.com/datenanfragen/website/issues/438, I found that the backend response format was somewhat unexpected. If merged, I think https://github.com/datenanfragen/backend/pull/20 should fix this. Sorry @rezziemaven if you were already looking into it.

[2020-10-12 02:22] rezziemaven commented on #437
Hey @shinnlok! It would be great if it fixes it! I guess @baltpeter would let me know if it does or not.

[2020-10-12 04:28] chrysillala commented on #367
Bad news, recloning didn't work, though I have the full build site and can see the compiled page with no styling.
However I already got the ideas on how to solve the issue.
Please correct me if I'm wrong,
By adding `else` statement before the end of `{{ if not .Site.Params.devMode }} ` and print the placeholder / dummy HTML inside. Is it the expected solution?

Thank you.

[2020-10-12 04:40] #366 closed

[2020-10-12 06:22] rgroves commented on #434
I believe that there is no way to prevent the 404 from being logged by the browser when the request is made client side.

Might I suggest, what I think is the easiest way to handle this, just create files for all 2-digit country codes with an empty array within `datenanfragen/data/suggested-companies`.

Alternatively, but adding more complexity than you probably want, you can create a tiny service

[2020-10-12 09:01] baltpeter commented on #437
I can confirm that datenanfragen/backend#20 fixes this issue, so I'll close it.

Thanks for your help, @rezziemaven and @shinnlok!

[2020-10-12 09:01] #437 closed

[2020-10-12 09:05] baltpeter commented on #367
That's unfortunate. The styling not loading is probably due to Hugo's default `baseURL` being `http://localhost:1313`. You could try overriding that but it's probably easiest to just start a PR. Netlify will then automatically build the changes and give you a preview.

Yep, that should work. :)

[2020-10-12 09:20] baltpeter commented on #434
Thanks for looking into this, @rgroves!

I like the idea of having stubs for the missing countries. However, I would prefer not having them in the `data` repo as that would make it pretty hard to grasp what countries we still need to work on. Instead, I would propose doing that in the `website` deploy script. We are already doing a fair bit of post-processing on the `data` repo there, so that woul

[2020-10-12 10:06] baltpeter commented on #239
Maybe we can use [this](https://news.ycombinator.com/item?id=24747376) as a basis for footnote popups.

[2020-10-12 16:52] KoesterD opened #444 "/categories/ returns no results"
When I visit https://www.datenanfragen.de/categories/ it shows 2 pages of results, but both are empty.

I expect that page to return the company categories.

This was tested in Chromium 85, Chrome 85, Microsoft Edge 86, Firefox 46 and Firefox 81 with both adblockers active and inactive.

[2020-10-12 16:55] KoesterD commented on #444
![image](https://user-images.githubusercontent.com/6953435/95771988-50910b80-0cbc-11eb-820b-55cc4b71bad4.png)
![image](https://user-images.githubusercontent.com/6953435/95772050-69012600-0cbc-11eb-981d-99fc2f6bad48.png)

This is what I see when I visit that page.

[2020-10-12 18:59] rgroves commented on #434
Sounds like the Node route is best so the existing schema can be leveraged.  I will work on this and submit a PR in the next day or two.

[2020-10-12 20:25] baltpeter commented on #444
Good catch, thanks! I'll open this for Hacktoberfest if anyone wants to pick it up.

[2020-10-12 20:39] #433 closed

[2020-10-13 05:31] rgroves commented on #434
I noticed the "all" selection isn't currently accounted for. Would you like me to make a stub file for the "all" selection? I'm assuming that the wizard_all.json file would contain an object with all of the key value pairs from the other existing (non-stubbed) country files. Or would that be considered a separate issue?

[2020-10-13 09:03] baltpeter commented on #434
Ah, sorry for not being more clear about "all". "all" should not aggregate the companies from the other countries (it would hold those companies that are relevant for all countries, currently we don't have any such company). For the purposes of this issue, you can treat it like any real country and just fallback to an empty array.

[2020-10-13 19:03] ayush015 commented on #432
@baltpeter Can I take a look ?

[2020-10-13 19:05] baltpeter commented on #432
Sure, @ayush015. I'll assign you.

[2020-10-13 20:22] ayush015 commented on #432
@baltpeter how can I set it up ? if you can help me that'd be great

[2020-10-14 02:58] king-11 commented on #431
@zner0L any updates if the issue doesn't seem like a good one shall i close it? 😅

[2020-10-14 03:04] rgroves commented on #245
If you'd like, I can pick this one up and begin working on it.

Do you have any preference as to how you want this tackled? If it can be implemented by changing only the `company\list.html` template would that be fine? Or should there be a more complex process that will normalize the characters in the name and store it as a key in the company's json file? The former might make the template a littl

[2020-10-14 09:14] #434 closed

[2020-10-14 09:26] baltpeter commented on #245
Thanks @rgroves, I'll assign you.

It would be best if this could be implemented entirely in the Hugo template. This tends to get fairly messy (as the template already is :D) but it should be possible.
I would definitely like to avoid needing more work per company in the deploy script as that already takes quite a long time to run.

Other than that, I think the table provided by @NathanBnm should

[2020-10-14 09:38] baltpeter opened #448 "Fix comment rating styling on mobile"
The StarWidget can overlap the comment meta information, see this screenshot:

![image](https://user-images.githubusercontent.com/4048809/95971544-e3d35980-0e00-11eb-92a1-ab03973dba68.png)

The CommentsWidget is defined [here](https://github.com/datenanfragen/website/blob/master/src/Components/CommentsWidget.js) and the StarWidget is defined [here](https://github.com/datenanfragen/website/blob/mas

[2020-10-14 12:14] xdebbie commented on #448
Hi! Can you assign this issue to me?

[2020-10-14 12:34] baltpeter commented on #448
@xdebbie Sure, done.

[2020-10-14 13:21] Raj-Datta-Manohar commented on #444
Hi, I would like to work on this!

[2020-10-14 21:35] baltpeter opened #450 "Better styling for the related companies"
The related companies on our company single pages (see [Epic Games](https://www.datarequests.org/company/epicgames) for example) are currently just a basic list:

![image](https://user-images.githubusercontent.com/4048809/96047573-de0f5f80-0e64-11eb-9531-26c3a4574517.png)

Maybe we can come up with a better design.

The relevant HTML is defined here:

https://github.com/datenanfragen/website/blob/

[2020-10-15 03:59] rafaeelaudibert commented on #436
I can work on translating the page to (Brazilian) Portuguese!

[2020-10-15 09:08] baltpeter commented on #444
@Raj-Datta-Manohar Sure, thanks. I'll assign you.

[2020-10-15 09:33] #245 closed

[2020-10-15 09:59] #422 closed

[2020-10-15 10:04] #436 closed

[2020-10-15 11:34] baltpeter opened #455 "Translate various pages into Portuguese"
The following pages need to be translated into Portuguese:

- [ ] [Contact and legal notice](https://github.com/datenanfragen/website/blob/master/content/en/contact.md)
- [ ] [Association overview](https://github.com/datenanfragen/website/blob/master/content/en/verein/_index.md)
- [ ] [Association goals (mission statement)](https://github.com/datenanfragen/website/blob/master/content/en/verein/mis

[2020-10-15 11:44] baltpeter opened #456 "Translate various blog posts into Portuguese"
The following blog posts need to be translated into Portuguese:

* [ ] [A quick overview of pedidodedados.org](https://github.com/datenanfragen/website/blob/master/content/en/blog/a-quick-overview/index.md)
* [x] [Territorial scope of the GDPR](https://github.com/datenanfragen/website/blob/master/content/en/blog/gdpr-territorial-scope/index.md)
* [ ] [Sample letter for requests for access to perso

[2020-10-15 11:55] baltpeter opened #457 "Translate various blog posts into French"
The following blog posts need to be translated into French:

* [ ] [A quick overview of demandetesdonnees.fr](https://github.com/datenanfragen/website/blob/master/content/en/blog/a-quick-overview/index.md)
* [ ] [Territorial scope of the GDPR](https://github.com/datenanfragen/website/blob/master/content/en/blog/gdpr-territorial-scope/index.md)
* [ ] [Sample letter for requests for access to person

[2020-10-16 04:29] Rajchowdhury420 opened #458 "Typo in README.md File"

[2020-10-16 05:27] m-rey commented on #458
I consider this issue invalid. You haven't even added a description.

The only reason why you created this issue was to reference it later on in a spammy PR.

[2020-10-16 08:04] CosmicGirl42 commented on #456
Can I be assigned to translate "A quick overview of pedidodedados.org" blog post?

[2020-10-16 09:02] #458 closed

[2020-10-16 09:03] baltpeter commented on #456
@CosmicGirl42 Done. Thank you!

[2020-10-16 11:05] lestgabo commented on #450
hello @baltpeter
Did you want icons on the list?
or make it pull 6 and do 2 columns?
or alternating background colours?

[2020-10-16 12:14] chrysillala commented on #367
Hi @baltpeter, kindly check my PR https://github.com/datenanfragen/website/pull/461
Thank you!

[2020-10-16 19:32] nitch193 opened #462 "Table header become large and out of window when using Google Translator the in Chrome browser."
![image](https://user-images.githubusercontent.com/42943921/96301122-58caad00-1014-11eb-9895-8adeac9b26dc.png)

[2020-10-17 12:40] baltpeter commented on #450
Hey @lestgabo,

icons will unfortunately not be possible as we don't have access to them and I would also be concerned about copyright.

As for the design: We don't have anything in mind yet. This issue is for coming up with ideas on what we could do and then seeing what works and what doesn't work. :)

[2020-10-17 12:52] baltpeter commented on #462
Thanks for reporting this. The problem seems to occur whenever you click on certain elements:

![Peek 2020-10-17 14-50](https://user-images.githubusercontent.com/4048809/96337549-8f85df00-1077-11eb-8c37-be2a0212d3e2.gif)

Honestly, this seems like more a bug in Chrome's translation implementation to me. But if anyone knows an easy fix that we could implement, please do let us know!

[2020-10-17 16:27] AdnCodez commented on #448
Hello, I have fixed this issue, in #463 PR if you approve I appriciate it if you merge it 👍

[2020-10-18 12:12] #367 closed

[2020-10-20 05:12] abhishekUpmanyu commented on #432
@baltpeter Hi! I have made the necessary change, can you please assign this to me, I'm looking forward to contribute

[2020-10-20 11:25] lestgabo opened #468 "Need help to run app - dont know how to run a development environment"
**What is the expected behaviour?**
where is the localhost? I cant find any port, url, listening or anything
how do I open the app?

**Please mention other relevant information.**
I am a noob with Preact and Hugo...

### It would be great if someone could help with a step by step tutorial.
I have installed Hugo and Preact CLI, ran `deploy.sh`, then ran `yarn dev` but thats it. webpack is watching.

[2020-10-20 11:58] baltpeter commented on #432
@ayush015 Are you still working on this? If so, we'll wait for your PR. Otherwise, I'll review the one by @abhishekUpmanyu.

[2020-10-20 12:04] baltpeter commented on #468
Hi @lestgabo,

the development procedure is described in the [README](https://github.com/datenanfragen/website#development). You don't need Preact CLI. But in addition to `yarn dev`, you also need to run `hugo server`. The site will then be served on localhost, ports 1313, 1314, 1315 and 1316 for the different language versions.

[2020-10-20 12:22] #431 closed

[2020-10-20 14:09] nitch193 commented on #462
I will try to search for any easy fix and i will let you know :)

[2020-10-20 19:04] ayush015 commented on #432
nope I way busy somewhere else .

[2020-10-20 21:31] lestgabo commented on #468
thanks @baltpeter!!

[2020-10-20 21:31] #468 closed

[2020-10-21 13:48] lopeselio commented on #456
@baltpeter Can I be assigned to translate https://github.com/datenanfragen/website/blob/master/content/en/blog/supervisory-authorities/index.md "supervisory-authorities" to Portuguese?

[2020-10-21 14:08] baltpeter commented on #456
@lopeselio I have assigned you, thanks.

[2020-10-21 15:47] mal-tee commented on #348
*bump*

[2020-10-21 16:17] baltpeter commented on #239
[This](https://github.com/goblindegook/littlefoot) might be another option, doesn't seem too huge.

[2020-10-23 14:23] #432 closed

[2020-10-23 22:46] jasonbosco opened #471 "Include in Typesense showcase?"
Hello! This is Jason from Typesense. Would you be interested in including [datarequests.org](https://www.datarequests.org/) to the showcase we're putting together?

More context here: https://github.com/typesense/typesense/issues/140

[2020-10-24 15:25] mal-tee opened #472 "Tests for ActWidget"

[2020-10-25 12:35] eliottha commented on #457
Is someone working on this yet?

[2020-10-25 12:47] eliottha commented on #457
I could take a few. Please let me know which ones are the most important to do first!

[2020-10-26 15:23] baltpeter commented on #471
Thanks, we are very happy with Typesense and glad to be included in the showcase! I have opened typesense/typesense#142.

[2020-10-26 15:23] #471 closed

[2020-10-26 15:35] baltpeter commented on #457
Thank you @eliottha! I have reordered the entries in the first post by importance. Let me know which ones you want to work on and I'll assign you.

[2020-10-28 09:51] mal-tee opened #474 "Improve text on /suggest"
Atm. /suggest links to https://github.com/datenanfragen/data/issues, but it should link to https://github.com/datenanfragen/data/pulls.

I would also like to introduce some hint on the suggest page that we prefer the address of the DPO instead of the regular address. What do you think about that @baltpeter ?

[2020-10-28 09:53] mal-tee commented on #474
Tbf the tooltip already asks for privacy-related entries, but I would like to make that more prominent as we get several `suggest`s in `data` that only use the "Impressum".

[2020-10-29 07:09] baltpeter commented on #474
As per our discussion, I agree that it might be useful to include some more details for advanced users who want to dig in deeper and make our life easier (always greatly appreciated! :D). Some things to note:

* The idea behind the suggest feature is definitely that _anyone_ can contribute without any preparation/learning required. Even suggestions just including a company name is ok. So, we need

[2020-10-29 20:23] privateOmega commented on #462
@baltpeter I think I have a finding to share, there's some sort of issue with <Text> from 'preact-i18n', try using <MarkupText> instead. I am not sure how I should be handling the translate function use since it has the same issue. Anyway its definitely a preact-i18n issue, not from google translator.

[2020-10-30 10:57] baltpeter commented on #462
Thanks for looking into this, @privateOmega. I think in this case, it's best if you submit an issue upstream with preact-i18n.

[2020-10-31 11:32] baltpeter commented on #402
@privateOmega tried to implement support for AOL in #473. Unfortunately, they don't seem to respect line breaks in the body.

[2020-10-31 20:17] eliottha commented on #457
Check #476 @baltpeter :)

[2020-10-31 20:18] eliottha commented on #457
Anyway, as I'm two weeks free, I'll try to get them all done.

[2020-11-01 10:09] baltpeter commented on #457
@eliottha That would be great, thank you! Do you want me to assign you to this issue?

[2020-11-01 12:03] eliottha commented on #457
Yes please. I changed #477 to `Territorial scope of the GDPR`.

[2020-11-02 15:33] baltpeter opened #480 "Inputs in ActWidgets are not screen reader-friendly"
In the ActWidget, the form labels aren't set correctly. They refer to hidden inputs that don't actually do anything:

![image](https://user-images.githubusercontent.com/4048809/97886408-79874800-1d20-11eb-9f5a-b0da12e6f7cf.png)

This is because the ActWidget inherits from the generator where those hidden inputs are actually visible and allow the user to change the field description themselves.

[2020-11-02 17:32] ForsakenHarmony commented on #480
I think you can get away with just the one real `input` and `label` without any extra `span` or `input`s

[2020-11-02 18:40] mal-tee opened #481 "NoScript "support" for ActWidget"
Show some placeholder text like the generator does

[2020-11-02 18:44] baltpeter commented on #480
Yep, I agree. That's what we should have done in the first place. But this code is used for two (fairly different) cases where the other one does actually need the second input and we didn't consider that properly. Should now be fixed in #482.

That's also a good point. I don't think we can really do anything about that right now as we are (unfortunately) still on Preact 8 without support for frag

[2020-11-02 18:45] baltpeter opened #483 "Remove unnecessary wrapper divs in the dynamic inputs"
see https://github.com/datenanfragen/website/issues/480#issuecomment-720617098

I think we can only do that once we have upgraded to Preact 10.

[2020-11-03 09:30] #480 closed

[2020-11-06 17:54] #472 closed

[2020-11-06 19:44] #474 closed

[2020-11-07 11:16] mal-tee opened #489 "Translate update to /suggest"
I've added some tips to the German suggest page. I'll translate them to English. If somebody wants to translate them to French then that would be very much appreciated. (The page doesn't have a Portuguese translation yet.)

[2020-11-07 11:25] baltpeter commented on #489
For reference: The German changes were added in #488.

[2020-11-07 11:50] mal-tee opened #490 "Search won't show "Tier Mobility GmbH""
We recently added Bird, Tier, and Voi in datenanfragen/data#822 .

But the search won't display Tier, but shows e.g. Voi.

Tier won't show up with any prefix of this search:
![grafik](https://user-images.githubusercontent.com/45886910/98440184-8d072a00-20f7-11eb-9777-38556c638f2c.png)

Voi is returned without problems:

![grafik](https://user-images.githubusercontent.com/45886910/98440202-b4f68d80

[2020-11-07 12:07] baltpeter commented on #490
The file is in the wrong folder. :D

https://github.com/datenanfragen/data/blob/4e0d0f885e7e4418e978c07d90aa40c13f7c0c4f/tier-mobility.json

[2020-11-07 12:30] #490 closed

[2020-11-07 12:35] mal-tee opened #491 "Syntax highlighting contrast"
According to Firefox the red chars don't have enought contrast, e.g. on https://www.datarequests.org/blog/honey-data-collection/

![grafik](https://user-images.githubusercontent.com/45886910/98441367-0b66ca80-20fe-11eb-9a59-0c9ab40aa748.png)

[2020-11-08 12:40] mal-tee opened #493 "Faster pre-commit hook with ripgrep"

[2020-11-08 13:07] mal-tee opened #494 "Donate: QR code titles are printed but not the codes themself"
Why print the QR codes at all?

[2020-11-08 13:11] mal-tee opened #495 "Search: '&' vs 'and' vs ' and '"
### Okay:
![image](https://user-images.githubusercontent.com/45886910/98465850-24d64800-21cc-11eb-92b1-7aa775225b53.png)
![image](https://user-images.githubusercontent.com/45886910/98465853-2ef84680-21cc-11eb-8260-9d1c926a5647.png)

### Not so great:
![image](https://user-images.githubusercontent.com/45886910/98465856-361f5480-21cc-11eb-80cd-8eaea1fb486e.png)

[2020-11-08 13:18] baltpeter opened #496 "Check for a11y issues in the automated tests"

[2020-11-08 13:26] mal-tee opened #497 "Generator crash with invalid parameter (unusable report window)"
- visit https://www.datenanfragen.de/generator#!company=datenanfragen,facebook

[2020-11-08 13:36] baltpeter commented on #495
I am not sure if there is anything we can improve here. `1and1` only matches because of the URLs in the `web` and `sources` properties of those records, not because of the `1&1` in the name.
Thus: If you know a keyword that users will use to search for a company but that isn't included in the name (or one of the other fields we search), our current implementation requires adding that to the `runs`

[2020-11-08 13:41] baltpeter commented on #495
Also semi-related and a great request: https://github.com/typesense/typesense/issues/133

[2020-11-08 13:46] mal-tee opened #498 "Signature field (in ID data controls) scrolls while trying to write on it"
The signature field on https://www.datarequests.org/id-data-controls behaves very awkwardly on mobile:

If you try to write on it, you scroll on the webpage, making it useless. Besides you can't draw longer horizontal lines.

[2020-11-08 13:48] baltpeter commented on #498
Interestingly, we had a PR last year that improved the UI of the signature input on mobile:

https://github.com/datenanfragen/website/pull/119

[2020-11-08 13:49] baltpeter commented on #497
I think https://www.datenanfragen.de/generator#!company=invalidcompany is a better example that doesn't suggest that specifying multiple companies for `#!company` should work. :D

[2020-11-08 13:49] mal-tee commented on #498
Can you double check on your mobile device?

[2020-11-08 13:52] mal-tee commented on #497
Note: The variant with a comma seems to render two error windows. `invalidcompany`only one. :D

[2020-11-08 14:01] baltpeter commented on #498
I am **most** excited to announce that this works absolutely flawlessly in Firefox! :D In Chrome-based browser (the DuckDuckGo one, in this case), it works OK but not great (it twitches around a little while writing).

Firefox:

![ScreenRecord-2020-11-08-14-52-23](https://user-images.githubusercontent.com/4048809/98466966-b2b13380-21ca-11eb-8f45-a703219dd601.gif)

Chrome:

![ScreenRecord-2020-11-0

[2020-11-08 14:05] baltpeter commented on #498
The built-in browser on Android also works just fine:

![ScreenRecord-2020-11-08-15-03-00](https://user-images.githubusercontent.com/4048809/98467100-7cc07f00-21cb-11eb-847d-abfba31b955b.gif)

[2020-11-08 14:09] mal-tee commented on #498
Weird, Firefox and Chrome behave similar on my device. So maybe it's just my phone?

[2020-11-08 14:12] baltpeter commented on #498
Also works just fine in Safari on iOS:

![video-2020-11-08-15-11-46](https://user-images.githubusercontent.com/4048809/98467300-754da580-21cc-11eb-8d63-ef605a837b40.gif)

@mal-tee Which browser did you test with?

[2020-11-08 14:14] mal-tee commented on #498
Firefox 82.1.1 & Chrome 86.0.4240.185 on Android 10

[2020-11-08 14:19] baltpeter commented on #497
I think they both produce the two error modals most of the time but `datenanfragen,facebook` seems more reliable. :D

[2020-11-09 13:50] mal-tee commented on #498
Update: Seems like only the field on /id-data-controls is affected.

[2020-11-09 13:54] baltpeter commented on #498
![ScreenRecord-2020-11-09-14-50-13](https://user-images.githubusercontent.com/4048809/98549744-23bc1e00-2293-11eb-9750-4001f84be8e6.gif)

[2020-11-09 21:33] mal-tee opened #501 "Signature: Canvas block detection broken"

[2020-11-10 09:48] baltpeter opened #502 "Consider lazy loading images"
https://developer.mozilla.org/en-US/docs/Web/API/HTMLImageElement/loading

[2020-11-10 10:00] #498 closed

[2020-11-10 16:11] baltpeter opened #504 "'Required' asterisk in inputs is cut off"
The star is cut off.

_Originally posted by @mal-tee in https://github.com/datenanfragen/backend/pull/23#discussion_r520627733_

[2020-11-10 17:06] mal-tee opened #505 "Option to change request-language in /generator"

[2020-11-14 19:05] baltpeter opened #506 "Reference is not included in the subject when generating a request with custom text"
See this video:

![Peek 2020-11-14 20-04](https://user-images.githubusercontent.com/4048809/99155009-3cba3a00-26ac-11eb-892b-eb1cad6457b7.gif)

We should wait for #485 to get merged before fixing this.

[2020-11-15 13:34] mal-tee commented on #497
`datenanfragen, facebook` also produces a crash. Understandable, but I would prefer if we could `trim` the values.

[2020-11-15 13:36] baltpeter commented on #497
Well, the parameter wasn't really designed to be used manually by humans. :D But sure, we can do that.

[2020-11-15 13:45] mal-tee opened #507 "Generator allows requests without date set, causing error in 'My requests'"
1. Make a new request.
2. Delete the date.
3. Send it and visit "my requests"

**Debug information:**

[code]

[2020-11-20 13:13] #430 closed

[2020-11-24 09:30] #348 closed

[2020-11-27 07:23] king-11 commented on #502
@baltpeter can we considering using some library for this :thinking: ?

[2020-11-27 10:10] baltpeter commented on #502
@king-11 That shouldn't be necessary and I also don't think the trade-off is worth it. We don't really need lazy loading as we only have a couple of images on our site. We are only considering that as the new `loading` API is now supported widely enough in browsers.

And browsers that don't support `loading` yet will just fall back to the default behaviour, which is fine.

[2020-12-03 11:20] king-11 commented on #502
So we just have to add the loading attribute in all the img elements that we are using in site

[2020-12-03 11:39] king-11 commented on #493
@mal-tee but ripgrep isn't available by default in any system

[2020-12-03 11:44] mal-tee commented on #493
Yes. We need to implement some kind of availability check. I will do that some day, but feel free to give it a shot yourself if you want to. :D

[2020-12-04 19:40] baltpeter commented on #502
Well, the goal behind this issue is mostly to discuss evaluate whether that is a good idea. But yes, if we do decide to implement this, it should be as simple as that.

[2020-12-15 10:13] mal-tee opened #521 "Reference missing in admonition subject line"

[2020-12-15 10:15] mal-tee opened #522 "Admonition UI shows address"
The admonition UI shows the address even if its not used in the admonition.
![grafik](https://user-images.githubusercontent.com/45886910/102201715-c2f1b800-3ec6-11eb-9625-670a6b7583e3.png)

[2020-12-24 11:05] baltpeter opened #525 "'Recipient' field in the generator should hint at the transport medium"
This is especially important for 'email' requests. I have seen quite a few users struggle to understand that they should fill an email address into this field (instead of the name, address, …).

![image](https://user-images.githubusercontent.com/4048809/103084708-9d0b9800-45d7-11eb-8875-60fa2d42ed6f.png)

[2020-12-24 22:27] mal-tee commented on #525
I totally agree!

[2021-01-15 21:32] mal-tee opened #528 "Error Handling: Check the internet connection"
Before showing the big error modal, we could check if the exception in question is connection related and if the client has no active internet connection.

[2021-01-15 21:34] baltpeter commented on #528
Potentially helpful: https://developer.mozilla.org/en-US/docs/Web/API/NavigatorOnLine/onLine

[2021-01-17 18:49] rugk opened #529 "Use case: Find out agency where one can submit a complaint for foreign companies"
One use case is a problem I have not seen covered yet on this website.

Say I have [a problem](https://forum.fairphone.com/t/telemetry-spyware-list-of-privacy-threats-on-fp3-android-9/55179/77) cough cough with a phone manufacturer [who lists no agency in their privacy policy](https://www.fairphone.com/en/legal/fairphone-privacy-policy/), where I can submit a complaint (GDPR art 77) to.

### What

[2021-01-17 19:39] baltpeter commented on #529
We do actually have pretty much everything you're looking for already. :) (Let me know though, if I missed anything!)

* Our intended "entry point" for people wanting to learn about complaints is [this fairly extensive post](https://www.datarequests.org/supervisory-authorities) (linked in the footer) that explains how complaints work and which authority to complain to.
* That page also contains ou

[2021-01-17 19:40] mal-tee commented on #529
## OT:

Thank you for the FP3 Link! Seems like might want to file a complaint too as I am using that phone right now..

Feel free to join our Matrix-Chat (if you want to share or talk about [your] complaints), would be very much appreciated.

[2021-01-18 09:21] baltpeter opened #531 "Respect prefers-reduced-motion for the typewriter effect on the homepage"

[2021-01-18 09:46] baltpeter commented on #529
Implemented in #530.

[2021-01-18 10:41] mal-tee opened #532 "SVA-Finder: Specify special cases for the Bundesbeauftragten"
e.g. telecommunication companies

[2021-01-18 10:43] mal-tee opened #533 "StarWidget: Reset not possible"
After the StarWidget was used it can not be reversed to its initial state.

[2021-01-18 13:21] mal-tee commented on #529
We are open for suggestions :D

[2021-01-18 14:20] rugk commented on #529
Well… I don't have more concrete ideas than already mentioned. At least renaming and direct-linking to the finder would help.

[2021-01-24 21:10] fm opened #538 "CSP error prevents PDF download from loading on Safari"
**OS & Browser details:**
macOS Big Sur 11.1 (20C69)
Safari 14.0.2 (16610.3.7.1.9)

<img width="1813" alt="Screen Shot 2021-01-24 at 4 06 19 PM" src="https://user-images.githubusercontent.com/3654256/105643479-1b20c000-5e5e-11eb-9187-87697f30ff1f.png">

Could not replicate on Chrome nor Firefox

[2021-01-25 22:23] baltpeter opened #541 "Generator: Company address broken if `request-language` isn't fully translated"
A user reported that the address (choose fax or letter as transport medium) for [Cabify](https://www.datarequests.org/generator#!company=cabify) is broken in the generator:

![image](https://user-images.githubusercontent.com/4048809/105773381-b481cc00-5f5b-11eb-9e7e-1ad93005944f.png)

![image](https://user-images.githubusercontent.com/4048809/105773390-b9df1680-5f5b-11eb-962d-00ed266643c7.png)

Th

[2021-01-30 10:57] mal-tee opened #544 "Search: Enable open in background"
You can't open the results of the search in the background. We should consider converting the results to anchors where it makes sense, e.g. in the company database search.

![grafik](https://user-images.githubusercontent.com/45886910/106354454-2eb2a780-62f2-11eb-8ea9-ab0f07ff8f40.png)

[2021-02-01 15:23] mal-tee opened #545 "Suggest: Almost unusable on mobile"
The input fields are too small and the whole layout isn't mobile friendly.

![Screenshot_20210201-162154.png](https://user-images.githubusercontent.com/45886910/106478664-b68ee200-64a9-11eb-89db-dfd9eae74867.png)

[2021-02-01 17:12] mal-tee opened #546 "Suggest: "We already have these similarly named companies: <>""
Not really the right place for this but with regards to datenanfragen/data#970, it would be really nice if `website` had a "We already have these similarly named companies: <>" kind of thing.

_Originally posted by @baltpeter in https://github.com/datenanfragen/backend/issues/30#issuecomment-770997423_

[2021-02-02 19:03] baltpeter commented on #538
Thanks for reporting this.

From the error message, fixing this should be as simple as adding `'self'` to `child-src`. I'll open a PR.

[2021-02-02 20:44] #538 closed

[2021-02-14 09:01] baltpeter opened #551 "Suggest: Sort relevant countries list alphabetically"

[2021-02-14 13:40] mal-tee commented on #551
Maybe all lists, e.g. the german categories aren't sorted either.

[2021-02-22 14:42] baltpeter opened #553 "Fix unexpected behaviour of custom fields in ID data controls"
Not super happy with this implementation, unfortunately. I'm afraid, it causes some quite unexpected behaviour of fields vanishing, moving around and merging. And I am pretty sure that the last thing in the video is also a bug, though I am not sure what causes it:

![Peek 2020-11-14 19-51](https://user-images.githubusercontent.com/4048809/99154812-8f92f200-26aa-11eb-8811-96a503b6059a.gif)

_Origin

[2021-02-22 18:35] baltpeter opened #554 "Unexpectedly long deploy times"
I have started looking into the unusually long deploy times that we are seeing. We had previously seen something similar while still using Netlify but were able to fix that (#320). When building dattel, I made sure to also only upload the changed files, which is why deploy times only increased by a bit when we switched.

However, we are now back to around 25 mins per deploy (and have been for a wh

[2021-02-25 11:57] #554 closed

[2021-03-16 02:11] davenewham commented on #533
I had a look at this issue tonight. The star widget is unfortunately not screen reader friendly, there is no way select them as there is no span and the rest is hidden with a display:none attribute, and even if there was, they are ordered back to front in the resulting html for some reason...

I have worked up a quick draft of what this could look like, however, due to the use of a unicode diamond

[2021-03-20 13:32] baltpeter opened #560 "Easier importing of requests into calendar"
Through the ["My requests" feature](https://www.datarequests.org/my-requests), we already allow importing requests into one's calendar:

![image](https://user-images.githubusercontent.com/4048809/111871072-461c2180-8980-11eb-9f50-c3d2bfdb9ed2.png)

This is currently implemented as through `.ics` files. It would be nice to also offer integration with popular calendar services here, similar to the `

[2021-03-20 14:51] baltpeter opened #561 "Switch suggest page to react-jsonschema-form?"
Unfortunately, brutusin/json-forms has been unmaintained for a while and we're seeing a number of issues in our usage. I have recently discovered [react-jsonschema-form](https://github.com/rjsf-team/react-jsonschema-form) which may be a good alternative.

[2021-03-20 19:39] mal-tee commented on #561
Might be interesting for datenanfragen/company-json-generator#17 as well

[2021-03-22 15:42] #531 closed

[2021-04-12 13:06] milotype opened #566 "Croatian translation"
I'd like to add my Croatian translation on Weblate. I've translated it localy up to 98%, but I cannot upload the .po file on Weblate. Curretnly it's only possible to download files, but not to upload ... So please:

- enable file uploading on Weblate, or
- if you don't want that, please add my attached file below.

Also, please add new source strings for **Croatian** language, similar to:
`msgctxt

[2021-04-12 14:34] baltpeter commented on #566
Wow, thank you very much for the translations!

I couldn't find an option to enable file uploads for everyone in Weblate but I have manually uploaded the file myself. If you want, I can invite you as a contributor to the project on Weblate. I think you should be able to do file uploads yourself then.

Since you have already basically translated everything, we can almost get the new language versio

[2021-04-12 16:47] milotype commented on #566
Yes, if you like, you can invite me as a contributor to the project on Weblate.

I'm just a translator, not a programmer … I can't really help with the issue about the domain name.

I will work on translating request templates and send them via GitHub. (Ideally, you should make them translatable via Weblate as well – depending on time and possible costs ;-) )

Whatever you have done in #568 about

[2021-04-12 17:26] baltpeter commented on #566
Done. :)

Sorry, I was a little unclear there. We'll take care of the technical stuff for the domain but as none of us speak any Croatian, we cannot come up with a name. We need a translation of "datarequests" (or similar) into Croatian that makes for a good name.

Awesome, thank you!

Yeah, it would be great to have everything (including the templates and blog posts) in Weblate but from our under

[2021-04-12 18:56] milotype commented on #566
Thanx! I can now upload translation files!

Suggestion for Croatian translation for the Croatian domain name for "datarequests.org" = "**osobnipodaci.org**" (osobni podaci = personal data). If somebody has a alternate/better suggestion, I don't mind ...

I'm not sure about long source strings, but I think it is possible to separate whole documents into separate paragraphs/strings ...

OK, so we ha

[2021-04-15 15:28] baltpeter commented on #373
Looks like we can finally tackle this soon: https://github.com/gohugoio/hugo/pull/8397

[2021-04-16 08:40] baltpeter commented on #566
Thanks for the suggestion. Is there a word like "data request" in Croatian? If so, I think that would be better for consistency as all other names hint at the notion of requesting your personal data.

True, that might be an option. Unfortunately, that would require quite a few changes on our end, though, so it probably won't happen too soon.

[2021-04-16 13:48] milotype commented on #566
IMO: **osobnipodaci** actually does imply access to/changing _personal data_ ... ;-) As you probably know, _literal_ translation isn't always the best way to go … Also, **osobnipodaci** is the shortest domain name, comparing to the alternative names:

Alternatives:
- zahtijevanjepodataka (requestingdata, umbiguous, because it means _any_ data)
- zahtijevanjeosobnihpodataka (requestingpersonaldata,

[2021-04-17 15:26] baltpeter commented on #566
Ah, I see. Thanks for clearing that up. In that case, we also think that's a good name and we've registered the domain. :)

I have also prepared a preview of the Croatian site in #568 which you can see here: https://deploy-preview-568--datenanfragen.netlify.app/hr
Note: The links in the header direct you to the English site. That is a known bug that only occurs in the deploy preview and will not h

[2021-04-19 08:59] opncow commented on #373
From looking at the code of gohugoio/hugo#8397 I cannot tell: Will it be possible to convert e.g. JPEG images to webp automatically during the image processing? That would be neat!

[2021-04-19 09:09] milotype commented on #566
@baltpeter Thank you for the Croatian preview!

I'm still in the process of translating them ... will take a while ;-(

Yes, Croatian needs 3 plural forms. Both plural forms should translate into **Kategorije:**

And ideally, there would be only one key (something like "hugo.cdb-categories") containing the necessary plural forms, depending upon the language being translated. But I'm no programmer.

[2021-04-19 11:37] baltpeter commented on #373
That's my understanding, yes (see also: https://github.com/gohugoio/hugo/issues/5924).

[2021-04-19 14:10] baltpeter commented on #566
I was gonna say that there's no need to hurry but you've already submitted the PR. :D Huge thanks!

Good to know. I have added the translation.

Yes, that's exactly how it's implemented in our translation files. But I'm not sure if Weblate supports adding new plural forms through the interface.

---

I have now updated the deploy preview with the latest changes and the templates. With that, we are

[2021-04-19 16:56] milotype commented on #566
Uzorak pisma za zahtjeve za pristup osobnim podacima prema čl. 15. GDPR-a

Uzorak pisma za zahtjeve za ispravak prema čl. 16. GDPR-a

Uzorak pisma za zahtjeve za brisanje prema čl. 17 GDPR („pravo na zaborav”)

Uzorak pisma za prigovore protiv izravnog marketinga prema čl. 21 (2) GDPR-a

[2021-04-25 12:25] #566 closed

[2021-04-26 11:40] milotype opened #576 "Address"
I do not understand the hint about addressing at: https://github.com/datenanfragen/website/blob/master/content/en/suggest.md

[code]

You specify, that _company name_ shouldn't be included. IMO, _company name_ **is needed**. A postal address for companies often isn't unique, because companies often share the same address with other companies/residents within a building.

So my suggestion is to use

[2021-04-26 11:52] baltpeter commented on #576
We definitely agree that the company name has to be included when addressing a letter. The hint you mentioned is only talking about the "address" field in our suggest form, though. The name has to be entered separately in the "name" field.

When constructing the address, our software then automatically prepends the name.

See the record for our association for example.  The address is specified wi

[2021-04-26 16:19] milotype commented on #576
Thank you for the explantion ...

[2021-04-26 16:19] #576 closed

[2021-04-28 14:12] baltpeter opened #579 "Forward emails from other language domains?"
@milotype suggested that we should also accept emails from the other language domains. See the linked discussion for more details.

Regardless, I agree that it would be good to have an explicit hint that we can only respond to emails in English or German.

IMO, you could use the  and other specific (language) domain names for thata matter, as the domain extensions _do not insist/do not directly im

[2021-04-29 09:27] mal-tee opened #581 "Hugo won't build on windows due to filenames: Alias "de/e.v.""
I tried to build the page with native windows tools instead of WSL and ran into this issue:

[code]

[2021-04-29 18:04] mal-tee opened #582 "Discoverability of the other language versions"
That's actually something we decided against. We find automatic language redirects a lot more annoying than helpful. But I agree that the discoverability of the other language versions could be better. If you have an idea (design-wise, the implementation should actually not be too difficult) for an unobtrusive way of introducing those to users visiting the "wrong" language version, we can gladly d

[2021-04-29 18:07] mal-tee commented on #582
I agree, we should improve the discoverability.

How about something like a hint in the top of the screen indicating that the page is available in a different language?

[2021-04-30 15:37] baltpeter commented on #582
Do you want to create a mockup or code a quick demo of what that would look like?

[2021-04-30 17:31] mal-tee commented on #582
I am not a designer, but sure, here is my take:

![grafik](https://user-images.githubusercontent.com/45886910/116731812-7aa4e380-a9ea-11eb-82de-fe3312147326.png)

Maybe the little box should also get a different background-color or a little flag corresponding to the language. I am not sure about the flag, on the one hand it is widely known as entry point for configuring languages, on the other han

[2021-05-01 13:29] milotype commented on #582
I agree ... but I'd suggest to use a "popup".
I agree ... don't use country flags.

**My suggestion**

Text for the popup:
"Change the website's language to `preferred-language` or `select` your preferred language."

- `preferred-language` should be substituted with the "translated" string for the language (Hrvatski or Deutsch, etc.) corresponding to the user's web-browser preferences. If selected

[2021-05-05 14:21] #481 closed

[2021-05-06 13:01] baltpeter opened #587 "Wrong subject for requests to churches"

[2021-05-23 12:13] baltpeter opened #596 "Debloat CSS"
While it isn't the end of the world at currently 23KB, our CSS could definitely do with a bit of optimizing. Two things in particular I can think of right now:

* The `bg-*` and `color-*` utilities. Apart from `/design`, they are barely used and take up a lot of space in relation to their use. I'm not sure what the best course of action is here but this seems inefficient.
  Maybe we want to hardco

[2021-05-23 12:37] baltpeter opened #597 "Remove prop types from production build?"
https://github.com/oliviertassinari/babel-plugin-transform-react-remove-prop-types

[2021-05-23 15:51] baltpeter commented on #581
Does the solution from https://github.com/datenanfragen/website/pull/583#issuecomment-830611163 work, @mal-tee?

And if so, can we close this issue? It might be worth documenting this in the README if you've found that developing on Windows directly works reliably.

[2021-05-23 15:53] baltpeter commented on #544
This will be addressed by #590.

[2021-05-23 16:05] baltpeter commented on #506
Fixed by #570.

[2021-05-23 16:05] #506 closed

[2021-05-23 17:46] #493 closed

[2021-05-23 18:25] baltpeter commented on #532
The BfDI is responsible in particular for ([1](https://stiftungdatenschutz.org/fileadmin/Redaktion/Dossiers_Infoplattform/2020-07-Update/DSGVO-Praxis__Aufsichtsbehoerden_Zustaendigkeiten_Juni2020.pdf)):

* öffentliche Stellen des Bundes
* Telekommunikations- und Postdienstunternehmen
* private Unternehmen, die unter das Sicherheitsüberprüfungsgesetz fallen
* Jobcenter

[2021-05-23 18:25] baltpeter commented on #532
I'll put this on hold until datenanfragen/data#1126 is done as we'll also need to account for the Rundfunkdatenschutzbeauftragten in the SvaFinder.

[2021-05-23 18:33] baltpeter commented on #521
Fixed by #570.

[2021-05-23 18:33] #521 closed

[2021-05-23 19:29] baltpeter opened #600 "Signature gets more blurry each time it is shown until it disappears completely"
Quite amusing but obviously a bug. :D

![Peek 2021-05-23 21-26](https://user-images.githubusercontent.com/4048809/119273937-ca975480-bbfc-11eb-9940-1f2839dcb9f8.gif)

The fact that noone noticed this is quite indicative of the impact changing the default transport medium to email had. Now, letters and faxes are rarely ever used anymore…
We really need tests for the signature but I'm not sure if th

[2021-05-23 19:38] baltpeter commented on #600
@zner0L Is there a reason for the `handleChange()` call in `drawSignature()`?

[2021-05-24 09:44] mal-tee commented on #581
Yes, that works. Another problem on windows is the deploy.sh script, I used WSL to run it once. Besides that I see no further problem, except line endings, but that's more of an IDE/git config problem on my side. ^^

[2021-05-24 13:49] #507 closed

[2021-05-24 13:50] #525 closed

[2021-05-24 13:50] #494 closed

[2021-05-26 19:43] #504 closed

[2021-05-31 10:37] #373 closed

[2021-05-31 10:37] #502 closed

[2021-05-31 12:27] baltpeter opened #609 "Set explict `width` and `height` for SVGs in blog posts"
As Hugo's `imageConfig` unfortunately [doesn't support SVG](https://github.com/gohugoio/hugo/issues/3700) this will have to be done manually.

An example of where this problem occurs is the sample letters overview page. Here's what [PageSpeed](https://developers.google.com/speed/pagespeed/insights/?url=https%3A%2F%2Fwww.datenanfragen.de%2Fsample-letters%2F) says about that:

![image](https://user-

[2021-06-04 12:14] mal-tee opened #611 "Fix external link styling"
Seems like external links are broken atm, the icon is missing:

![image](https://user-images.githubusercontent.com/45886910/120799457-0f958200-c53f-11eb-9bb8-5cfc3a88569a.png)

[2021-06-05 22:50] davenewham commented on #582
Not all language tags are not BCP47 compliant - this makes the checks a little more difficult

ie. <html lang="de-de"> should really be <html lang="de-DE">

[2021-06-06 09:10] baltpeter commented on #582
Related: #270

Seems like the `lang` attribute should [really be](https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes/lang) BCP47, so we should change that anyway. Not sure why we didn't go with that in the first place, to be honest.

[2021-06-06 15:06] davenewham commented on #582
RFC 5646 denotes that all BCP47 language tags should be treated as [case insensitive](https://www.rfc-editor.org/rfc/rfc5646.html#section-2.1.1) so not too much of an issue... However as mentioned in #270, the country code doesn't really have to exist.

However, with the preferred language - we'll have to do some funky parsing of the [Accept-Language header ](https://developer.mozilla.org/en-US/do

[2021-06-06 15:17] baltpeter commented on #582
Ah, that's good to know.

We are actually already using a regex to parse `navigator.language` to (badly) guess the user's country:

https://github.com/datenanfragen/website/blob/ab306ea794af818e051489860fcc805f50561bd4/src/general.js#L45-L66

We can reuse this to also get the language.

[2021-06-07 10:14] davenewham opened #616 "CircleCI tests sometimes fail due to timeout"
If the server takes too long to deploy - the tests fail as it timeouts checking to see if the url is available - causing the build to be blocked on GitHub

[For example ](https://app.circleci.com/pipelines/github/datenanfragen/website/2677/workflows/80817e8f-b217-426f-8a6e-dcebe65a47c4/jobs/4363/parallel-runs/0/steps/0-103)

[Example 2](https://app.circleci.com/jobs/github/datenanfragen/website/43

[2021-06-08 19:31] baltpeter commented on #616
Good catch!

I've wondered why that happens but never looked into it as it's reasonably rare. But that makes a lot of sense.

[2021-06-09 01:45] davenewham commented on #616
[A related issue](https://github.com/cypress-io/cypress/issues/8870).
Seems like it's not configurable within Cypress itself.

As recommended in the issue a solution could be to use a [yet another] package, such as [wait-on](https://www.npmjs.com/package/wait-on) to detect the server is up before running the tests.

[2021-06-09 08:04] baltpeter commented on #616
I'd say wait-on is a good workaround. Feel free to make a PR if you want, otherwise I will when I find the time.

[2021-06-09 12:43] baltpeter commented on #532
See also: https://www.bfdi.bund.de/DE/Service/Kontakt/Kontaktfinder/kontaktfinder_node.html

[2021-06-11 09:04] #616 closed

[2021-06-19 09:17] baltpeter commented on #561
Another option that I have not yet evaluated: https://github.com/json-editor/json-editor

[2021-06-19 11:15] #182 closed

[2021-06-26 20:33] baltpeter opened #620 "Why are we including the Hugo translations in the JS translations bundle?"
I haven't thoroughly checked this but if memory serves me correctly, the Hugo translations should not be used anywhere from JS. However, we are currently including them in the JS translations bundle (and they make up a significant section of it!)

This is a lot of wasted space that we should definitely get rid of.

[2021-06-27 22:43] baltpeter opened #621 "Do we even need pdfmake's `vfs_fonts`?"
Any reason we're not just using one of the PDF default fonts (like Helvetica)? I'm not particularly set on using Roboto specifically.

Paging @zner0L.

[2021-06-28 04:33] fm commented on #579
I'd be happy to answer emails in Spanish for solicituddedatos.es, if we ever get any. Not sure if you have anything setup for that domain email-wise.

[2021-06-28 07:54] baltpeter commented on #579
@fm Thank you very much for the offer! That would be great.

However, I see some potential problems from a data protection perspective there… If people send emails to one of the 'general' email addresses, they probably expect them to go to board members only.

Two ideas on how we could tackle that:

* We could manually forward 'harmless' emails to you.
* We could give you a separate `faisal@` emai

[2021-07-12 03:31] fm commented on #579
I wouldn't mind option 2

[2021-07-12 04:30] fm opened #625 "Authors list not displayed correctly"
In the all languages, the Authors list on the open source page is not displayed correctly.
Was able to replicate in _Chrome 91.0.4472.114_, _Firefox 89.0.2_ and _Safari 14.1.1_ on macOS 11.4

<img width="1820" alt="Screen Shot 2021-07-11 at 11 23 47 PM" src="https://user-images.githubusercontent.com/3654256/125230756-0c5c8700-e29f-11eb-96f0-3f2fcb2dadb2.png">

[2021-07-12 09:17] baltpeter commented on #625
Interesting. This previously only happened in the Netlify staging environment and I was not able to reproduce why. Curiously, the same applies to #611, so that might be related.

[2021-07-12 16:16] #625 closed

[2021-07-13 13:59] rugk commented on #611
Also reproducable on https://www.datenanfragen.de/suggest/#!type=new&for=cdb

![grafik](https://user-images.githubusercontent.com/11966684/125464991-ceb4f697-9651-463e-b217-009371836b9a.png)

## Solution

The issue seems to be that strange background-image/size, as it works this way:
![grafik](https://user-images.githubusercontent.com/11966684/125465123-d662d3cb-fa81-4898-9672-847c16fbe15e.png)

[2021-07-13 14:57] baltpeter commented on #611
@rugk The external links are supposed to have an icon like this:

![image](https://user-images.githubusercontent.com/4048809/125473900-3acabafc-9b96-4d73-a653-6bdb57926f02.png)

The icon is applied in the `<a>`'s `:after`:

https://github.com/datenanfragen/website/blob/c57db775f69bb13b9a21e00eb438a08ed9e666ea/assets/styles/framework.scss#L214-L219

We then set the `background-size` so that the ico

[2021-07-13 15:02] baltpeter commented on #611
Progress! This seems to be related to the Hugo version. Locally, I was using Hugo 0.85.0 but in CI, we're using 0.83.1. With that, I can reproduce the problem. Let's see if a Hugo upgrade fixes the problem.

[2021-07-13 15:43] baltpeter commented on #611
Yep, that seems to work: https://deploy-preview-628--datenanfragen.netlify.app/blog/datenloeschung-bei-werbetreibenden/

#628

[2021-07-13 18:01] milotype commented on #579
Why _English_ or _Spanish_? It's a **German** domain!

IMO, the priority should be:

1. German
2. English
3. Spanish
4. Other languages if applicable

Because of the above, I'd like to change my former proposal about informing the user about languages to:
`Please contact us in German or English.`
(Specify other languages if applicable. Make the string translatable!!)

[2021-07-13 18:15] fm commented on #579
The priority already is

1. German
2. English

I was offering to help with emails in Spanish given I translated it to Spanish and am also a member of the organization.
No need to be harsh about it ;)

[2021-07-13 18:58] milotype commented on #579
@fm My reply wasn't meant to be harsh! I'm sorry!

[2021-07-14 08:37] baltpeter commented on #579
Unfortunately, we still don't have a way to make the content pages translatable through Weblate. But they can of course be edited through this repo.

[2021-07-17 14:36] #528 closed

[2021-07-18 18:28] baltpeter commented on #611
Fixed by #628.

[2021-07-18 18:28] #611 closed

[2021-07-28 18:19] thewindsofwinter commented on #609
Hello! I'd be willing to try to set explicit width and height, but I'm not completely sure what that entails: do I just need to do it for elements that exist or would I be expected to create a solution that works for any arbitrary SVG that's added to a page? If you could give me a few pointers on how to start, I'd be glad to help out! Thanks~

(und ich weiß nicht, ob der Autor lieber auf Deutsch k

[2021-07-30 12:37] baltpeter commented on #609
Hi @thewindsofwinter, thanks for wanting to work on this!

While we'd love to have an automated solution that works for all SVGs, that isn't possible with Hugo at the moment, so this issue is just for manually setting the `width` and `height` on the existing SVGs.

Here's an example of a change from a previous PR that already did this for one SVG: [`29f2548` (#594)](https://github.com/datenanfrage

[2021-07-30 19:21] thewindsofwinter commented on #609
Sounds good! Hopefully it won't take too long for me to finish this :)

[2021-08-01 21:58] lewin-7 opened #633 "Input marked as related to facebook by "Facebook Container" on Firefox"
As I know and trust you, I am sure that none of my data is being sent to facebook. Still this add-on seems to identify this input on the generator-page as belonging to facebook. Maybe you can find out why.

<img width="447" alt="Bildschirmfoto 2021-08-01 um 23 52 51" src="https://user-images.githubusercontent.com/84681012/127786429-7004fe34-f704-49fd-a0bd-118ca723f746.png">

[2021-08-03 11:12] mal-tee commented on #633
Seems like this is an issue on mozilla's end: they marked every email input... :/

Seems like a fixed version is on its way: https://github.com/mozilla/contain-facebook/issues/783#issuecomment-891166030

[2021-08-06 16:57] #386 closed

[2021-08-06 16:59] baltpeter commented on #633
This is now fixed: https://github.com/mozilla/contain-facebook/issues/783#issuecomment-891854434

[2021-08-06 16:59] #633 closed

[2021-08-15 20:16] mal-tee opened #639 "Easily accessible anchor links"
If we want to link users to a particular part of a site, we often use anchors in our links, e.g. [https://www.datarequests.org/blog/your-gdpr-rights/**#right-of-data-access**](https://www.datarequests.org/blog/your-gdpr-rights/#right-of-data-access). This example automatically scrolls to the "Right of data access" section of our article.

To obtain such an anchor, we have to guess it or look up th

[2021-08-15 20:25] mal-tee opened #640 "Donate form doesn't accept comma as decimal seperator"
It seems like the donate form does not accept a comma as decimal separator. This is quite unfortunate, as it's the norm in Germany.

![comma_sep](https://user-images.githubusercontent.com/45886910/129491695-593f03b2-4d28-438f-a476-b37fba148a12.gif)

In this example I was using the numpad on a german keyboard.

[2021-08-15 20:27] baltpeter commented on #639
Luckily, this is easy to implement thanks to Hugo render hooks. Here's how I did it for my docs site (can pretty much be copied as-is):

https://github.com/baltpeter/hugo-theme-docdockdoc/commit/5f6b735c375d002e73d5e5abc4e471ce3706ba83

[2021-08-15 20:48] mal-tee opened #641 "Testing: Error handler"
We have a handy error handler, showing a modal to users asking them to report an error to us.

![image](https://user-images.githubusercontent.com/45886910/129492268-17aebf66-6c20-4763-9a69-fd2029d768d0.png)

At the moment we only have very basic testing for it: https://github.com/datenanfragen/website/blob/master/cypress/integration/error-handler/console-logging.spec.js

We would like to have some

[2021-08-15 21:05] mal-tee opened #642 "Bring accentued letters together on company database page II"
As discussed in #245 and already fixed in #452, some characters should be grouped together on the company database. #452 solved this, but since then our database expanded and introduced new cases:

![image](https://user-images.githubusercontent.com/45886910/129492710-fa19ba6c-6579-4ea8-94b7-275e1bc84bcb.png)

The "Ε" here isn't a latin capital e (U+0045), but an uppercase epsilon (U+0395).

If you

[2021-08-15 21:29] mal-tee opened #643 "Comments: Indicate that we support some markup"
Our comments support some markup:

https://github.com/datenanfragen/website/blob/29f16ab9003ffec684cbafb4656ab3062bf9889c/src/Components/CommentsWidget.js#L98-L109

But we don't show that information on our webpages. A little hint showing our users that they can use some kind of markup should be useful.

[2021-08-15 21:37] baltpeter commented on #643
The hint shouldn't be too prominent. The markup language used there has some quirks and is not the same as the one used in the generator (that one doesn't support nesting tags and links, most notably; the "parser" is also different).

That's mostly as the comment markup language was mostly only meant for "us" and not really for public consumption. I don't mind other people using it but it's probab

[2021-08-15 21:43] mal-tee opened #644 "Show warning if users are using a deprecated browser?"
Sometimes we get error reports of users using weird or very old browsers. Should we show a warning for unsupported browsers?

On the one hand this might get users to switch to a supported browser, on the other they might have no choice and could be annoyed by such a warning. But if it's easily dismissable that shouldn't be much of a problem.

Integration into `browserslist` or something similar wo

[2021-08-15 22:28] mal-tee commented on #354
Seems like we settled on a style. Should we turn this into a regular (hacktoberfest) issue?

[2021-08-17 18:01] zner0L opened #646 "More secure cookie attributes"
All cookies we set should use the `SameSite` and `secure` attributes. Firefox already warns about that and will soon reject those cookies:

<img width="505" alt="Screenshot 2021-08-17 at 19 53 10" src="https://user-images.githubusercontent.com/4049135/129776826-17b4f680-428a-4e83-bf05-c44c14010180.png">

To achieve this, look into [setting defaults for `js-cookie`](https://github.com/js-cookie/js-

[2021-08-18 09:57] zner0L opened #649 "Native (p)react component for search autocomplete"
Currently, we are using `autocomplete.js` by algolia, which is not properly integrated into preact and rather manipulates the DOM after preact. This leads to all kinds of problems in the component lifecycle, like in #645. Also, `autocomplete.js` is very heavy and slows down our pageload.

A solution to this would include writing our own search component, maybe using [`accessible-autocomplete`](htt

[2021-08-18 10:02] zner0L opened #650 "More accessible links in the search suggestions"
Instead of making the entire container a link which will be read out in full by screen readers, only use the heading. Using a clever overlay, clicking the whole container can still be preserved for visual users, like suggested in this video: https://youtu.be/qKRq-tFixWE?t=2227

This has also been discussed in #590.

[2021-08-18 10:57] zner0L commented on #435
Closing this in favor of #649

[2021-08-18 10:57] #435 closed

[2021-08-20 18:50] Dtrieb opened #652 "JS error (undefined)"
https://www.datenanfragen.de/generator/ aufgerufen

**Debug information:**

[code]

[2021-08-25 19:46] baltpeter opened #656 "Error handler: Ignore errors from extensions"
As browser extensions (can) run in the context of the website, they can also cause errors in the context which would be caught by our error handler. This happened in #652.

As we can usually not do anything about those errors, we should ignore them in the error handler.

[2021-09-03 13:46] mal-tee opened #658 "Set explict width and height for SVGs"
to continue what we started with #609 and #634

[2021-09-09 19:46] WebworkrNet opened #659 "JS error (Uncaught TypeError: Failed to fetch)"
**Debug information:**

[code]

[2021-09-09 19:52] WebworkrNet commented on #659
![Screenshot_20210908-160152_Chrome](https://user-images.githubusercontent.com/43509007/132753377-44d33f16-d0fa-417c-b10a-c9978be8c8fb.jpg)

[2021-09-09 21:07] WebworkrNet opened #660 "Generator: Long URLs in record comments overflow in mobile Chrome, causing off-screen modal positions"
**Steps to reproduce**
Using the wizard.
The last record to be called up was that of the "_Beitragsservice_".
The next data set is now to be selected.
**Expected behaviour**
As with other records, the attached note (in mobile view) should be in the user's view area.
**Actual behaviour**
Instead, for this record, the hint is displayed outside the field of view. Looks to me like in this case the des

[2021-09-11 09:12] WebworkrNet opened #661 "Company suggestions: Store entered data in localForage"
Mobile devices in particular usually reload the current tab frequently when switching between browser tabs (or apps). This means that values transferred during copy/paste are lost. This is annoying because not all information is usually transferred in one step.

Proposal:
As soon as a value has been entered in a field, save it temporarily.

[2021-09-11 10:04] WebworkrNet opened #662 "Company database: Letter bar covers entries"
May only affect mobile devices.
![Screenshot_20210911-114119_Firefox](https://user-images.githubusercontent.com/43509007/132944204-cc4a65dd-930a-48fb-8990-73a4f80c50ec.jpg)

[2021-09-11 10:07] WebworkrNet commented on #662
Possibly related to #545.

[2021-09-11 10:33] WebworkrNet opened #663 "Generator / my data: field "place""
https://www.datenanfragen.de/generator/

In my opinion, the field for city should be supplemented by postcode.
Currently, the entry of the postcode only results from the context.

![Screenshot_20210911-121220_Firefox](https://user-images.githubusercontent.com/43509007/132944886-9d7e1405-6653-45e4-bc7a-94a09217a94a.jpg)

[2021-09-11 11:34] zner0L commented on #663
This is deliberate to avoid having to properly internationalize ZIP codes and city names/places. Often times, countries to this very differently and sometimes ZIP codes don't even correspond to city names or municipalities but other places entirely. Restricting this field means loosing a lot of necessary flexibility.

If you think this is confusing, I guess we could clarify by mentioning the ZIP c

[2021-09-11 18:17] mal-tee commented on #663
Once I got confused by this as well, I think we should clarify it. :D

[2021-09-11 18:19] mal-tee commented on #662
Reminds me of #244 as well.

[2021-09-13 15:01] baltpeter commented on #660
I have confirmed this issue. It only occurs in mobile Chrome, not Firefox.

It can be reproduced by selecting the Beitragsservice in the generator (wizard is not necessary) and then triggering the "You haven't used your request." modal by clicking the "New request" button.

Behaviour in Chrome:

https://user-images.githubusercontent.com/4048809/133106865-edc0b4cc-bda3-4f0d-9d2f-0e59ccb791da.mp4

B

[2021-09-13 15:06] baltpeter opened #665 "Retry `fetch` requests"
We often get error reports due to temporary network failures (like #659). To avoid those, and provide a better user experience, we should retry failed requests a couple of times.

[2021-09-13 15:07] baltpeter commented on #659
Thanks for the report! From the debug information, I'd say this was likely a temporary network hiccup (either on your or on our end). Has the problem occurred more than once? Otherwise, I'd say we can close this.

However, we should really retry failed requests. In most cases we've seen, they would have likely worked the second time around. I have opened #665 to track this.

[2021-09-13 15:10] baltpeter commented on #661
This shouldn't be too hard, we can just store the JSON from json-forms on change in localForage. However, we will also need to introduce a new privacy control to allow users to disable this. And we'll have to write tests for this.

[2021-09-13 20:41] #268 closed

[2021-09-13 20:41] #270 closed

[2021-09-13 20:56] baltpeter opened #668 "Broken external link styling on open source page"
On the [open source page](https://www.datarequests.org/open-source), the external link styling is broken in various ways:

![image](https://user-images.githubusercontent.com/4048809/133154828-322c3d36-6fbe-4e37-9ceb-73222aa9539b.png)

Not sure what to do here.

The most obvious problems are that the indicator is in the next line for the icons and headings. That's because those are block elements w

[2021-09-13 22:41] #656 closed

[2021-09-14 20:15] WebworkrNet commented on #663
Yes, that's what I had imagined. :-)

[2021-09-14 20:50] WebworkrNet commented on #660
I have understood the problem. However, I can't see any (big) difference in the two videos. Both look OK to me.

For me, it still looks different.

![Screenshot_20210914-223951_Chrome](https://user-images.githubusercontent.com/43509007/133331302-02898e4b-a873-42c9-9495-1f68f590d1ed.jpg)
![Screenshot_20210914-224009_Chrome](https://user-images.githubusercontent.com/43509007/133331308-a55b25a3-7081-

[2021-09-14 20:58] WebworkrNet commented on #662
Yes, I had seen that too, but I wasn't quite sure.

[2021-09-14 21:22] WebworkrNet commented on #659
According to my memory, the error only occurred 1x.

Good idea!

[2021-09-14 21:22] #659 closed

[2021-09-14 21:50] WebworkrNet opened #670 "Different spelling of the search terms"
Example:
https://www.datenanfragen.de/company/s-broker

If you search for `S-Broker`, the record is found, probably because of the name of the record. If I search for `Sparkassen-Broker` instead, the record is not found.

I don't know how often this happens.
Can this be intercepted?

[2021-09-14 21:54] WebworkrNet commented on #661
That sounds good.

[2021-09-15 09:02] #438 closed

[2021-09-15 18:23] WebworkrNet opened #672 "Company database: Alphanumeric sorting of the "runs" entries"
Particularly long lists become confusing to the human eye. An alphanumeric sorting would remedy the situation.

[2021-09-15 23:44] WebworkrNet opened #673 "Query generator: Positioning of the submit buttons"
In my opinion, the buttons for sending emails and new enquiries are positioned in an unfortunate way. The user works through the form line by line from top to bottom. Consequently, for the sake of user-friendliness, there should also be submit buttons at the bottom of the form.

If there are compelling reasons to place the buttons at the top of the page, then I would like to suggest that additiona

[2021-09-16 09:08] mal-tee opened #674 "Optimize deploy script"
If you know your way around shellscripts, feel free to optimize our deploy.sh-script:
https://github.com/datenanfragen/website/blob/master/deploy.sh

We assume that time savings could be achieved by using parallelization, e.g. with GNU parallel. At the moment we copy a lot of stuff in simple loops:
https://github.com/datenanfragen/website/blob/4a2693b65db13d182ca8ae4dc3f58a19ea0b313f/deploy.sh#L56

[2021-09-16 09:08] baltpeter commented on #660
Isn't that exactly what it looks like in my Chrome video (at 0:20)? I just included an example of where the problem doesn't occur before. :)

[2021-09-16 09:16] baltpeter commented on #670
This behaviour is given by the search engine we use, Typesense. It's actually the same problem as reported in #495, so I will close this issue.

This will likely soon be fixed. The awesome Typesense people have recently published a new release candidate that fixes this problem, see their issue typesense/typesense#122. If you're interested, I have also posted a detailed comment evaluating these cha

[2021-09-16 09:16] #670 closed

[2021-09-16 09:25] baltpeter commented on #672
Hm, not sure about this. We often have "runs" entries that first list other services the company runs (which are usually interesting to the user) and then list different companies/legal entities they are responsible for (which usually aren't that interesting to the user and most included to clarify that the request also covers them). One example for that: https://www.datarequests.org/company/match

[2021-09-16 18:23] #544 closed

[2021-09-16 21:48] #620 closed

[2021-09-17 22:13] WebworkrNet commented on #660
Yeah, right.
I don't know why I missed that. Hm...

[2021-09-19 18:47] WebworkrNet commented on #672
Ok, I understand. However, it is obvious to users that such a sorting exists. Only the people involved know the principle.

[2021-09-19 20:31] WebworkrNet opened #677 "Österreichischer Rundfunk (ORF) not found"
Don't know if this bug falls under #495 like #670. The record `Österreichischer Rundfunk (ORF)` is not found under `Österreichischer`, `Rundfunk` or `ORF`.

[2021-09-19 22:12] baltpeter opened #678 "Make fetchTemplate() reject in case of an error"
Due to the fact that `fetchTemplate()` [catches and `rethrow()`s any errors](https://github.com/datenanfragen/website/blob/baa2d1f2066ec59649551553e8da112700f0bbc6/src/Utility/requests.js#L109-L111), and our (my) weird implementation of `rethrow()` (for which I unfortunately don't remember the reason, despite the [comment](https://github.com/datenanfragen/website/blob/baa2d1f2066ec59649551553e8da1

[2021-09-20 07:57] mal-tee commented on #677
All three work for me. Did you set the right Country on datenanfragen.de? The record will only show up for "all" and "Austria". As its relevant countries is only set to "at".

https://github.com/datenanfragen/data/blob/7c20b1dfc2c75d92d2a10ec75295d131eaf6be96/companies/orf.json#L4

[2021-09-20 10:23] baltpeter opened #679 "Record failed production tests in Cypress"
We have a test configured in Circle CI that automatically tests our production site on a schedule:

https://github.com/datenanfragen/website/blob/f9cc1f0c88c1f1768e3b418efcabb0aed80cf807/.circleci/config.yml#L97-L111

Unlike our "regular" tests, this doesn't record the runs to the Cypress dashboard. We should record failed production tests as well to ease debugging them.

This should be as simple

[2021-09-20 17:07] WebworkrNet commented on #677
Thank you, ok right. I had not thought of the selection by country in this context.

[2021-09-20 17:07] #677 closed

[2021-09-20 17:28] WebworkrNet opened #681 "Change of country"
According to #677, companies are displayed depending on the preselected country.

**Steps to reproduce**

1. Initial situation: `Austria` is selected.
2. Search for `Rundfunk`.

**Expected behaviour**
Only Austrian entries should be displayed.
**Actual behaviour**
In fact, the German `NDR`, `RBB` and `WDR` are also displayed.

I have checked all 3 entries. Only `Germany` is stored in all data reco

[2021-09-20 17:42] WebworkrNet opened #682 "Support non-EU countries Serbia and Turkey"
The country "Serbia" is not available for selection. Admittedly, it is not a member of the EU (yet), but the current list of countries also includes non-members such as Norway, Switzerland or the United Kingdom.

[2021-09-20 17:48] WebworkrNet opened #683 "Add country list: Turkey"
The country "Turkey" is not available for selection. Admittedly, it is not a member of the EU (yet), but the current list of countries also includes non-members such as Norway, Switzerland or the United Kingdom.

[2021-09-20 17:58] mal-tee commented on #681
https://github.com/datenanfragen/website/blob/6aa8e63aed2bd73d621b02304a95ed55d1a65f12/src/Components/SearchBar.js#L36-L41

[2021-09-20 18:00] mal-tee commented on #681
Seems like this is known and wanted behavior.

[2021-09-20 18:02] mal-tee commented on #683
defacto duplicate of #682

[2021-09-20 18:02] #683 closed

[2021-09-20 18:08] baltpeter commented on #682
This is intentional. We are only allowing countries where the GDPR applies as everything else is out-of-scope for our project.

See https://github.com/datenanfragen/data/issues/764 and https://github.com/datenanfragen/data/pull/766.

[2021-09-20 18:08] #682 closed

[2021-09-20 18:11] baltpeter commented on #672
When talking about “users”, do you mean those who edit the company database or those who just use it? I don't think it's important for the latter to know this. The important entries are at the beginning of the list for them.

[2021-09-21 09:52] zner0L commented on #681
Yes, this is wanted behavior, since German companies regularly process data from Austrian or Swiss citizens, but this is not generally true the other way around. While it is true that it would be much better to solve this by listing Switzerland and Austria in the company record where relevant, we use this workaround because it is really hard to determine exactly in what countries a company is oper

[2021-09-21 09:52] #681 closed

[2021-09-21 11:29] mal-tee opened #685 "try different image compressions"

[2021-09-24 07:15] Kamlesh72 commented on #354
I am new to open source and this will be my first contribution.
-May I work on this during hactober fest or is it already assigned to someone else?

[2021-09-24 07:52] davenewham opened #694 "Changing page language shows modal in current language"
i.e if on the german website and I try to change the language, I will be shown a modal in German warning me
![image](https://user-images.githubusercontent.com/15076177/134638120-cb72cc11-2dfe-4172-abc0-9a9f0ecff0ce.png).

I think it would be more expected to have both target selected language appear, and current page language. Perhaps the buttons should be in the target language?

[2021-09-24 08:31] mal-tee commented on #354
Go for it, I've assigned you! Happy hacking.

Make sure to read our README which explains how to get everything started.

[2021-09-24 10:16] Kamlesh72 commented on #354
Thanks @mal-tee
Okay, I will surely check the Readme file.

[2021-09-24 14:28] baltpeter opened #695 "Translate various blog posts into Spanish"
The following blog posts need to be translated into Spanish (ordered by importance):

* [ ] [Territorial scope of the GDPR](https://github.com/datenanfragen/website/blob/master/content/en/blog/gdpr-territorial-scope/index.md)
* [ ] [More than just coupon codes: Browser extension Honey also collects their user’s history data](https://github.com/datenanfragen/website/blob/master/content/en/blog/hone

[2021-09-24 14:32] baltpeter opened #696 "Translate various blog posts into Croatian"
The following blog posts need to be translated into Croatian (ordered by importance):

* [ ] [Sample letter for requests for access to personal data as per Art. 15 GDPR](https://github.com/datenanfragen/website/blob/master/content/en/blog/sample-letter-gdpr-access-request/index.md) (You **don't** need to translate the actual letter, there is already a [stub post](https://github.com/datenanfragen/w

[2021-09-24 14:39] baltpeter opened #697 "Translate various pages into Croatian"
The following pages need to be translated into Croatian (ordered by importance):

- [ ] [Sample letters overview](https://github.com/datenanfragen/website/blob/master/content/en/sample-letters.md)
- [ ] [Contribute](https://github.com/datenanfragen/website/blob/master/content/en/contribute.md)
- [ ] [Association overview](https://github.com/datenanfragen/website/blob/master/content/en/verein/_inde

[2021-09-26 00:17] WebworkrNet commented on #681
OK, thank you both for the explanations.

[2021-09-27 07:06] Kamlesh72 commented on #354
where can I find the source files?

[2021-09-27 12:38] zner0L commented on #354
Which source files are you referring to?

[2021-09-27 12:57] Kamlesh72 commented on #354
https://www.datarequests.org/company/

Search any company name here.
So here I want to change font style of searched word. I tried but didn't find it's file where I can edit it.

[2021-09-27 12:59] zner0L commented on #354
Maybe start looking [here](https://github.com/datenanfragen/website/blob/527f657cdb2503e51b82b763d4c864015faef85e/assets/styles/elements.scss#L298).

[2021-09-30 10:57] sshiv5768 commented on #697
Hey, @baltpeter I want to work on this issue.

[2021-09-30 14:19] baltpeter commented on #697
@sshiv5768 Which page(s) do you want to work on? Also, please not that we cannot accept machine translations (like Google Translate).

[2021-09-30 19:24] Rutam21 commented on #660
@WebworkrNet @baltpeter I would love to work on this issue. Can you point me to the file which contains the elements for this page?

[2021-09-30 19:49] Rutam21 commented on #450
@baltpeter I would love to work on this. Let me know which folder contains the stylesheets for this HTML file. I hope using `fa-icons` is allowed

[2021-09-30 19:49] Rutam21 commented on #450
@baltpeter I would love to work on this. Let me know which folder contains the stylesheets for this HTML file. I hope using
`fa-icons` is allowed.

[2021-09-30 22:10] zner0L commented on #450
No `fa-icons` are not allowed, we use our own iconfont, which is generated in the build. The stylesheets are contained in `assets/styles` and are written in SCSS. We do write our own small "framework", so please take a look at the existing classes before you create your own. If you want to add Icons, you can use the ones from iconmonstr.com, and add them just like the other icons in the `icons.scs

[2021-10-01 02:37] HarshKumarChoudary commented on #646
I would like to work on this issue. Could you please assign it to me?

[2021-10-01 03:38] Kamlesh72 commented on #354
I am getting some error in Hugo server.

[2021-10-01 05:47] Kamlesh72 commented on #354
Error building site: cannot create "de/e.v.": Windows filename restriction
Built in 104804 ms

I got this issue while following readme file and running "hugo server" command.

[2021-10-01 06:59] Vidushi-Gupta commented on #650
Hi, could you please let me know on which page can I change the linked containers to linked headings? I'll be happy to contribute to this. Could you please assign it to me?

[2021-10-01 09:19] zner0L commented on #650
You can work on this if you want. We don't just want the headings to be links, we also want the the entire container to be clickable while also being semantically correct for the sake of accessibility. The youtube video I linked shows a fairly elegant solution I'd like to be implemented.

[2021-10-01 09:32] Vidushi-Gupta commented on #650
Sure, I'll work on this. You can go ahead an assign this to me, if it requires me to be an assignee. Thank you! I look forward to contributing :)

[2021-10-01 10:02] zner0L commented on #646
@HarshKumarChoudary Sure.

[2021-10-01 10:24] siddhiiguptaa commented on #639
Hello @mal-tee I would like to try working on this! Kindly assign me. @baltpeter 's resource is a great help for a beginner like myself!

[2021-10-01 12:27] kaggrwal commented on #640
@mal-tee I would like to work on this, can you please guide me through the codebase?

[2021-10-01 12:28] kaggrwal commented on #674
@mal-tee I would like to do this, please give me some brief about this.

[2021-10-01 12:56] satyamgupta1495 commented on #545
I'd like to work on this issue could you please assign it to me?

[2021-10-01 13:57] aerabi commented on #665
I can try to fix it. Where should I start looking?

[2021-10-01 15:09] baltpeter commented on #660
@Rutam21 The overflowing comments are added in the [CompanyWidget](https://github.com/datenanfragen/website/blob/master/src/Components/Generator/CompanyWidget.js).

[2021-10-01 15:22] baltpeter commented on #581
@mal-tee Do you want to work on actually fixing this or can we close this issue now that #698 is merged?

[2021-10-01 15:23] baltpeter commented on #354
@Kamlesh72 I've just merged #698 which adds a section to the README with instructions on developing on Windows, which also addresses this problem.

[2021-10-01 15:28] mal-tee commented on #674
Hi! This is not really an issue where I can guide you that much, it's more about tinkering around and having some experience with bash scripting.

[2021-10-01 15:33] mal-tee commented on #640
https://github.com/datenanfragen/website/blob/master/src/Components/DonationWidget.js

This is the code for the `/donate` page. The bug should be hidden here somewhere. Part of fixing a bug is understanding why it's happening. Only then you can fix it.

If you want to know how to get our project running locally, please read the README carefully.

[2021-10-01 15:34] baltpeter commented on #665
@aerabi I've assigned you.

There isn't really any specific place where this could be fixed. You'd need to look through all instances in the code where we are using `fetch()`. And you should probably introduce a wrapper with retryability and replace those instances with that where it makes sense.

[2021-10-01 15:40] baltpeter commented on #545
@satyamgupta1495 There is already a PR for this by @mal-tee: #693.

[2021-10-01 15:41] #581 closed

[2021-10-01 15:41] mal-tee commented on #581
Yeah, this issue was more of a reminder to document this somewhere. :D

[2021-10-01 16:01] satyamgupta1495 commented on #545
That's great! anything else I can help you with ?

[2021-10-01 18:04] baltpeter commented on #545
We have quite a few open issues, take a look through them, especially the ones labelled ["good first issue"](https://github.com/datenanfragen/website/issues?q=is%3Aissue+is%3Aopen+label%3A%22good+first+issue%22). :)

[2021-10-01 18:06] InfiniteVerma commented on #641
I'd like to work on this.

[2021-10-01 18:12] baltpeter commented on #641
@InfiniteVerma I have assigned you.

[2021-10-01 18:14] Cool-Runningz commented on #239
Hello! Would you be able to provide some more information as to where to find the current footnotes and/or a screenshot of what they currently look like?

I have some experience with accessibility and am interested in helping out with this if it is still available. Thanks!

[2021-10-01 18:22] Cool-Runningz commented on #551
Hello! Would you be able to provide a screenshot of which countries list(s) still need to be sorted alphabetically? I tried looking throughout the website and they all looked to be sorted correctly.

If this issue is still open and available, I am interested in helping out. Thanks!

[2021-10-01 18:26] baltpeter commented on #239
@Cool-Runningz That would be great, thank you! I have assigned you to the issue.

One example of a page with footnotes is this one: https://www.datarequests.org/blog/honey-data-collection/ (source: https://github.com/datenanfragen/website/blob/master/content/en/blog/honey-data-collection/index.md?plain=1#L170)

![image](https://user-images.githubusercontent.com/4048809/135669180-a4a1cd59-71bb-435c

[2021-10-01 18:43] baltpeter commented on #551
@Cool-Runningz Oh sorry, I wasn't very clear in the issue description (or lack thereof).

This is the page we are talking about: https://www.datarequests.org/suggest/

[2021-10-01 19:03] Cool-Runningz commented on #551
@baltpeter Thank you for clarifying! I will start looking at the work and will reach back out if I have further questions.

[2021-10-01 20:10] kaggrwal commented on #640
Can you assign this to me?

[2021-10-01 20:40] Cool-Runningz commented on #239
@baltpeter Thank you for providing that information. If I may, I have a clarifying question:

- As far as implementation direction goes, would you prefer to go the route provided in the [article](https://danielpost.com/articles/making-hugos-footnotes-accessible/) you linked in your first comment? Or would you prefer to use the `littlefoot.js` library that was suggested?