[2021-10-01 21:30] baltpeter commented on #239
@baltpeter After thinking about this some more, I think I actually prefer the approach from the [Hacker News comment](https://news.ycombinator.com/item?id=24747376). This is very lightweight, provides a good UX in my opinion and seems very semantically correct, which should be good for accessibility.

As we unfortunately can't influence the way Hugo renders the footnotes, you'd have to implement t

[2021-10-02 01:35] imrishabh18 commented on #679
I would like to take this up

[2021-10-02 01:57] Divyateja04 commented on #596
Hey, I would like to work on this, can you assign this to me?

[2021-10-02 02:01] Divyateja04 commented on #596
Can you also give more details though if you don't mind?

[2021-10-02 05:27] InfiniteVerma commented on #641
I have the project running locally and am trying to run the tests on Cypress. And as specified on the [link](https://github.com/datenanfragen/website/blob/master/cypress/integration/error-handler/console-logging.spec.js), cypress visits '/' page, throws an artificial error, and queries the DOM. But, the error handler modal isn't opening up. Am I doing something wrong here? The logs show 'Browsers

[2021-10-02 05:44] aditya2712 commented on #661
I would like to take up this issue.

[2021-10-02 06:22] sparsh02 commented on #695
Hi, I would love to work on the translation, however I am pretty new to hacktoberfest, can u assign me what page to translate. Thanks : )

[2021-10-02 06:44] mohitsaxenaknoldus commented on #674
Please assign it to me, I'll do it.

[2021-10-02 07:10] nilesh-sengupta commented on #673
Hello , I would like to work on it . Can you  just inform me the location where the code for the mentioned buttons in the repository ?

[2021-10-02 07:16] mal-tee commented on #674
Done :+1:

[2021-10-02 07:24] mal-tee commented on #673
I think it's a bit too early to implement this, as this still needs to be discussed in the first place. Maybe @baltpeter or @zner0L could give us some insight on their reasoning back then.

[2021-10-02 07:26] mal-tee commented on #679
Happy hacking, I will assign you.

[2021-10-02 07:36] mal-tee commented on #661
Happy hacking! I will assign you.

[2021-10-02 08:33] mohitsaxenaknoldus commented on #674
PR raised: https://github.com/datenanfragen/website/pull/708

[2021-10-02 09:14] baltpeter commented on #596
@Divyateja04 This isn't really an issue that I can give you more details on as the purpose is to research that. You would need to either be familiar with our code base already or willing to dig in yourself.

For more guided issues, take a look at the ones tagged [good first issue](https://github.com/datenanfragen/website/issues?q=is%3Aissue+is%3Aopen+label%3A%22good+first+issue%22).

[2021-10-02 09:20] Divyateja04 commented on #596
Yeah but most of them are assigned and remaining are translation ones and I don't know most of the languages which would mess it up again so is there any issue I can actually work on?

[2021-10-02 09:26] baltpeter commented on #641
@InfiniteVerma The hint @mal-tee gave isn't quite correct actually.

While this will cause the error to be logged to the console, as you said, we only show the modal if you throw one of our [custom error classes](https://github.com/datenanfragen/website/blob/master/src/Utility/errors.js), particularly one with a `code <= 3`:

https://github.com/datenanfragen/website/blob/482efd6bebf2d819dd47d395c4

[2021-10-02 09:26] Divyateja04 commented on #642
I think I can try this out, can you assign this to me?

[2021-10-02 09:43] baltpeter commented on #596
Sorry, nothing we can do about. We'll add new issues as we think of them.

Otherwise, you can always try and use the site to find bugs or things you can improve yourself.

[2021-10-02 09:44] Divyateja04 commented on #596
yeah I found another issue infact, see if I can work on it

[2021-10-02 11:10] baltpeter opened #711 "Exclude `nsfw` companies from "related companies""
In datenanfragen/data#1368, we added a new `nsfw` field to our company record schema. In our governing association's general assembly on September 15, 2021, we adopted a resolution that says that NSFW companies need to be excluded from the "related companies" list.

Here's the relevant code:

https://github.com/datenanfragen/website/blob/a24f55bae16f33240af7bc0ce3715806c81c9f81/layouts/partials/re

[2021-10-02 12:05] Torfab commented on #711
may i work on it?

[2021-10-02 12:44] baltpeter commented on #711
@Torfab Sure, I have assigned you.

[2021-10-02 14:35] moriarty-jim commented on #532
I'm preparing to work on this when datenanfragen/data#1126 is merged. If I understand your code structure correctly, changes need to be made to:

`src/Components/SvaFinder.js` something like this:

[code]

and all the translation files in `src/i18n/` for languages in use (de, en, fr, hr, pt, es):

[code]
Anywhere else? Or am I completely on the wrong track?

[2021-10-02 15:14] Divyateja04 commented on #642
I keep getting an error that partials "footer-url" not found, any idea how I fix this?
I checked code and I think partials/footer-url file is missing, can you help me out

[2021-10-02 16:04] baltpeter commented on #532
Awesome! I'll assign you in that case.

No, that should be it. Feel free to ask if anything's unclear but looks like you've already figured it out.

[2021-10-02 16:09] baltpeter commented on #642
@Divyateja04 You're probably using a Hugo version that's too old. We need v0.88.1.

I have just opened a PR to also add that to the README: #712

[2021-10-02 16:29] Divyateja04 commented on #642
Basically this happens in wsl, wsl only can update upto v0.68.3 using `sudo apt-get hugo`

You then need to install debian file, maybe add this in the windows dev section

[2021-10-02 16:51] Divyateja04 commented on #642
One more query if you don't mind, I did download node LTS only but when I run `sudo hugo server`, it says ```node_modules/.bin/postcss: 12: node not found```

Can you help me with this too, sorry for the trouble though

[2021-10-02 17:31] kaggrwal commented on #640
I have raised a PR, please review it #714

[2021-10-02 18:16] baltpeter commented on #642
It's generally not a good idea to run Hugo or Yarn as root. That tends to mess up the permissions. I would recommend cloning the repo again and going through the steps without `sudo`.

Otherwise, I am not sure about the error you're getting. Some ideas:

* Have you installed Node and Yarn?
* Have you installed the Node dependencies using `yarn`?

[2021-10-02 18:36] #711 closed

[2021-10-02 19:11] silvia-odwyer commented on #448
@zner0L @baltpeter Hi there! I'm interested in fixing this issue, but just wondering how the team would like the star rating to be placed. I was thinking of adding the star rating just below the username in the comment, and making the stars slightly smaller on mobile devices. If you think that would work okay, let me know, or if you have any preferences for how this should be implemented.
Thanks!

[2021-10-02 19:21] baltpeter commented on #448
@silvia-odwyer That sounds good! +1

[2021-10-02 19:27] mal-tee commented on #642
- if you are using wsl: don't mix it with native windows programs, i.e. install all tools inside of WSL

[2021-10-02 20:37] Stig124 commented on #457
What is missing in that issue? I can help if needed

[2021-10-02 20:41] baltpeter commented on #457
@Stig124 So far, only the posts with a checkmark have been translated, all other ones are missing.

It would be great if you want to help. Let me know if you want to be assigned to one or more post(s).

[2021-10-02 20:44] Stig124 commented on #457
I can take the sample articles

[2021-10-02 20:55] baltpeter commented on #457
Great, I have assigned you.

[2021-10-02 23:02] moriarty-jim commented on #532
German, English and French translations for this task are no problem for me. What should I do with the other languages (hr, pt, es)? Placeholders?

Specifically these two phrases:
| German  | English | French |
| ------------- | ------------- | ------------- |
| Öffentlich-rechtlicher Rundfunk  | Public service broadcasters  | Service public de radiodiffusion | 
| Auf welche öffentlich-rechtliche

[2021-10-03 00:47] Divyateja04 commented on #642
um does that mean I clone the repo inside wsl too, as of now my repo was cloned in the windows terminal and am running yarn dev in the windows terminal too, should I try running both from wsl only?

Node is installed in wsl, but yarn was installed outside yarn, I'll try today and get back to you

[2021-10-03 04:48] AnirbanBall commented on #679
I would like to work on this

[2021-10-03 08:03] mal-tee commented on #642
Where you clone shouldn't make much of a difference but running yarn does. Rerun  `yarn` and `yarn dev` in wsl, maybe that helps.

[2021-10-03 08:06] mal-tee commented on #532
We are using weblate and have some great people keeping the strings updated. That means we only need to specify english as a fallback and all other languages might trickle in over time, when our awesome translators on weblate had the time.

That means for you: As long as you provide Englisch you are fine, everything more is great, but you don't have to cover everything. :)

[2021-10-03 08:16] mal-tee commented on #679
Sorry, @imrishabh18 Is already working on this.

[2021-10-03 08:38] aditya2712 commented on #661
Sorry, I won't be able to do it, as I didn't knew its written in react and I don't know anything about react.

[2021-10-03 08:48] TomerPacific commented on #694
Can I help out with this issue?

[2021-10-03 09:02] baltpeter commented on #532
Yep, what @mal-tee said. And I agree with not translating the names.

[2021-10-03 09:50] moriarty-jim commented on #532
I originally just filled in the German "translations" and got errors during testing of the other language sites. I somehow didn't consider that English (and not German) is the default fallback, which - in hindsight - makes perfect sense, of course. That's why I somehow thought that there is no fallback and all translations are necessary. Thanks for clarifying :)

[2021-10-03 09:58] baltpeter commented on #532
Either is fine. It should be pretty obvious not to translate them, especially if the English one is already untranslated.

[2021-10-03 09:59] davenewham commented on #694
Hi @TomerPacific, I've been working on some changes to this I18NWidget and suggesting other languages on the PR #615. This PR has now changed the behaviour, to where the target language is shown in the modal (instead of the current language). If you wanted to help out, you could try and figure out how to display both current and target language? Maybe with a HR element between them?

[2021-10-03 10:10] TomerPacific commented on #694
@davenewham , I've looked over the PR. Would it be best that I branch out of the PR's branch and opened a new PR for that?

[2021-10-03 10:20] davenewham commented on #694
Yes, I think so. Thanks for helping 😊

[2021-10-03 11:36] #582 closed

[2021-10-03 11:37] baltpeter commented on #694
The PR is now merged, so you can also work straight from master if you haven't started already. :)

[2021-10-03 18:52] TomerPacific commented on #694
@baltpeter , should I open a new issue then or would you like to keep this one open?

[2021-10-03 22:53] kyteinsky commented on #444
I can see this issue persists. I want to resolve this one.
Would you please provide some pointers where I should look first in the codebase?

Thanks.

[2021-10-04 00:47] duaimei opened #721 "Dockerize project to make it more accessible to newcomers"
Create a docker and docker-compose file so that people don't necessarily have to have Hugo and Yarn on their personal machines. Everyone's development environment is a little bit different, and this will help with basic errors.

For example:
I'm on a mac and `hugo server` failed, but `hugo server --watch=false` worked.

[2021-10-04 01:05] Divyateja04 commented on #642
yeah I'll check it today, this is my first time working on wsl so, sorry about that
Infact I'm done with improving the code, infact added all the caron letters and plan on adding others, except I can't test it rn so I had asked ,I'll check again today and get back to you

[2021-10-04 01:11] Divyateja04 commented on #642
By the way, yeah running yarn on wsl helped and maybe removing sudo too
I don't know which one helped but maybe you can add these to the docs

[2021-10-04 01:16] Divyateja04 commented on #642
I added all the caron letters, should I add other accents too to completely remove this issue for the future too?
Some accents like [acute](https://en.wikipedia.org/wiki/Acute_accent) maybe?

[2021-10-04 01:26] duaimei commented on #643
Hi. I would like to work on this. Please assign it to me!

[2021-10-04 01:37] Divyateja04 commented on #642
By the way should I PR?

[2021-10-04 07:20] mal-tee commented on #642
If you have a solution, sure, make a PR :+1:

[2021-10-04 07:22] mal-tee commented on #721
I think that specific problem is documented in the README, but sure. I think its a idea worth giving a shot, but only for developing purposes.

Shouldn't be too hard to implement for sb. with Docker knowledge. But I am not sure if we/@baltpeter want to maintain Docker-config stuff as well. :thinking:

[2021-10-04 08:29] Divyateja04 commented on #642
Yeah I tried to commit and it started running /scripts/merge-conflict-artifact-check.sh
I Should wait until it's done right?

[2021-10-04 08:35] mal-tee commented on #642
Yes. Install [ripgrep](https://github.com/BurntSushi/ripgrep#installation) to make that quicker. If it takes ages anyway, you can commit with `--no-verify` to skip our hooks.

[2021-10-04 08:40] Divyateja04 commented on #642
It actually didn't take much time, can you check the PR once?

[2021-10-04 09:09] baltpeter commented on #694
@TomerPacific I see no reason to open a new issue, let's use this one. I can assign you if you want.

[2021-10-04 09:12] TomerPacific commented on #694
@baltpeter, sure let's do that. Just wanted to make sure I am aligned with your working style.

[2021-10-04 09:26] baltpeter commented on #721
Thanks for the suggestion!

As @mal-tee said, this would only be for dev purposes (as the project really isn't meant to be deployed by anyone other than us). Personally, I don't really see the need for that. Between the instructions and tips in the README, I think it shouldn't be too hard to get up and running for dev. And with #701, this will get even easier.

We could consider it if someone step

[2021-10-04 12:54] TomerPacific commented on #694
Just to make sure I understand what needs to be done, you would like to display in the modal, the current language of the website and also the target language selected?

If this is so, would you like that the different versions of the text appear inside the buttons or somewhere else? I.E. at the top of the modal?
![website](https://user-images.githubusercontent.com/23402988/135854956-1881bbfc-b063

[2021-10-04 14:03] baltpeter commented on #444
@kyteinsky These pages are generated automatically by Hugo. Without having looked into this, this probably happens as we _don't_ have anything for them in our codebase: https://gohugo.io/templates/

[2021-10-04 14:19] baltpeter commented on #694
Yes, exactly. Otherwise, a user who accidentally selects the wrong language might not find their way back.

Not sure. As @davenewham [said](https://github.com/datenanfragen/website/issues/694#issuecomment-932900979), we haven't figured out a design for that yet. That's also part of the scope of this issue.

[2021-10-04 14:27] #642 closed

[2021-10-04 14:35] kyteinsky commented on #444
Hmm, I see.
Is [this](https://github.com/datenanfragen/data/blob/d539a201e45e1ab28aacd765257e546ad67e9117/schema.json#L27) where the categories list is present?
And do I need to bind some link or click action to the individual categories, or is that work already done?
I will look into Hugo files in this repo to find out more.

[2021-10-04 15:46] ThisIsFaar commented on #354
can I work on this issue?

[2021-10-04 16:06] davenewham commented on #694
![image](https://user-images.githubusercontent.com/15076177/135885176-e00fcf00-6ebf-4b14-a419-4451e3eb5e1b.png)
![image](https://user-images.githubusercontent.com/15076177/135885331-e1de58e0-86fc-44ff-84ab-15eed4a3ca44.png)

These are some of the ideas I had on how I was going to implement it - I particularly like the first one (similar to how Firefox does it)
![image](https://user-images.githubus

[2021-10-05 06:38] arushmangal commented on #457
I would love to do this. I'll take up the sample-letter-gdpr-rectification-request.

[2021-10-05 08:07] encodeArnab commented on #596
Hello @baltpeter ,
I'd want to assist with this issue; I've reviewed the codebase and am confident that I can assist with the optimization of ```generator.scss``` and ```main.scss```.
Can you assign it to me.
Thank you

[2021-10-05 09:21] baltpeter commented on #457
@arushmangal As you can see, that post is assigned (and translated). Feel free to choose one of the unassigned ones.

But please note that we cannot accept machine translations like Google Translate.

[2021-10-05 09:24] baltpeter commented on #596
Thanks @encodeArnab, I have assigned you.

[2021-10-05 11:40] InfiniteVerma commented on #641
PR raised: #724. I had a doubt which I added in there.

[2021-10-05 12:43] baltpeter commented on #444
The schema defines a list of all the valid categories, yes. But that's not something you'd have to handle. The Hugo taxonomy stuff should take care of that based on the companies that are actually present.

Not sure I understand that question, to be honest. The problem here is likely that our default `summary` templates don't know how to render a `category`. You'd have to create one for that. The

[2021-10-05 12:47] baltpeter commented on #354
@ThisIsFaar The issue is already assigned to @Kamlesh72. Not sure whether they are still working on it.

[2021-10-05 13:13] Kamlesh72 commented on #354
@baltpeter If possible please assign it to @ThisIsFaar. I am still getting few errors in windows.

[2021-10-05 13:23] joremysh commented on #721
maybe I could help add a dockerfile to the project

[2021-10-05 14:53] OussamaSALAHOUELHADJ commented on #387
Hey @baltpeter, I have been working on this issue, and here is what I did so far:

![image](https://user-images.githubusercontent.com/55297866/136046068-00963e67-990a-4ab2-8605-f803f745e18c.png)

![image](https://user-images.githubusercontent.com/55297866/136046202-e1fed5c0-9076-4276-a98a-ebc4807d8fc8.png)

If you have any suggestions for improvement, please let me know.
Just a quick question, I w

[2021-10-05 20:32] tiger-yash commented on #668
Hey!
I would like to work on this.

Also, since the view repository already has the link to the repository, we might as well remove the links form image and heading. what do you say?

[2021-10-06 01:54] HarshKumarChoudary commented on #646
Could you please provide me guidelines for creating a PR, I had added those libraries to the cookies.

[2021-10-06 04:42] ThisIsFaar commented on #354
Hey, @baltpeter thank you for assigning me this issue.
how is this, is it fine?
![image](https://user-images.githubusercontent.com/67395591/136141506-7d9a260e-1e15-4758-a81d-13076fea9d94.png)

[2021-10-06 05:35] Kamlesh72 commented on #354
@baltpeter  How about using blue color underline?

[2021-10-06 10:59] baltpeter commented on #668
@tiger-yash We should keep the link on the heading. While I would prefer to also keep the link on the image, I'm ok with removing that as I can't think of a solution to indicate that this is an external link.

[2021-10-06 11:17] baltpeter commented on #354
We should use the style proposed by @zner0L, which we already agreed on: https://github.com/datenanfragen/website/issues/354#issuecomment-672980975

You only need to find a variant of that for when the user is hovering over an item.

[2021-10-06 11:46] ThisIsFaar commented on #354
I have set up the project on local but when running `hugo server` cmd for starting the server, I am getting this error
![image](https://user-images.githubusercontent.com/67395591/136196413-0e7c75bd-800a-4c68-9f6d-f1c5c8355064.png)

[2021-10-06 11:56] baltpeter commented on #354
Depends on your system: https://gohugo.io/getting-started/installing/

[2021-10-06 12:35] zner0L commented on #646
If you have general question on how to work with PRs, I would refer you to this explanation by GitHub: <https://guides.github.com/introduction/flow/>

Before you open a PR, make sure to test whether the code will build locally and is still functional. For more information on that, look at [our README](https://github.com/datenanfragen/website#development).

[2021-10-06 14:21] zner0L commented on #721
I actually don't like this at all. Hugo and yarn are easy to use and build consistently across platforms. Docker just adds unnecessary overhead and adding a Dockerfile suggests that using Docker is needed for development or deployment. We even already provide containerization information for the CI (and netlify kinda). IMO, there is no need for docker if everybody already has a perfectly working u

[2021-10-06 14:21] #721 closed

[2021-10-06 14:23] zner0L commented on #694
Maybe hide the other language in a `<detail>` element?

[2021-10-06 15:38] baltpeter commented on #663
Do we really want to implement that? I'm pretty sure, this will break for some countries. For example, in the UK, the ZIP should be on a separate line from the city.

I do regret that we implemented this complex input for the addresses in the first place. I'm pretty sure we don't need the separation into the different components anywhere. We should have just used a textarea…

[2021-10-06 21:44] #672 closed

[2021-10-06 22:06] OussamaSALAHOUELHADJ commented on #387
That's better, the problem is the user comments cannot be retrieved directly. Since donations are sent directly to the API of payment providers, it's a good idea to keep a record of all donations on the server.

I can implement this comment on the `/thanks` page if you want me to.

and what about this question:

[2021-10-06 22:16] baltpeter opened #735 "Hide fixed fields with same value as the generator in the dropdown"
On our [“My saved data” page](https://www.datarequests.org/id-data-controls/), you can enter your details for them to be prefilled in the generator. You can also add your own fields which is useful for example if you have multiple email addresses.

In the generator, we have a dropdown where you can manually add them to the identification data (we call them "fixed fields"):

https://user-images.git

[2021-10-06 22:38] baltpeter opened #736 "Generator: Show a prompt before overriding text with template in 'Your own text'"
In the generator, you can choose to enter 'Your own text' instead of one of the predefined request types. You can also choose to load one a template.

Currently, this just overrides potentially already entered text without warning:

https://user-images.githubusercontent.com/4048809/136292933-2c67976b-1382-4827-8910-9a7951609489.mp4

Instead, we should let the user confirm they want to override the

[2021-10-06 22:43] baltpeter opened #737 "Implement more tests for the generator"
We already have a few [tests for the generator](https://github.com/datenanfragen/website/blob/master/cypress/integration/components/generator.spec.js). They should be expanded with the following:

* [ ] For emails, the 'Recipient (email address)' field is correctly reflected in the `mailto` link and in the 'Copy text manually' modal.
* [ ] Changing the request type produces a different generated r

[2021-10-07 01:40] Rafajrg21 opened #738 "Running both starting scripts in a single terminal"
When I forked the project and started my developing process I thought about how it would be easier to run both starting commands (**yarn dev** and **hugo server**) in a single terminal.

My proposal is to add the [concurrently](https://www.npmjs.com/package/concurrently) package to the Dev dependencies and use it from a single **start** script. Personally I think that's a better developer experien

[2021-10-07 08:14] mal-tee commented on #673
Sorry, we are not really interested in an implementation right now.

[2021-10-07 09:19] baltpeter commented on #738
Thanks for the suggestion. So far, we haven't done that as both Hugo and Webpack produce a fair amount of (sometimes relevant) terminal output and this approach would mix them, making it harder to read.

And with the changes in #701, this won't be necessary anymore anyway, as we are then building the JS through Hugo as well.

[2021-10-07 09:19] #738 closed, assigned to nobody

[2021-10-07 09:38] baltpeter commented on #663
That too, good point. I'd say it would be possible if we were using Typescript and had a reliable way of finding uses of that. But alas we don't.

Anyway, the question of whether we want to change the placeholder remains. I'm voting "no". If anything, I think we should just rename them all to "Address line {1,2,…}".

[2021-10-07 09:54] tiger-yash commented on #668
ok then I'll raise a PR with those design changes.

[2021-10-07 15:23] kritikash18 commented on #737
@baltpeter Can I try this?

[2021-10-07 19:35] zner0L commented on #737
@kritikash18 What kinds of tests are your looking to add? Or do you want to add all of them?

[2021-10-07 21:53] zner0L commented on #579
Sorry for leaving this unanswered! I think we should talk about this in a board session and then maybe have a chat with you, @fm?

[2021-10-08 07:56] kritikash18 commented on #737
@zner0L If all the tests are for generator only, then I can add all of them

[2021-10-08 13:45] mal-tee commented on #658
Yes! I'd suggest using something like `grep` to find all missing SVGs.

[2021-10-08 17:27] #551 closed

[2021-10-08 22:19] mal-tee opened #743 "Use Cypress 7/8 capabilities"
- [ ] test downloads
- [ ] use intercept in suggest-test
	- https://github.com/datenanfragen/website/blob/652baf94bfec398a72ca5acb39016392d110b2a5/cypress/integration/use-cases/suggest.spec.js#L7-L10

[2021-10-09 12:17] daniel-shuy commented on #546
I've created a PR for this at #745

[2021-10-09 19:34] Bhavin789 commented on #597
Hello @baltpeter, if this is still open, may I give it a try? Thanks!

[2021-10-09 19:36] Bhavin789 commented on #491
Hi @mal-tee @baltpeter , if you can give me a few more details on what is expected, would love to give it a try. Thanks!

[2021-10-09 20:03] baltpeter commented on #491
@Bhavin789 What exactly are you unclear on?

[2021-10-09 20:04] baltpeter commented on #597
@Bhavin789 It has not yet been decided whether we even want to implement this (see the `discussion` label).

[2021-10-09 20:41] mal-tee opened #749 "Prettier cypress folder?"
https://github.com/datenanfragen/website/blob/b99ed802256fc4b511913298f4342f6d8a0d3f9b/package.json#L38

Shouldn't this include `cypress` as well? Or `scripts`.

[2021-10-10 04:17] Bhavin789 commented on #491
@baltpeter I meant from where I can see the above Screenshot? Apology if I am missing something. I am able to run the website locally but don't know how to check for the above screenshot.

Do we show code snippets anywhere? Thanks

[2021-10-10 09:47] c0d3x27 opened #751 "Request parameters"
Hi

First of all, thank you for your work, I was trying to test it asking **Instagram** for my personal information which they are not trying to give me back because there is no way to get in contact with them via email(at least that I know), I had tried any email on the internet.

This is why I wanted to test your website but for some reason when you choose the option to send your letter via emai

[2021-10-10 10:09] baltpeter commented on #600
@SaviPrograms A vector representation of the signature would also work. Unfortunately, I think this would require quite a few changes.

[2021-10-10 10:13] #751 closed, assigned to nobody

[2021-10-10 10:33] c0d3x27 commented on #751
@baltpeter oh, I understand. I just thought they did had an email address but I didn't know about it. Again thank you for your work guys. This wasn't a criticism in any way, I just thought you guys didn't use it because you wanted to give more freedom to which departments of facebook send your letter to. which is why I suggested a drop-box list filled with their emails.

[2021-10-10 11:46] ThisIsFaar commented on #448
Hi @baltpeter, attaching the sample mobile view.
assign this issue to me, If the sample looks fine I will make a pr.
![image](https://user-images.githubusercontent.com/67395591/136694128-a14b7e0a-6572-4781-92eb-a8023ccaacbb.png)

[2021-10-10 14:31] tiger-yash commented on #668
@baltpeter
 I have raised a PR #740 resolving this issue, please review.

[2021-10-10 14:49] c0d3x27 opened #755 "Vulnerable Code"
Hi

Since I already had one of my pull burned which translated to spam for hacktoberfest, I will just let you guys know about this vulnerability here and hope this can count for it. Your website is vulnerable to redirect

POC
@evil.com # ADD this to any of your 6 websites

Address this vulnerability by escaping `.` appropriately: `regex = /((www|beta)\.)?example\.com/`

This string, which is used

[2021-10-10 16:16] mal-tee commented on #755
Hi!

It isn't. At least not in respect to your example and to our knowledge.

That code is in a test for cypress, our testing-framework. It's just a simple assertion. While I agree that it would be more correct to escape that point, it's not a vulnerability, only a slight error in our test that checks the production website, possible generating false-negative results.

That particular line checks

[2021-10-10 16:16] #755 closed

[2021-10-10 16:41] davenewham opened #757 "404 Pages are not available in different languages"
Even though it doesn't make much sense, I would still expect to be able to go to different language versions

![grafik](https://user-images.githubusercontent.com/15076177/136705328-423c0053-6bae-4d61-994c-3385983f6979.png)
![grafik](https://user-images.githubusercontent.com/15076177/136705332-28681f97-b5aa-42aa-bd8c-abc708d5857b.png)

[2021-10-10 17:35] Hanaffi commented on #646
@zner0L Can you please assign this to me?

[2021-10-10 18:18] c0d3x27 commented on #755
+ It isn't. At least not in respect to your example and to our knowledge.
by adding the @ and whatever domain it will redirect

+ Btw.: Our tests are never shipped to users.
I didn't know this. in fact, I do pen test for what it matters, I saw your website and just wanted to test it for vulns.

+ Please validate your findings before making claims.
The moment the redirect was made from your website

[2021-10-10 23:36] fm commented on #579
Sounds good - whatever you all decide!

[2021-10-10 23:38] fm commented on #695
Forgot to post here, I have `Territorial scope of the GDPR` translate but for some reason never merged it (my bad!)

@devmaufh If you could do `More than just coupon codes: Browser extension Honey also collects their user’s history data`, that'd be awesome.

[2021-10-10 23:41] mal-tee commented on #695
I've updated the issue accordingly.

[2021-10-11 07:58] AsianCat54x commented on #483
Hey, can I work on this issue?

[2021-10-11 15:28] AsianCat54x commented on #483
Thanks ;)

[2021-10-11 21:57] baltpeter opened #765 "Write a regression test for #764"
Our search bar should filter the search results based on the country the user has set. In #746, I fixed a bug with that. To make sure we don't regress on that again, we should write a test.

## Tips:

* Our browser tests are based on [Cypress](https://www.cypress.io/). To get an overview of Cypress, we recommend going through their very extensive and well-written [guides](https://docs.cypress.io/g

[2021-10-11 23:33] zner0L commented on #448
Sure, @ThisIsFaar I'll assign you then. Please keep the changes to the styles as simple as possible and reuse existing classes where you can.

[2021-10-12 03:39] YuriCodes commented on #695
Hello! Native spanish speaker here. I would love to help translating 'More than just coupon codes: Browser extension Honey also collects their user’s history data' and i also have background knowledge on GDPR

[2021-10-12 08:16] Bhavin789 commented on #597
Sure @baltpeter , no worries. Thanks!

[2021-10-12 09:34] zner0L commented on #239
And if you are unsure of your solution you can just open up a Draft PR and we can look at it.

[2021-10-12 09:55] mal-tee opened #773 "Czech translation"
Thanks to @skvrnami we are almost ready to prepare the website and deploy a new language! 🥳

There are still a few things TODO, I'll probably miss some, but this issue can be used to track our progress.

- [x] Domain name
	- @skvrnami Do you have an idea for a nice domain name? It should be a translation of "datarequests" or something similar.
- [ ] After the translation part is done, we have our

[2021-10-12 16:45] Hanaffi commented on #765
@baltpeter Can you assign this to me please?

[2021-10-12 18:30] TomerPacific commented on #694
@baltpeter, just wanted to update that I am having some issues with setting up the local environment. I am working on a Windows machine and am following the development guide. It seems that running the deploy.sh script takes a really long time. Don't know if that is the expected behavior.

[2021-10-14 12:56] JohannesFischer commented on #533
Just my two cents here. I like the mockups but I would suggest to add the reset button on the right end of the star widget, so it won't shift after a star rating has been selected. This is under the assumption that the button is not visible until a rating has been selected. My suggestion would be doing something like this (sorry for the quick and dirty mockup):
⭐⭐⭐⭐⭐❌
Also +1 for using SVG icons t

[2021-10-14 18:06] davenewham commented on #533
Hi @JohannesFischer, these designs were inspired by the w3 examples on star ratings https://www.w3.org/WAI/tutorials/forms/custom-controls/#a-star-rating, where the reset button is actually just a "0" rating. Other than that, I do agree - for me personally, it is more visually pleasing to have the reset on the right.

I even forgot I worked on this issue, and other than the initial mock-up this is

[2021-10-14 21:25] baltpeter commented on #662
@Jaagrav I think that still covers up too much of the screen and it really isn't obvious that those are two separate scroll areas.

I think we should just have the letter buttons in the scrollspy on mobile.

[2021-10-15 10:24] encodeArnab commented on #596
Hello @baltpeter,
I've tried running Hugo server several times, but it never returned this result, and the server isn't even running. I've followed all of the instructions.
It says in the output ```fatal error: pipe failed```
What am I supposed to do?

[2021-10-15 13:36] baltpeter commented on #596
@encodeArnab That sounds like an error with Hugo or your Hugo installation. Unfortunately, I can't help you with that.

[2021-10-15 23:26] WebworkrNet opened #784 "Company database "tested": Display currently only in search results"
The label "tested" is only displayed in search results, but not in the detailed view itself. It is possible that this phenomenon only occurs on mobile devices.

[2021-10-15 23:35] WebworkrNet opened #785 "Company database "tested": adding a legend"
In addition to Issue #784, I miss a legend that explains what the symbol means and what the requirements are for the award.

[2021-10-16 19:03] WebworkrNet commented on #785
@baltpeter Title text means a mouse over text or a permanently visible text next to the icon?

[2021-10-17 04:03] marlonemmerich commented on #735
Hello, friend! I created a PR (https://github.com/datenanfragen/website/pull/788)
Please, check if now makes sense for you: now, if the new field have the same type and value of anyone that was before inserted we don't insert.

If i did any mistakes or if you need more help, just tell me!

Have a nice day!

[2021-10-17 04:54] Jaagrav commented on #735
Oh crap, I thought this issue was going to go stale cause you were assigned 10 days ago 😅
Anyway in my PR I hide the fixed field like requested in the issue, you can close my PR if you want to.

[2021-10-17 14:43] marlonemmerich commented on #735
Oh god, sorry =\
I had some problems, I just had time to do this yesterday
But your'e right: the issue told to hide the fields and I don't did that, you put more energy on this and did a great job!
I really understand if we use your PR instead of mine!

[2021-10-17 14:52] marlonemmerich commented on #735
I have a idea! You did a confirmation with a alert. What you think if we use this modal confirmation? Like this:
![zlomklo](https://user-images.githubusercontent.com/52637919/137632754-e5d675f0-c168-4ce5-93ca-ac6442d53f26.png)

Maybe I can do this! In this case, you and me get a hacktoberfest PR ;)

[2021-10-19 02:54] kritikash18 commented on #737
@baltpeter @zner0L I've written and tested some of the required tests. I needed clarity on one of the tests.

`When 'erasure request' is selected, the text is changed based on the 'Erase all data' checkbox and the 'Data to erase' field.`

For me, when clicking on erase all data checkbox, the only difference I see is that the data to erase field disappears but in the above description, it is mentio

[2021-10-19 15:43] notsatan commented on #785
@baltpeter, just checked on Firefox as well - the title text seems to be working fine

![screenshot](https://user-images.githubusercontent.com/22884507/137944838-9d5d8083-66dd-48bd-b47f-77fbc59bfa1f.png)

Not sure about the unverified label - haven't seen it so far. I'm on Arch Linux using Firefox v93 (64-bit) if it helps.

[2021-10-19 19:37] baltpeter opened #791 "Convert `window.onload` uses into `window.addEventListener()`"
Otherwise we risk accidentally overriding them. This happened here for example: https://github.com/datenanfragen/website/pull/782#discussion_r732131575

[2021-10-19 21:05] #791 closed, assigned to murattishkul

[2021-10-20 02:05] WebworkrNet opened #793 "Related companies: Circular reference"
Under certain conditions, the company is listed again under similar companies.

Example:
Acxiom Deutschland GmbH refers to itself.
https://www.datenanfragen.de/company/acxiom/

I have not yet been able to find out why this phenomenon only occurs with certain companies.

[2021-10-20 08:38] baltpeter commented on #793
Interesting, thanks for reporting. The code that computes the related companies _does_ include a check that should prevent this from happening:

https://github.com/datenanfragen/website/blob/af196bfd18a07deea65e4b25cb3fb904f6bab131/layouts/partials/related-companies.html#L11

But I can confirm that it doesn't appear to work.

[2021-10-20 10:17] mal-tee opened #796 "Fix anchor link labels"
Atm. the labels are always in English.

https://github.com/datenanfragen/website/blob/93ecc4aa7ed846db3459e2e3f7be40e027d13ba9/layouts/_default/_markup/render-heading.html#L4

[2021-10-24 16:59] mal-tee opened #803 "test: Check if a translation macro actually exists"
We should also write a test that checks if a macro is defined, if it's used in the translations. Feel free to move this into a new issue.

_Originally posted by @mal-tee in https://github.com/datenanfragen/website/issues/802#issuecomment-950316326_

[2021-10-24 17:01] mal-tee opened #804 "Test for wrong spellings of the association's name"
I think we should move the name of our association into a macro (#802), to enforce the spelling, i.e. don't have different versions (space, no space, nbsp, ...) of the "e.V." part. :D

[2021-10-24 17:08] mal-tee opened #805 "Test: check if safeHTML is used for strings containing HTML"
to catch mistakes like https://github.com/datenanfragen/website/pull/802#pullrequestreview-787503469

[2021-10-25 22:02] WebworkrNet opened #807 "Company generator: mandatory copy of identity document"
The case of having to present a copy of an identity document to the provider is relatively frequent. It would therefore be an advantage if "`needs-id-document`" could be set to "`true`" directly in the form. I am always undecided how I should accommodate this directly in the form. An implementation would certainly reduce the need for subsequent editing.

[2021-10-25 22:26] WebworkrNet opened #808 "Suggest: Contact data "tested""
The case of marking a record as "`tested`" occurs relatively often. It would therefore be advantageous if this could be selected directly in the form when proposing a new company or updating an existing record. An implementation would certainly reduce the need for subsequent editing.

Compare: https://github.com/datenanfragen/data/pull/1251#issuecomment-913652059

[2021-10-30 17:51] Rutam21 opened #811 "Upgrade the Issue Template to use GitHub Issue forms"
## Introduction
GitHub has recently rolled out a public beta for their issue forms feature. This would allow us to create interactive issue templates and validate them.

Datenanfragen-Website currently doesn't use any issue template format. The task is to create GitHub issue forms for this repository.

## Tasks summary:
 - [ ] Fork & clone this repository
 - [ ] Prepare bug report issue form in .g

[2021-10-30 17:53] Rutam21 commented on #811
@baltpeter Please take a look at this issue and let me know if it looks good to you. Please add appropriate `hacktoberfest` labels as well.

[2021-10-31 19:10] baltpeter commented on #811
Sorry but that is not something that we are interested in.

[2021-10-31 19:10] #811 closed

[2021-11-10 21:54] #679 closed

[2021-11-11 20:34] baltpeter opened #823 "Language suggestion message is also shown if no other languages are available"
The `I18nWidget` only shows the languages for the _current_ page, not for the site as a whole.

Steps to reproduce:

1. Have browser language != DE.
2. Clear `country` cookie.
3. Visit https://www.datenanfragen.de/blog/e-mail-werbung-einwilligung-beschwerde/

![image](https://user-images.githubusercontent.com/4048809/141364596-5c2b8555-a99d-4745-a042-7ac733305fd1.png)

[2021-11-16 11:30] #239 closed

[2021-11-17 15:56] mal-tee opened #827 "`react-scrollspy` deprecated"
Seems like https://github.com/makotot/GhostUI ist from the same author.

[2021-11-22 16:37] skvrnami commented on #773
Sorry for the delay, after some thinking I think that "zadamudaje" is the best option. ("Žádám údaje" means "I am requesting the data").

[2021-11-26 17:19] zner0L commented on #773
I think I like the first one better. We try to use names which are not only about accessing data but also other requests concerning personal data e.g. erasure requests.

[2021-11-27 09:36] #660 closed

[2021-12-07 19:55] mal-tee opened #834 "Check hugo version in `deploy.sh`?"
Sometimes we had external contributors having problems with setting up our stack due to them having out-of-date or wrong, i.e. not the extended, versions of hugo.

Although deploy.sh main purpose is different, we could include a hugo version check, to warn new contributors early? Maybe even stop the process.

Is that something we want? :D

As a potential downside I see the possibility of us specif

[2021-12-07 21:06] baltpeter commented on #834
Eh, I wouldn't mind that.

But you'd have to implement checking for version `>=`, not just `==`.

[2021-12-23 13:07] #735 closed

[2021-12-23 13:10] #650 closed

[2021-12-24 12:55] baltpeter opened #836 "Fix "tested" and "imported/scraped" hover text"
Thanks!

This PR introduces a new regression in that the title text for the "tested" and "imported/scraped" icons doesn't work anymore. But since that is a lot less bad than previously, I'm happy to merge this now and create an issue.

_Originally posted by @baltpeter in https://github.com/datenanfragen/website/pull/835#pullrequestreview-839911354_

[2021-12-26 19:57] mal-tee opened #838 "Add "skip navigation" link"

[2022-01-11 11:26] #836 closed

[2022-02-12 23:32] mal-tee opened #849 "Investigate meta tags on dutch site"

[2022-02-13 10:25] mal-tee opened #850 "Translate/Create Portuguese `_index.md`"
We are missing [this file](https://github.com/datenanfragen/website/blob/master/content/en/_index.md) for the Portuguese website.

[2022-02-13 10:49] mal-tee commented on #849
Turns out the `_index.md` was missing.

[2022-02-18 13:24] baltpeter opened #853 "Move manual anchor elements to Hugo Markdown"
We are sometimes manually adding anchor elements to create fragment links, like here:

https://github.com/datenanfragen/website/blob/69cb8e5b9598e9422b3bceb5db49ca4b96d55b25/content/en/blog/hacktoberfest-2020/index.md?plain=1#L55-L57

We should convert them to more idiomatic Hugo Markdown which would look like this:

[code]

This would also have the benefit of these IDs being used for the anchor l

[2022-02-18 23:31] #643 closed

[2022-02-20 10:33] mal-tee opened #855 "i18n-widget: No label for headings"
I tried to use our homepage with NVDA on Win 10 with FF.

![grafik](https://user-images.githubusercontent.com/45886910/154838437-ac329370-0119-4a03-a36d-d307b84f33c8.png)

It skips directly to "Deutsch"/"alle" without reading "Sprache" or "Land", making it quite confusing.

I think this occurs because we don't provide a `<label>`?

[2022-02-20 10:34] mal-tee opened #856 "Herolines aren't read by a screenreader"
Same setup as in #855:

The screenreader jumps to "use it" without reading our typewrited hero lines.

[2022-02-20 10:36] baltpeter commented on #855
Not sure why it doesn't read the headings but yes, those should absolutely be labels for the `<select>`s.

[2022-02-20 10:40] mal-tee commented on #855
Addendum: It does read the headings when browsing with the arrow keys, but doesn't if you jump to the select via Tab.

[2022-02-20 12:06] #838 closed

[2022-02-20 13:30] mal-tee commented on #856
Addendum: It read's the first line if you navigate to it via the arrow keys, (not via tab), but only "You have a right to" and then the "Use it"-link.

[2022-02-24 13:11] mal-tee commented on #773
How should we proceed here? Seems like the only hold-up is the name?

[2022-03-05 15:00] mal-tee commented on #773
@baltpeter @zner0L

I'm with every name. :)

[2022-03-07 14:53] milotype opened #862 "Wrong link in contribute page"
**PROBLEM**
In the webpage https://www.datarequests.org/contribute/, section [Writing content](https://www.datarequests.org/contribute/), IMO there is a error in the link in the first sentence:
`Apart from the generator and company database, we also want to offer comprehensive <a href="/">posts</a> about all topics relating to privacy and data protection.`

**SOLLUTION**
I'm not sure but I think t

[2022-03-07 18:12] #862 closed

[2022-03-07 19:30] milotype commented on #773
I don't speek Czech. Maybe it helps to check the issue #566 about the Croatian domain name ...

[2022-03-15 14:40] mal-tee opened #866 "Translate `alt` text in "verein" page"
https://github.com/datenanfragen/website/blob/fbe4f6d6aa27957ea7f61d35a169b8c5e4fbcfe1/layouts/verein/list.html#L7
https://github.com/datenanfragen/website/blob/fbe4f6d6aa27957ea7f61d35a169b8c5e4fbcfe1/layouts/verein/list.html#L16
https://github.com/datenanfragen/website/blob/fbe4f6d6aa27957ea7f61d35a169b8c5e4fbcfe1/layouts/verein/list.html#L25

[2022-03-17 17:13] AnmolBansalDEV commented on #866
do you want them to be translated into english?

[2022-03-17 17:50] zner0L opened #867 "Refactoring: Implement state management"
Since we currently manage all of our state manually and pass it down via props, we encounter lots of bugs and inconsistencies because the states drift out of sync (e.g. the broken productions tests). We decided to use [zustand](https://github.com/pmndrs/zustand) for this.

[2022-03-17 19:54] mal-tee commented on #866
Yes, one would need to
1. [ ] Replace the string with our translation function `T`
2. [ ] Move the German string into our translation files
3. [ ] and translate it to English as well :D

Our dear weblate contributors will then translate it to the other languages.

[2022-03-17 20:57] baltpeter opened #868 "Clean up code base and convert to TypeScript"

[2022-03-17 23:04] baltpeter commented on #495
With https://github.com/datenanfragen/data/pull/1705, we're most of the way there.

Now, we're only waiting for https://github.com/typesense/typesense/issues/133.

[2022-03-18 11:45] baltpeter opened #871 "Remove `requests` scope from `I18N_DEFINITION`?"
In our i18n loader for Webpack, we are already removing the Hugo translations to cut down the size since we don't need them:

https://github.com/datenanfragen/website/blob/1f25f38833ddc297574dafe1ead88d8b31d9dc4b/scripts/webpack-i18n-loader.js#L38-L39

I _think_ we can also do that for the `requests` scope. Those translations are used for generating `I18N_DEFINITION_REQUESTS` and I'm pretty sure w

[2022-04-07 16:42] zner0L commented on #871
I agree. Lets get rid of them!

[2022-04-07 16:44] zner0L opened #875 "Consider using useErrorBoundary"
Since we are already moving the code to a function style components with hooks, we should consider moving parts of the error handler into [`useErrorBoundary`](https://preactjs.com/guide/v10/hooks#useerrorboundary). This should make this much  easier without us having to catch and `rethrow` errors and give us more fine grained control over where we catch errors.

[2022-04-11 21:48] baltpeter opened #878 "Replace most event.target uses with event.currentTarget"
I've been annoyed that `event.target` is a generic `EventTarget` in TypeScript that you can't do anything useful with and have been casting that to the element type I'm expecting:

https://github.com/datenanfragen/website/blob/057f07e9a4b61bf38808482fc74ee14604d02589/src/Components/CommentsWidget.tsx#L265

Unsurprisingly, I've now found that TypeScript was of course right all along (as it usually

[2022-04-22 21:15] zner0L opened #880 "Check how we use the key property in components"
We use `key` incorrectly on some components, which leads to some weird bugs (e.g. inputs not updating even though they should). We should check all components using `key` if they use it correctly.

Additionally, all components iterating over static arrays (we have quite a few of those) should use key, as this improves performance a bit.

More information: https://stackoverflow.com/questions/283293

[2022-04-22 22:04] zner0L opened #881 "Use Map for id_data"
Currently, a lot of problems in the code arise from there being no unique id for the `IdDataElements` (related: #880). This is because we save the (more ore less generic) elements into an array, where they are only positionally identifiable. To fix it, I suggest we save the elements into a `Map` (or maybe `Map`-like object?) which adds unique keys to them and convert back to an array where this is

[2022-05-04 11:40] GloomyD opened #882 "JS error (undefined)"
[S'il y a lieu, pense à fournir le contexte de l'erreur, c.-à-d. décrire ce que tu as fait avant que l'erreur ne se produise. Pense également à supprimer toute information sensible des informations de débogage ci-dessous.]

**Debug information:**

[code]

[2022-05-04 12:10] baltpeter opened #883 "Make ESLint errors and warnings fail the build"
Once we've sorted out the current warnings, we should make sure we don't miss any future ones.

[2022-05-04 13:06] #878 closed

[2022-05-06 17:33] baltpeter commented on #882
Hi, thanks for the report!

This is actually not a problem with our site but an error in one of the extensions you have installed. We do have code that is supposed to filter these unnecessary errors out, but it seems like Safari has changed the scheme they are using, which is why it slipped through.

I've opened a PR (#886) to handle the new scheme. Once that's merged, the error should not show up

[2022-05-10 23:41] #882 closed

[2022-05-11 14:09] baltpeter opened #888 "Get rid of prop-types"
Once we've ported everything to TS, we won't need props-types anymore.

[2022-05-17 15:17] rugk opened #889 ""Loading the suggested companies in the wizard failed" and unable to report it"
## STR

Just visited the website https://www.datenanfragen.de/ on some device where I have not visited it for some time.

### What happens

I got this window.

![grafik](https://user-images.githubusercontent.com/11966684/168844375-6fe6e789-acbd-414b-a093-94b82f640e5d.png)

I clicked on "Report via GitHub" and it seem to reload the site or whatever and I got the same error.
Then tried "Report via m

[2022-05-17 15:20] rugk commented on #889
Ah, it actually seems to be reproducible.

It tries to load some strange URL and fails there:
![grafik](https://user-images.githubusercontent.com/11966684/168847277-ba34ec84-5124-4ab9-99d0-bea9901e5c96.png)

[code]

[code]

[2022-05-17 15:22] rugk commented on #889
## Local storage

Looks okayish:
![grafik](https://user-images.githubusercontent.com/11966684/168847709-9097e867-0dac-4aec-9b25-42f19e2fe43c.png)

Also the other data is still there and looks valid, even the wizard company list is filled:
![grafik](https://user-images.githubusercontent.com/11966684/168847926-842e3722-62c4-4099-b949-cc289f802da7.png)

[2022-05-17 15:28] rugk commented on #889
Maybe the issue/error that leads to your error dialog not working is that the dialog pops up twice... I checked it with breaking on exceptions.
I.e. first the first error happens, then the dialog still looks fine…

![grafik](https://user-images.githubusercontent.com/11966684/168848830-aa6dbfbf-7da3-49fc-a050-e2cd963beaff.png)

…but when I continue and the dialog pops up again due to (subsequent fa

[2022-05-17 16:06] rugk commented on #889
BTW I can also not close the modal… :upside_down_face:

[2022-05-17 16:07] rugk commented on #889
BTW I can also reproduce it on another device, so definitively an error here…

[2022-05-17 16:08] baltpeter commented on #889
Oh, that's worrying. :| I'll have to do some more testing myself then.

[2022-05-17 16:17] baltpeter commented on #889
You're right. I am able to reproduce the error modal problem whenever a second error is thrown. That's good to know.

[2022-05-17 16:54] KILLERMANTV opened #891 "JS error (Uncaught TypeError: Cannot read properties of undefined (reading 'toLowerCase'))"
[If applicable, please provide some context for the error, i.e. describe what you did before the error occurred. Please also remove any sensitive information from the debug information below.]

**Debug information:**

[code]

[2022-05-17 17:02] rugk commented on #889
Well oaky, now the descriptive error is not catched anymore, but only that other strange error ("e[5] is undefined")... I'm not sure this is better...

![grafik](https://user-images.githubusercontent.com/11966684/168870079-bbcfd3ed-4a65-4932-bf56-e81f86a8e975.png)

[2022-05-17 17:04] zner0L commented on #889
Do you still see the error if you clear your localStorage?

[2022-05-17 17:07] rugk commented on #889
(Closing button works again, at least.)

[2022-05-17 17:12] zner0L commented on #889
Ok, I narrowed the error down to `js-cookie` because it is bundled in the `common.bundle.gen.js` in line 25 as the debug info states. I think that one of your extentions (I am suspecting CookieBlock) might interfere here, since we delete the cookie and then try to read an empty one. Although this should still be fixed, can you try disabeling CookieBlock and clearing your localStorage?

[2022-05-17 17:18] rugk commented on #889
Tried. Also happens with cookie block "paused":
![grafik](https://user-images.githubusercontent.com/11966684/168872659-5233ea78-15dd-4ad4-aae0-412134606d9b.png)

[2022-05-17 18:39] baltpeter commented on #891
Thanks for reporting this!

I think this should be the same problem as in #889. Could you please try the build at https://deploy-preview-890--datenanfragen.netlify.app/ and check whether the error still occurs?

[2022-05-17 18:50] baltpeter commented on #889
@zner0L We could probably even undo eba94e5f1e8f7217ee0423350f85f42a5334c801. Or we could decide to keep it just in case. Not sure.

[2022-05-17 20:58] zner0L commented on #889
Well, I wanted that in the first place, so I vote keep.

[2022-05-17 21:25] baltpeter commented on #889
I'll leave this open until the fix is confirmed by @rugk.

[2022-05-19 20:56] baltpeter commented on #889
Great, thank you!

The `connectionTimeoutSeconds` warning should be fixed by #887.

[2022-05-19 20:56] #889 closed

[2022-05-21 13:31] baltpeter opened #892 "Move ID data to a persisted zustand store"
_Originally posted by @baltpeter in https://github.com/datenanfragen/website/pull/874#discussion_r872604448_

[2022-05-24 12:53] #868 closed

[2022-05-28 11:47] baltpeter opened #894 "Type declaration files aren't supposed to export values"
https://github.com/datenanfragen/website/blob/8fc144f5f40b19ea787330b2f27ee6a127345814/src/types/request.d.ts#L3-L4

[2022-05-28 11:48] baltpeter commented on #894
Just noticed that this isn't the only `.d.ts` file where that's the case…

[2022-05-29 21:21] KILLERMANTV commented on #891
Hello,
Issue #889 has been closed and error does not occur on production url, neither the preview one.

[2022-05-29 21:21] #891 closed

[2022-05-31 11:57] baltpeter opened #896 "Address is not included in generated request if first line is empty"

[2022-05-31 20:45] #896 closed

[2022-06-16 13:25] baltpeter opened #903 "Implement a complaint generator"
As part of the Prototype Fund funding we're receiving, @zner0L and I will build a complaint generator. \o/

[2022-06-16 13:28] baltpeter commented on #903
I've started collecting potential reasons for complaints that the complaint generator should present to the user (still WIP):

## Before a request was sent

* Controller offers no way of contacting them for requests. -> Art. 12(2) GDPR, Art. 13(1)(a, b) GDPR/Art. 14(1)(a, b) GDPR

## During a request

* Controller requires too much ID data -> Art. 12(6) GDPR
    * Has the controller set forth any

[2022-06-17 18:00] baltpeter commented on #903
I don't think I have any more ideas for the list of reasons above. That should definitely be enough for a first iteration. :D

If anyone has an ideas for other cases we should cover, I'd be happy to hear those, same for any other comments on the reasons I did list.

[2022-06-21 07:47] zner0L opened #905 "Only use relative font sizes"
To allow users to enlarge the website to a size they can read better, relative font sizes like `rem` should be used in the CSS. We are very inconsistent about this at the moment and should convert all pixel font sizes to visually equivalent relative ones.

Changing the font sizes should also not break the website. We should test text enlarging and how some components react to it. Also, for the mob

[2022-07-14 10:06] baltpeter opened #910 "Cleanup from website#895"
In the interest of moving forward, we'll soon merge website#895 into `new_ux`.

But the following still needs to be addressed before `new_ux` can be merged into `master`:

- [ ] Decide how to integrate app into the website (do we want it on that weird `/app` page?
- [ ] If we do: [Proper meta data for app page](https://github.com/datenanfragen/website/blob/bd96720a28bdf90cea9e6da8e7541fe484be55e6/

[2022-07-14 10:07] baltpeter commented on #910
We'll also need to address the user testing feedback:

- [ ] https://github.com/datenanfragen/website/pull/895#issuecomment-1177486267

[2022-07-15 10:10] baltpeter commented on #903
I've started designing a flow for how the wizard would work. Here's my [draft for the first case](https://flowchart.fun/c#H4hQBsEME8HsFcAuAuUACNAnSA7A1gCICWmyaAKgELpo6QC2ApmQCaQDmmjoIwoAEpADOaRAAtGaAMawciTLHDhGmabHoAHcEUYs0AdyLi0ceKq4BHeIyGIA-DWg2y5APIFXaepDyShZyXFIRAByEUgpRHhIJWhRCWlhbgwAbVxocSIcdgBaRnAhRgBdWlgyAHUxIikxNFgAM3ibSVgNRCJZcI0tHSE7AHoAQRwMquy0fMKHDAwAYVl5RWVzRisSG1FYWC94GrQASQI0NkRIAD

[2022-07-15 10:21] zner0L commented on #910
- [ ] The focus should be reset to the company chooser modal in the company packs (otherwise you need to tab through the whole page)
- [ ] Which reminds me: Our modals are not a11y-friendly, yet.

[2022-07-17 10:13] baltpeter opened #914 "Don't reference non-existent Twitter account in <head>"
Um, yeah…

https://github.com/datenanfragen/website/blob/0ecee16402e1d71e0c5f65a49744af61dc1300a6/layouts/partials/head/meta.html#L99-L100

That should be @DatenanfragenDE for German, and @datarequestsORG for everything else.

[2022-07-22 09:48] zner0L opened #917 "Add tests for our localForage replacement"
The `PrivacyAsyncStorage` introduced in #916 does not have any unit tests currently, but some should be implemented, especially testing the switch between localStorage and idb.

[2022-07-25 11:09] baltpeter opened #918 "Don't download `letter-generator` on every page load"
`letter-generator` ended up in `vendors.bundle.gen.js`, making it 1.34 MB. This is included in every page load. Obviously, that is not acceptable.

We only need to load `letter-generator` when generating a PDF.

[2022-07-28 16:43] zner0L opened #919 "Global settings for unimportant request parameters"
We want to define global settings for advanced users to give them back the control they use in the next generation of the generator. This is only for details. I want to collect all parameters we want global settings for in this issue:

 - [] data portabillity (default: true)
 - [] transport medium (default: email)
      this is a tricky one: do we want users to be able to overwrite what we think i

[2022-07-28 17:12] baltpeter commented on #919
Re transport medium: Yes, setting this pref should always override.

[2022-08-01 17:30] zner0L commented on #910
- [ ] Test our amazing new localforage replacement (see #916)

[2022-08-01 17:58] zner0L commented on #910
- [ ] Get rid of `setCustomLetterTemplate`

[2022-08-02 15:39] zner0L commented on #910
- [ ] Pagination in proceedings list

[2022-08-30 22:16] baltpeter commented on #910
* Delete blobs from deleted messages (in the app-apps).
* Properly fix idb bug: "Uncaught DOMException: The operation failed because the stored database is a higher version than the version requested."

[2022-09-28 18:06] baltpeter commented on #910
- [ ] ID data explanation text isn't correct for tracking requests.

[2022-09-28 22:31] zner0L opened #935 "Decide how to integrate app into the website"
The app, or, as I started calling it, the "tool", i.e. the new generator interface needs to go somewhere on the webpage. On `new_ux` it currently just replaces the generator of which @baltpeter always said that we want to keep it. So if we keep it like it is, which would keep a lot of links intact if we support the old linking scheme, we need to find a place for the legacy generator. Maybe just da

[2022-09-29 07:36] baltpeter commented on #935
I already placed the old generator at /g, which is a bit silly but I also kind of like it.

[2022-10-02 10:27] zner0L opened #942 "Bug: Send request first popup does not disappear on Safari"
Noted during Bits&Bäume workshop. Details follow.

[2022-10-06 08:02] baltpeter commented on #402
Found a new one that is probably even quite popular with our users:

[code]

From <https://notmyplate.com/>.

[2022-10-06 09:06] mal-tee commented on #402
We could consider moving this functionality into a lib :thinking: I guess this would be useful for other people as well.

[2022-10-06 09:08] baltpeter commented on #402
Interesting idea, but I feel like the handful of webmailers we support so far doesn't really justify that yet.

Maybe a blog post would be more useful? So far at least, they are all just URL patterns anyway.

[2022-10-06 12:00] shyambh commented on #765
Hi @baltpeter , I work writing tests in Cypress and would love to help. Can you please assign this to me?
Thanks!

[2022-10-06 12:05] baltpeter commented on #765
@shyambh Thanks for wanting to help! We're currently doing some major refactoring on the `new_ux` branch, which will also include major changes to the tests. So it unfortunately doesn't make a lot of sense to work on this issue right now.

[2022-10-06 12:15] shyambh commented on #765
Oh ok. Would love to help in the future. Good luck with your refactoring.
Thanks!

[2022-10-08 05:50] raffaem opened #945 "JS error (ReferenceError: jQuery is not defined)"
[If applicable, please provide some context for the error, i.e. describe what you did before the error occurred. Please also remove any sensitive information from the debug information below.]

**Debug information:**

[code]

[2022-10-11 14:18] baltpeter commented on #910
- [ ] Duplicate `id`s if there is more than one `DynamicInputContainer` on a page: https://github.com/datenanfragen/website/blob/623b22dff11998a47749e0f239a21b6a60437200/src/Components/Generator/DynamicInputContainer.tsx#L156

[2022-10-12 13:03] baltpeter commented on #945
Thanks for the report, @raffaem!

From the debug information, I'd say the error is probably caused by a browser extension that you have installed, since I'm pretty sure we don't use or reference jQuery anywhere in our code.

[2022-10-15 08:50] baltpeter commented on #910
- [ ] https://github.com/datenanfragen/website/blob/f07d36385fb8fd1a1d8b3969528504c46baa7a52/src/Components/RequestList.tsx#L406-L407

[2022-10-17 12:13] baltpeter commented on #910
- [ ] https://github.com/datenanfragen/website/blob/f07d36385fb8fd1a1d8b3969528504c46baa7a52/src/Components/RequestList.tsx#L364

[2022-10-19 09:44] baltpeter commented on #910
- [ ] SvaFinder styling is broken again

[2022-10-21 09:20] davenewham opened #949 "Request types have inconsistent capitalisation + delete icon moves"
![image](https://user-images.githubusercontent.com/15076177/197161308-38f2a0fc-ea78-4dcf-9043-e9c04094a59b.png)

[2022-10-21 09:24] baltpeter commented on #949
We're actually working on a major update on the `new_ux` branch that will completely replace the existing "My requests" UI. It's mostly done, we're just working on a few finishing touches before we merge. :)

You can see a deploy preview at https://deploy-preview-921--datenanfragen.netlify.app/.

[2022-10-26 15:53] baltpeter commented on #910
* [ ] https://github.com/datenanfragen/letter-generator/issues/12

[2022-10-26 16:00] baltpeter commented on #910
* [ ] `vendors.bundle.gen.js` is huge (1.34 MiB)

[2022-10-28 15:08] baltpeter commented on #910
* [ ] Transparency details

[2022-10-31 16:24] baltpeter commented on #910
* [ ] Blog post about the launch

[2022-11-02 17:49] #945 closed

[2022-11-04 22:17] zner0L commented on #910
- [ ] Button to "reactivate" done requests

[2022-11-15 15:35] baltpeter opened #955 "Focus description field after adding new dynamic input"
As per https://github.com/datenanfragen/website/pull/895#issuecomment-1177486267, it may not be obvious enough that the user needs to change the description of a newly-added dynamic input. To solve that, we should focus the description input after the field was added.

Unfortunately, this isn't exactly straightforward. But I don't think this needs to block merging `new_ux`.

[2022-11-17 15:37] baltpeter opened #957 "Fix huge `commons.bundle.gen.js`"
For reference, I'll document my process of finding out why `commons.bundle.gen.js` has grown to 1.35 MiB and fixing that.

I started by gaining an overview of what causes the large bundle size.

1. Have webpack generate a `stats.json`: `BABEL_ENV=production yarn run --silent webpack --mode=production --config webpack.prod.js --profile --json > stats.json`
2. Use [webpack-bundle-analyzer](https://g

[2022-11-25 18:40] zner0L opened #959 "Respect language of the original request in admonitions"
As pointed out in https://github.com/datenanfragen/website/blob/94edd2343cd73cf768e21846c0f2b5cdcf069677/src/Components/Reactor/Reactor.tsx#L86
messages don't save the request language and so our new admonition generation cannot respect that. It would be nice to send admonitions in the correct language, though.

[2022-11-27 14:10] fm opened #960 "Error handler: Filter out 1Password errors in Safari"
Website is showing an error pop-up on every page load. Only seems to trigger in Safari (tested using Version 16.1 (18614.2.9.1.12)). Does not trigger in Chrome or Firefox. WebKit-specific issue?

<img width="1885" alt="Screenshot 2022-11-27 at 3 01 41 PM" src="https://user-images.githubusercontent.com/3654256/204139298-7374c9bf-8905-426c-931b-e132f13d8e6e.png">
<img width="1885" alt="Screenshot 20

[2022-11-28 10:48] zner0L opened #961 "Move reactor templates into JSON"
The reactor templates currently live in `templates.ts` where they are very hard to properly translate. They can, however, easily be moved into a JSON, as currently the file mostly contains a JavaScript object. We should discuss if this should move into the data repository like the other templates or be part of the website strings.

[2022-11-28 10:52] baltpeter commented on #961
This is also very much a question of how we want to load them on the website. Bundling all translations for all languages into the JS is obviously a bad idea. But neither do I want to add them to the regular translations—that would be way too much dead weight on every page load.

[2022-11-28 10:55] zner0L commented on #960
This might actually not be an issue with our website, but [1Password](https://1password.community/discussion/125208/safari-extension-often-loses-connection-to-1password). Do you use the extension in Safari and does the issue still occur if you disable it?

[2022-11-28 10:59] baltpeter commented on #960
Thanks! I've tried to reproduce this in Safari 15.3 and GNOME Web 42.4 (WebKitGTK 2.38.2) and didn't encounter an error, so maybe @zner0L is right.

[2022-11-29 20:29] baltpeter commented on #910
* [ ] Fix padding in multi-line buttons.
![Uploading image.png…]()